<section class="_about _i" id="about-main" style="background-color: {{ section.settings.background_color }};">
  <aside class="_i">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="_card">
            <div class="_info">
              <div class="_heading">
                <div class="text-butter title-3">
                  <h3 data-splitting>{{ section.settings.subtitle | escape }}</h3>
                </div>
                <div class="text-butter title-1">
                  <h1 data-splitting>{{ section.settings.heading | escape }}</h1>
                </div>
              </div>
            </div>
            <figure class="_bg">
              <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/about_pic.png?v=1748981680">
            </figure>
          </div>
          <div class="_items">
            <div class="_item text-dust">
              <span>women owned</span>
            </div>
            <div class="_item text-dust">
              <span>gluten free</span>
            </div>
            <div class="_item text-dust">
              <span>non gmo</span>
            </div>
            <div class="_item text-dust">
              <span>dairy free</span>
            </div>
            <div class="_item text-dust">
              <span
                >nut <br>
                free</span
              >
            </div>
            <div class="_item text-dust">
              <span>seed oil free</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_ii">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _1">
            <div class="_front">
              <div class="in-front _flex align-items-center">
                <div class="_info">
                  <div class="title-2 text-dust">
                    <h2 data-splitting>{{ section.settings.card1_title | escape }}</h2>
                  </div>
                  <div class="title-5 text-dust">
                    <h5 data-splitting>{{ section.settings.card1_text | escape }}</h5>
                  </div>
                  <div class="text-l text-dust">
                    <p data-splitting>{{ section.settings.card1_description | escape }}</p>
                  </div>
                </div>
               <div class="_media">
                 <div class="media-pics">
                   <div class="_pic _1">
                     <figure>
                       <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_4.png?v=1748636946">
                     </figure>
                      <div class="_message _1">
                        <div class="in-message">
                          <div class="_data text-dialogue-1">
                            <span>Law school graduation with my husband Sean!</span>
                          </div>
                          <figure class="_bg">
                            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 222 134" fill="none">
                              <path d="M126.221 116.912C128.89 110.31 129.769 106.708 124.974 101.076C123.355 99.1971 94.1827 100.315 88.915 99.8953C77.8412 99.0106 66.6632 98.6424 55.6845 96.9918C32.8067 93.5295 14.0721 89.5342 3.4707 74.5635C-5.48749 61.8884 4.93418 16.4965 24.6568 6.36641C45.6367 -4.37569 64.8292 4.16443 88.083 4.61776C116.812 5.17644 166.052 11.8716 192.748 22.5413C229.149 37.0758 224.036 90.5757 214.413 101.701C204.791 112.827 166.054 106.636 150.477 104.485C155.076 113.141 149.003 121.859 140.171 126.859C138.304 127.917 131.26 131.742 125.698 133.011C122.871 133.656 120.406 131.097 121.431 128.613C123.145 124.391 125.346 119.049 126.221 116.912Z" fill="#1E429B"/>
                            </svg>
                          </figure>
                        </div>
                      </div>
                              
                   </div>
                   <div class="_pic _2">
                     <figure>
                       <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_3.png?v=1748636946">
                     </figure>
                      <div class="_message _1">
                        <div class="in-message">
                          <div class="_data text-dialogue-1">
                            <span>As a lawyer, I settled into a rhythm of working 60-80 hour weeks and didn't set healthy boundaries.</span>
                          </div>
                          <figure class="_bg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="237" height="177" viewBox="0 0 237 177" fill="none" preserveAspectRatio="none">
                              <path d="M134.989 154.789C137.842 145.695 138.783 140.758 133.687 133.309C131.967 130.824 100.905 133.615 95.2969 133.274C83.5078 132.554 71.607 132.54 59.9205 130.774C35.5677 127.062 15.6273 122.445 4.36463 102.549C-5.15226 85.7023 6.01945 23.5204 27.0354 8.88534C49.391 -6.6368 69.8115 4.14055 94.5695 3.74384C125.157 3.25183 177.573 10.211 205.979 23.5575C244.712 41.7367 239.178 114.713 228.915 130.262C218.651 145.811 177.417 139.08 160.836 136.833C165.718 148.404 159.237 160.524 149.826 167.708C147.836 169.228 140.329 174.737 134.405 176.706C131.394 177.705 128.775 174.333 129.869 170.91C131.702 165.094 134.054 157.733 134.989 154.789Z" fill="#FFD664"/>
                            </svg>
                          </figure>
                        </div>
                          
                      </div>
                   </div>
                 </div>
               </div>
            </div>
              <aside class="_bg">
                <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                  <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
                </svg>
                <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                  <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
                </svg>
              </aside>
            </div>
            <figure class="_shadow">
              <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
              </svg>
              <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
              </svg>
            </figure>
          </div>
            
        </div>
      </div>
    </div>
  </aside>
  <aside class="_iii">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _2">
            <div class="_front">
              <div class="in-front _flex align-items-center">
                <div class="_info">
                  <div class="title-2 text-sand">
                    <h2 data-splitting>{{ section.settings.card2_title | escape }}</h2>
                  </div>
                  <div class="title-5">
                    <h5 data-splitting>{{ section.settings.card2_text | escape }}</h5>
                  </div>
                  <div class="text-l">
                    <p data-splitting>{{ section.settings.card2_description | escape }}</p>
                  </div>
                </div>
                <div class="_media">
                  <figure class="media-img">
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_2.png?v=1748633906">
                  </figure>
                  <div class="_message _1" id="message-1-about">
                    <div class="_data text-cornflower text-dialogue-1">
                      <span
                        >This led me to multiple health conditions and hospital visits, until I began prioritizing a
                        healthier lifestyle.</span
                      >
                    </div>
                    <figure class="_bg">
                      <svg xmlns="http://www.w3.org/2000/svg" width="282" height="191" viewBox="0 0 282 191" fill="none" preserveAspectRatio="none">
                        <path d="M155.894 20.9699C160.04 29.0117 161.542 33.4482 156.134 41.015C154.298 43.5762 127.323 46.848 120.684 47.9091C106.723 50.143 86.0599 54.2536 72.2843 57.451C43.6466 64.1434 8.10296 63.6659 0.570419 89.4691C-1.29949 95.8657 5.31475 174.111 11.9647 182.786C29.4617 205.536 129.529 172.552 158.972 169.601C195.403 165.936 246.243 156.12 278.769 139.676C289.549 134.214 262.603 58.2137 251.106 36.9706C246.528 28.5202 207.631 29.825 188.106 34.0892C192.97 22.7166 184.245 12.4114 172.475 6.98234C169.989 5.81995 160.611 1.73969 153.391 0.721634C149.743 0.21687 146.886 3.66591 148.461 6.68815C151.124 11.8381 154.515 18.3124 155.852 20.9395L155.894 20.9699Z" fill="#F9EEDA"/>
                      </svg>
                    </figure>
                  </div>
                </div>
              </div>
              <aside class="_bg">
                <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                  <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
                </svg>
                <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                  <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
                </svg>
              </aside>
            </div>
            <figure class="_shadow">
              <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
              </svg>
              <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
              </svg>
                  
            </figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_iv">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _3">
            <div class="_front">
              <div class="in-front _flex align-items-center" id="flex-sec4-about">
                <div class="_media">
                  <figure class="media-img">
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_1.png?v=1748633667">
                  </figure>
                  <div class="_funnies">
                    <div class="_message _1">
                      <div class="_in-message">
                        <div class="_data text-white text-dialogue-1">
                          <span>Our first taste test many months ago!</span>
                        </div>
                        <figure class="_bg">
                          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 188 102" fill="none">
                            <path d="M84.2497 90.208C81.5281 85.9182 80.5349 83.5116 84.2275 79.0461C85.4753 77.5542 110.36 75.008 114.811 74.1159C124.168 72.2385 133.648 70.7087 142.872 68.3091C162.09 63.293 177.749 58.3782 185.741 46.7522C192.492 36.9111 180.525 6.51064 163.06 1.70841C144.485 -3.37648 128.747 4.75332 109.003 7.71832C84.6103 11.3805 43.194 21.65 21.2218 32.1167C-8.7402 46.3787 -0.733097 83.0262 8.21063 89.672C17.1544 96.3178 49.6729 87.5961 62.7721 84.3242C59.4533 90.8718 65.2142 96.2463 73.0664 98.7198C74.7269 99.2432 80.9788 101.102 85.7953 101.352C88.2434 101.479 90.1643 99.4172 89.1233 97.8053C87.3767 95.0624 85.1395 91.5957 84.2497 90.208Z" fill="#208961"/>
                          </svg>
                        </figure>
                      </div>
                    </div>
                    <div class="_character">
                      <figure class="fun-i">
                        <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/hongo_green_1.svg?v=1745201521">
                      </figure>
                    </div>
                  </div>
                    
                </div>
                <div class="_info">
                  <div class="title-5 text-persimmon">
                    <h3 data-splitting>{{ section.settings.card3_text | escape }}</h3>
                  </div>
                  <div class="text-l text-persimmon">
                    <p data-splitting>{{ section.settings.card3_description | escape }}</p>
                  </div>
                </div>
              </div>
              <aside class="_bg">
                <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                  <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
                </svg>
                <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                  <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
                </svg>
              </aside>
            </div>
            <figure class="_shadow">
              <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
              </svg>
              <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
              </svg>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_v">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _4">
            <div class="_front">
              <div class="in-front _flex align-items-center" >
                <div class="_media">
                  <figure class="media-img">
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_about_3.png?v=1745201522">
                  </figure>
                  <div class="_funnies">
                    <div class="_message _1">
                      <div class="_in-message">
                        <div class="_data text-white text-dialogue-1">
                          <span>Many trials later, we're producing delicious crackers everyone can enjoy! &lt;3</span>
                        </div>
                        <figure class="_bg">
                          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 231 136" fill="none">
                            <path d="M83.7708 17.1773C81.841 24.1141 81.4137 27.801 87.1505 32.6687C89.0975 34.3152 111.567 32.0282 117.143 31.6624C128.869 30.8953 146.368 30.3798 158.115 30.3883C182.544 30.441 211.298 23.737 222.011 42.2804C224.669 46.8769 233.256 108.359 229.408 116.23C219.268 136.882 132.195 129.3 107.779 132.274C77.5667 135.944 34.566 137.442 5.24328 130.567C-4.47711 128.279 3.83251 64.9031 9.37223 46.4817C11.5797 39.153 43.3718 33.2248 59.9749 33.0304C53.9998 25.1328 59.2413 15.6353 67.8226 9.35312C69.6325 8.01409 76.5142 3.19764 82.1907 1.12597C85.0606 0.0866406 87.9938 2.23547 87.255 4.8454C86.0127 9.28913 84.4161 14.8833 83.7995 17.1463L83.7708 17.1773Z" fill="#1E429B"></path>
                          </svg>
                        </figure>
                      </div>
                          
                    </div>
                    <div class="_character">
                      <figure class="fun-i">
                        <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/hongo_blue_1.svg?v=1745201521">
                      </figure>
                    </div>
                  </div>
                    
                </div>
                <div class="_info" id="about-sec4-Say-goodbye">
                  <div class="title-3 text-evergreen">
                    <h3 data-splitting>{{ section.settings.card4_text | escape }}</h3>
                  </div>
                  <div class="text-l">
                    <p data-splitting>{{ section.settings.card4_description | escape }}</p>

                    <p> Xoxo, Lauren<br> Founder, Funhaven</p>
                  </div>
                  <div class="_firma">
                    <div class="fir-1">
                      {{ section.settings.card4_firma_1 | escape }}
                    </div>
                  </div>
                </div>
              </div>
              <aside class="_bg">
                <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                  <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
                </svg>
                <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                  <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
                </svg>
              </aside>
            </div>
            <figure class="_shadow">
              <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1342 475" fill="none" preserveAspectRatio="none">
                <path d="M1331.85 466.114C1331.43 471.182 1323.19 475.146 1313.24 474.996L1105.11 471.835C826.315 467.62 547.562 463.354 268.767 463.254C187.779 463.254 106.624 463.555 26.0131 459.29C14.2643 458.638 5.10772 453.67 4.77324 447.598C1.88829 402.337 0.341287 357.076 0.0486106 311.864C-0.49493 225.507 3.51891 139.199 12.1319 52.9919C13.3026 41.1497 5.60945 7.17862 26.8494 1.55859C39.8525 -1.85357 73.3848 1.40806 88.3531 1.35788C109.217 1.35788 130.08 1.3077 150.944 1.25752L383.036 0.80591C453.153 0.655374 567.924 1.85967 637.998 4.01736C707.07 6.12487 781.117 4.6195 849.394 5.82379C921.1 7.12844 985.447 11.9456 1057.11 10.641C1144.75 9.03524 1232.67 10.2897 1320.14 14.4044C1328.84 14.8058 1335.65 18.5692 1335.91 23.0351C1345.23 170.711 1343.85 318.488 1331.81 466.014L1331.85 466.114Z" fill="#FBEAA8"/>
              </svg>
              <svg class="d-lg-none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 346 912" fill="none">
                <path d="M343.19 909.162C340.566 913.915 324.299 911.242 318.002 911.242H206C132.5 911.242 140.32 911.439 68.8751 911.242C48.1209 911.242 27.3239 911.832 6.66621 903.465C3.65542 902.186 1.30892 892.441 1.22321 880.53C0.483899 791.741 0.0874592 702.953 0.0124571 614.263C-0.126832 444.855 0.901768 275.547 3.10897 106.435C3.40898 83.2044 3.67329 7.51096 6.88051 5.53892C10.0877 3.56687 22.6417 5.14517 22.6417 5.14517C22.6417 5.14517 33.3348 5.04674 38.6814 4.9483L98.1581 4.06238C116.126 3.76708 131.189 4.9483 154.278 4.06259C177.367 3.17687 200.276 1.69994 217.773 4.06238C236.149 6.6217 254.262 -0.174689 271.823 1.40026C294.281 -1.74967 306.457 1.39923 331.645 1.39866C344.561 -4.03368 344.497 21.1901 344.561 29.9508C346.951 319.646 346.276 540.325 343.19 829.725C343.19 829.725 345.814 904.41 343.19 909.162Z" fill="#92C7EC"/>
              </svg>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_vi about-4-icon-sec">
    <div class="col-12 col-md-6 col-lg-4">
      <figure class="fun fun-marigold _jumping _1 about-icon-ms">
        <span class="_body _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="181" height="210" viewBox="0 0 181 210" fill="none">
            <path d="M180.267 92.4017L180.288 92.3982C178.336 81.6834 171.758 70.5394 165.572 60.2538C164.576 58.6146 166.742 56.9171 168.266 58.1271L173.282 62.0873C174.611 63.1435 176.582 61.9689 176.151 60.3703C174.881 55.6276 172.519 48.7 169.396 42.6678C165.687 35.4663 161.435 28.3019 155.267 22.7396C154.156 21.7239 153.005 20.7878 151.832 19.9081C146.737 12.8797 116.232 1.97061 93.5132 0.622866C70.0135 -0.783164 41.1262 5.73473 25.5734 22.736C19.4246 28.2983 15.15 35.4628 11.4442 42.6643C8.32123 48.6947 5.97726 55.6241 4.68958 60.3668C4.26212 61.9689 6.23162 63.1382 7.55816 62.0837L12.5747 58.1235C14.0955 56.9136 16.2628 58.6111 15.2684 60.2502C9.08254 70.5376 2.50457 81.6834 0.552735 92.3982C0.261284 93.9773 2.20959 95.0159 3.49904 93.9773C6.62198 91.4408 9.10196 89.2346 11.3647 87.2051C12.7495 85.9757 14.9557 87.3817 14.2545 89.0579C10.4091 98.289 7.1307 107.17 4.55533 119.623C4.22326 121.225 6.23514 122.317 7.50163 121.202C10.8613 118.275 13.6875 116.324 16.5772 114.956C17.7289 114.411 19.0767 115.23 19.135 116.44C19.9545 133.673 10.213 145.854 14.6643 161.954C15.1147 163.593 17.418 163.712 18.0592 162.131C20.518 156.118 23.6621 150.36 27.4263 144.976C28.3448 143.688 30.4892 144.193 30.6676 145.758C30.7082 146.186 30.8036 146.656 30.8813 147.124H30.8036C30.763 147.124 31.6479 153.412 31.7115 153.822C31.9553 155.42 32.2997 157.033 32.4516 158.641C32.6123 160.345 33.1034 161.857 33.4814 163.521C33.6969 164.468 33.7958 165.438 33.9195 166.402C34.7338 172.784 37.0035 178.708 38.7752 184.846C39.2769 186.59 39.8933 188.312 40.4992 190.022C41.5502 192.986 42.6895 195.932 44.092 198.749C44.6572 199.919 46.413 199.705 46.7097 198.417L50.3608 182.395C50.6523 181.107 51.221 179.546 52.4681 179.39C53.9889 179.194 54.8121 181.148 55.1618 182.709L56.1951 202.909C56.7604 205.504 60.1182 205.914 61.2523 203.533C62.2079 201.463 63.1635 199.513 64.142 197.619C64.6013 196.715 66.539 197.199 66.7457 197.195C69.6019 197.165 72.3927 196.439 75.249 196.407L76.1056 196.462C78.0292 195.969 79.4794 205.621 79.4794 205.621C79.8309 207.378 80.3767 209.425 82.5423 209.485C84.0844 209.526 85.4109 208.316 85.8613 206.755L89.9222 192.527C90.3903 190.907 90.9555 189.172 92.3033 188.252C95.6576 186.009 95.8166 191.161 96.5002 195.28C96.9506 198.149 97.8073 203.4 99.563 206.756C100.482 208.473 102.923 208.24 103.523 206.366L107.369 198.697C107.835 197.789 108.911 197.72 109.547 198.246C109.644 198.182 109.76 198.144 109.893 198.144C113.164 198.144 116.428 198.108 119.655 197.513C119.742 197.497 119.82 197.497 119.89 197.509C120.27 196.773 121.508 196.754 121.768 197.736C122.354 199.903 123.015 201.913 123.699 203.024C124.149 203.748 124.732 204.45 125.515 204.644C127.426 205.094 128.597 202.537 129.028 200.548L131.799 187.16C132.168 185.325 134.493 184.762 135.526 186.3C137.047 188.543 136.523 190.396 136.6 193.072C136.678 195.649 140.347 196.098 141.052 193.638C141.557 191.877 141.968 190.087 142.337 188.293C142.67 186.68 143.274 185.104 143.237 183.453C143.198 181.748 143.554 179.957 143.823 178.279C144.593 173.464 145.55 168.772 145.483 163.867C145.478 163.496 146.773 159.752 146.951 158.766C147.282 156.95 147.626 155.136 147.974 153.324C148.099 152.668 148.225 152.013 148.355 151.36C148.532 150.462 148.765 149.584 149.057 148.724C149.603 147.027 149.995 145.446 150.15 144.04C150.346 142.478 152.471 141.97 153.391 143.28C157.159 148.646 160.301 154.405 162.778 160.418C163.424 161.997 165.705 161.884 166.155 160.241C170.606 144.14 160.867 133.676 161.684 116.444C161.743 115.234 163.091 114.414 164.262 114.96C167.13 116.325 169.96 118.279 173.32 121.206C174.59 122.317 176.619 121.224 176.287 119.627C173.692 107.174 170.41 98.2925 166.568 89.0615C165.867 87.3817 168.07 85.9791 169.458 87.2085C171.721 89.2381 174.201 91.4426 177.342 93.9808C178.612 95.0142 180.56 93.9809 180.268 92.4017H180.267ZM90.9962 102.855V102.859C91.1922 103.268 91.4466 103.678 91.4642 104.106C91.5826 106.759 91.6409 109.394 91.6974 111.247C91.443 112.263 91.406 112.494 91.3282 112.69C90.9184 113.764 90.332 114.702 89.0249 114.739C87.7778 114.798 86.8575 114.116 86.6032 112.923C85.9196 109.682 85.3332 106.386 86.1351 103.069C86.3895 101.995 87.073 101.039 88.4385 101.08C89.6678 101.12 90.4874 101.781 90.9962 102.855ZM82.8391 55.7848C84.0861 54.4371 86.1934 54.3788 87.5235 55.6488C88.8712 56.8959 88.9295 59.0084 87.6595 60.3332C83.1535 65.136 80.9279 72.2775 81.864 78.9914C82.1184 80.8073 80.8678 82.4871 79.0555 82.7379C78.8789 82.7556 78.7411 82.7785 78.5874 82.7785C76.9482 82.7785 75.5245 81.5685 75.2878 79.9099C74.0779 71.2618 76.9676 62.013 82.8391 55.7848ZM64.0961 91.7569L64.0996 91.7535C63.9442 94.1151 62.7148 96.4007 60.5863 97.4517C58.147 98.644 55.3561 98.2113 53.4449 96.3778C52.6447 95.6182 51.3182 93.0411 50.2813 90.7378C49.7938 89.6638 48.1917 89.8405 47.9974 91.0116C46.2805 100.811 47.1602 111.153 50.6152 120.425C51.2016 122.004 50.6735 123.861 49.2091 124.68C48.681 124.972 48.1158 125.108 47.57 125.108C46.2417 125.108 44.9752 124.288 44.4664 122.96C39.3722 109.437 39.1956 93.8201 43.9789 80.159C44.6024 78.4015 46.1268 76.1387 48.409 75.5346C49.8521 75.1442 51.3553 75.4763 52.4875 76.4726C53.7346 77.5465 54.0896 79.0091 54.2451 79.6362C54.5188 80.8461 54.6142 82.0755 54.9286 83.2678C59.3993 100.168 56.3718 81.6109 66.4807 60.3544C67.182 58.8707 69.0172 58.1465 70.5593 58.7153C72.5305 59.4395 73.3307 61.7004 72.3344 63.4579C67.5918 72.0071 64.7426 81.784 64.0996 91.7569H64.0961ZM101.423 132.97L101.42 132.973C101.01 133.15 100.582 133.305 100.149 133.401C92.7519 135.158 85.6105 134.922 79.0325 130.552C77.7449 129.692 76.496 128.814 75.2083 127.934C74.2527 128.111 73.3925 128.402 72.5358 128.422C70.3879 128.48 69.1992 127.037 69.7644 125.027C70.72 121.554 72.9827 119.288 76.4006 118.194C78.9778 117.375 80.8519 119.072 79.8556 121.707C79.2321 123.347 79.5236 124.166 80.6752 125.044C84.5401 128.029 88.9313 129.241 93.7888 128.732C95.9967 128.499 98.1817 128.086 100.384 127.895C101.594 127.8 102.474 128.542 102.942 129.653C103.41 130.804 102.651 132.424 101.421 132.972L101.423 132.97ZM96.9682 103.993C97.1449 103.565 97.2597 103.132 97.4964 102.763C97.9468 102.004 98.512 101.338 99.5083 101.297C100.755 101.239 101.752 101.843 102.008 102.977C102.767 106.199 102.926 109.477 101.949 112.676C101.54 114.004 100.466 114.884 98.9448 114.688C97.7154 114.533 96.993 113.655 96.8375 112.503C96.4101 109.654 96.5055 106.805 96.9735 103.994L96.97 103.991L96.9682 103.993ZM103.723 76.9777C103.605 78.7353 102.144 80.0601 100.423 80.0601C100.346 80.0601 100.247 80.06 100.169 80.0424C98.3531 79.924 96.9682 78.3255 97.106 76.5096C97.6112 69.3682 96.4419 61.794 94.0237 56.7775C93.2412 55.1207 93.9283 53.1459 95.5852 52.3475C97.2244 51.5685 99.2168 52.2521 100.015 53.909C102.884 59.8988 104.308 68.7429 103.725 76.9777H103.723ZM137.408 122.967V122.96C136.902 124.288 135.65 125.108 134.304 125.108C133.758 125.108 133.193 124.972 132.665 124.68C131.199 123.861 130.694 122.008 131.28 120.425C134.694 111.231 135.572 101.007 133.933 91.2659C133.719 90.0365 131.999 89.8405 131.494 90.9745C130.478 93.2178 129.21 95.6589 128.431 96.3813C126.52 98.2166 123.729 98.644 121.307 97.4553C119.159 96.399 117.93 94.1362 117.774 91.7569C117.151 81.8617 114.319 72.1432 109.617 63.6134C108.953 62.384 108.953 60.8596 109.831 59.7892C111.392 57.8585 114.337 58.2101 115.335 60.2396C123.746 77.2409 123.259 104.291 126.947 83.2714C127.161 82.0614 127.375 80.8496 127.648 79.6608C127.784 79.0373 128.136 77.5536 129.386 76.4796C130.538 75.4834 132.022 75.1513 133.465 75.5417C135.749 76.1475 137.289 78.4103 137.895 80.1661C142.678 93.8272 142.502 109.424 137.408 122.967Z" fill="#FF7F4D"/>
          </svg>
        </span>
        <span class="_hand-left _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="46" viewBox="0 0 39 46" fill="none">
            <path d="M36.4194 0.406738C36.0185 0.918985 24.8886 4.97637 24.2403 5.2113C23.4401 5.50275 22.7742 5.77657 22.3468 5.95321C13.4849 9.83569 8.70508 16.4913 8.58673 26.2911C8.56907 28.5344 8.54611 30.7619 8.52844 32.8497C7.12241 35.1531 4.50819 34.9199 2.65174 36.1086C-0.315762 38.0393 -0.48887 42.0984 2.36028 44.0149C3.37595 44.6985 4.64419 44.8751 5.83296 44.6013C7.66822 44.1915 9.50172 43.7411 11.337 43.3136C13.0345 43.1776 14.2267 44.3876 15.6699 44.9334C17.136 45.4986 18.5967 46.0674 20.2165 45.9296C22.1101 45.7742 23.6892 45.1101 24.5088 43.2359C25.2683 41.4201 25.0952 39.6855 23.7846 38.2389C22.2832 36.582 20.644 35.0753 19.1002 33.5368C18.2399 31.0974 18.6126 28.6174 18.4766 26.1763C18.1446 20.75 20.8383 17.295 25.3461 14.9157C25.4414 14.8751 25.5421 14.8203 25.6375 14.7797C26.3493 14.4194 37.6912 10.0918 38.403 10.2631C37.2761 6.8717 36.4989 3.95189 36.4159 0.408549L36.4194 0.406738Z" fill="#FF7F4D"/>
          </svg>
        </span>
        <span class="_hand-right _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="43" viewBox="0 0 36 43" fill="none">
            <path d="M33.3217 33.1122C31.4687 31.9199 28.851 32.1565 27.4449 29.8532C27.4273 27.7636 27.4043 25.538 27.3866 23.2947C27.2683 13.4948 22.4885 6.84099 13.6266 2.95674C12.9254 2.64233 11.5193 2.1194 9.97552 1.59126C9.38732 1.38459 1.41923 0.559698 1.05535 0.0898438C1.0059 2.87011 0.612037 2.79597 0.0821263 5.53031C-0.112174 6.53361 0.204006 8.37943 0.0379671 9.37743C0.93175 8.86871 9.22836 11.2216 10.2599 11.7232C10.3959 11.7815 10.5143 11.8592 10.6291 11.9193C15.1387 14.3003 17.8306 17.7553 17.4985 23.1799C17.3625 25.6192 17.7317 28.0992 16.875 30.5403C15.3329 32.0824 13.6937 33.5856 12.1906 35.2424C10.8834 36.6855 10.7068 38.4236 11.4664 40.2395C12.286 42.1154 13.8651 42.776 15.7587 42.9332C17.3784 43.0692 18.841 42.5057 20.3053 41.9369C21.7484 41.3911 22.9407 40.1794 24.6382 40.3172C26.4911 40.7446 28.3263 41.1951 30.1598 41.6049C31.3521 41.8787 32.6186 41.7003 33.6325 41.0185C36.4817 39.1073 36.2856 35.0463 33.3181 33.1122H33.3217Z" fill="#FF7F4D"/>
          </svg>
        </span>
        <span class="_foot-left _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="47" viewBox="0 0 22 47" fill="none">
            <path d="M21.9171 0.599854C21.7087 0.647545 21.5957 0.658161 21.2353 0.661694C18.3791 0.691722 15.5882 1.41769 12.732 1.44949C12.6384 1.44949 12.5554 1.43536 12.4812 1.40886C12.195 10.0429 11.8895 25.0358 11.5839 29.2256C11.4284 31.4336 11.5839 33.677 10.6283 35.6482C8.77535 37.2097 6.62745 36.1763 4.71447 36.6815C2.3705 37.2873 0.653585 39.2392 0.673015 41.3836C0.673015 43.6869 2.17443 45.4249 4.69327 46.0679C5.1437 46.1863 5.57116 46.3595 6.00039 46.3418C9.57376 46.2835 13.1648 46.3418 16.7152 46.0274C19.7003 45.773 21.0852 44.0968 21.1664 41.1893C21.6681 25.3662 21.5444 3.63978 22.0019 0.60339L21.9189 0.599854H21.9171Z" fill="#FF7F4D"/>
          </svg>
        </span>
        <span class="_foot-right _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="51" viewBox="0 0 21 51" fill="none">
            <path d="M18.3637 41.7852C16.1381 40.6741 13.5803 40.8878 11.6674 40.4197C10.1059 39.0543 10.3797 37.6483 10.3196 36.3412C10.1324 31.0686 9.96459 10.5982 9.79326 0.648193C9.7438 0.66939 9.69257 0.685291 9.63782 0.695889C6.46365 1.28056 3.25239 1.32473 0.0340655 1.32473C0.0146355 10.2113 -0.0207049 29.4701 0.131203 34.0768C0.226587 37.4312 0.267229 40.7907 0.50039 44.1274C0.851897 48.8118 2.52994 50.4139 7.27264 50.5675C9.94516 50.6453 12.6389 50.4898 15.3149 50.2938C16.3889 50.1984 17.5406 49.9246 18.4962 49.4335C19.9976 48.651 20.7218 47.2663 20.7041 45.5511C20.6865 43.8537 19.904 42.566 18.3601 41.7835L18.3637 41.7852Z" fill="#FF7F4D"/>
          </svg>
        </span>
      </figure>
    </div>
  </aside>
 
  <aside class="_cinta" style="margin: 0; background-color: {{ section.settings.background_cinta }};">
    <div class="marquee">
      <div class="track">
        <div class="content">
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee text-butter">{{ section.settings.marquee | escape }}</span>
        </div>
      </div>
    </div>

  </aside>
                


  <aside class="_vii" style="background-color: {{ section.settings.background_butter }};">
    <div class="_container _1">
      <figure class="fun fun-peppercorn _greeting _2 about-column-icon">
        <span class="_body _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="212" height="248" viewBox="0 0 212 248" fill="none">
            <path d="M18.9631 121.648C31.8046 122.922 43.4432 119.287 53.667 117.073C54.9458 116.796 56.2371 117.409 56.8818 118.546C57.666 119.933 58.3214 121.433 58.8142 122.856C59.2787 124.195 58.6852 125.668 57.4417 126.356C55.3362 127.521 52.7909 129.116 51.7823 129.837C44.2663 135.223 41.1222 142.412 42.9557 151.602C43.3726 153.694 43.7983 155.785 44.1904 157.74C43.3302 160.185 40.8361 160.48 39.3453 161.964C36.966 164.329 37.5807 168.137 40.5835 169.383C41.6274 169.815 42.6642 169.875 43.687 169.414C45.4357 168.627 47.165 167.784 48.9031 166.966C50.4645 166.509 51.8193 167.402 53.2766 167.632C54.7603 167.865 56.2388 168.097 57.7261 167.65C59.4677 167.127 60.8261 166.203 61.2076 164.283C61.575 162.435 61.0627 160.839 59.5437 159.74C57.8197 158.495 55.9792 157.41 54.2269 156.28C52.9445 154.156 52.8014 151.772 52.1815 149.52C50.8019 144.509 52.6354 140.739 56.3783 137.604C57.3675 136.775 58.74 135.926 60.2131 135.444C61.409 135.048 62.6931 135.8 63.0782 136.998C64.9329 142.74 69.6703 159.086 69.831 159.668C71.8941 167.102 74.1798 169.111 81.8088 169.978C84.7886 170.321 105.114 167.713 112.89 166.691C115.395 166.359 117.922 166.461 120.381 167.058C125.514 168.307 133.708 171.515 137.474 179.557C139.839 184.603 141.772 189.805 143.475 195.104C147.466 207.541 150.164 220.311 153.278 232.972C154.041 236.086 154.732 239.221 155.629 242.297C156.881 246.614 158.771 247.783 163.242 246.984C165.759 246.534 168.239 245.836 170.701 245.123C171.706 244.831 172.727 244.346 173.527 243.69C174.766 242.671 175.161 241.217 174.81 239.629C174.457 238.031 173.474 236.994 171.879 236.57C169.573 235.954 167.225 236.674 165.339 236.616C163.611 235.637 163.574 234.283 163.268 233.055C160.515 222.043 157.869 211.002 154.966 200.029C153.638 195.007 151.017 186.907 149.088 182.083C145.647 173.486 143.828 169.951 136.211 164.663C135.323 164.046 135.494 162.686 136.52 162.352C140.415 161.082 146.103 158.35 149.526 157.931C154.062 157.377 161.779 158.569 167.202 161.459C172.065 164.053 175.151 170.707 176.742 174.696C177.613 176.877 178.924 178.216 179.517 180.491C183.534 195.866 187.757 211.184 191.944 226.512C192.682 229.213 194.236 230.508 197.073 230.167C200.461 229.761 203.805 228.982 207.161 228.339C207.571 228.259 207.949 228.007 208.33 227.816C210.566 226.71 211.625 224.785 211.178 222.635C210.761 220.62 208.774 219.132 206.451 219.025C204.564 218.938 202.754 220.328 200.708 219.247C199.422 217.587 199.135 215.45 198.552 213.418C195.298 202.119 192.104 190.803 188.738 179.536C187.208 174.417 185.242 169.441 182.995 164.575C179.493 156.983 173.664 152.516 165.457 151.122C162.71 150.654 159.964 150.214 157.095 149.755C155.634 149.522 154.543 148.278 154.514 146.8C154.445 143.03 153.984 137.364 151.036 125.769C150.662 124.296 146.993 112.15 146.454 110.679C145.605 108.369 144.806 106.208 144.079 104.204C143.596 102.865 144.11 101.381 145.334 100.658C152.815 96.2337 178.908 85.4853 183.93 81.1259C193.733 72.6156 188.337 56.9744 184.329 50.9722C182.033 47.5313 138.873 -13.1717 72.818 3.09655L72.825 3.10363C-1.52149 21.412 0.114178 87.7481 0.0664858 94.8506C-0.00593536 106.056 3.62042 120.122 18.9596 121.648H18.9631ZM100.287 127.384C100.495 123.943 102.159 121.371 105.139 119.668C107.393 118.382 109.491 119.606 109.074 122.266C108.815 123.918 109.255 124.625 110.5 125.225C114.72 127.258 119.072 127.518 123.509 126.075C125.525 125.419 127.491 124.595 129.517 123.98C130.629 123.641 131.601 124.171 132.253 125.117C132.926 126.096 132.527 127.767 131.486 128.516C131.143 128.761 130.781 128.991 130.4 129.171C123.822 132.292 117.094 133.481 110.071 130.704C108.695 130.16 107.338 129.577 105.967 129.009C105.118 129.365 104.369 129.8 103.563 129.994C101.555 130.477 100.168 129.357 100.287 127.38V127.384ZM127.962 109.427C127.847 110.748 127.008 111.774 125.551 111.9C124.371 112 123.522 111.317 123.128 110.269C122.163 107.696 121.706 105.005 121.584 102.282C121.663 101.849 121.685 101.418 121.822 101.029C122.103 100.231 122.488 99.4892 123.414 99.2542C124.569 98.9628 125.624 99.3302 126.095 100.33V100.333C127.445 103.195 128.245 106.237 127.964 109.427H127.962ZM118.023 111.548C117.853 112.64 117.493 113.625 116.285 113.924C115.115 114.215 114.121 113.768 113.656 112.707C112.378 109.798 111.176 106.832 111.252 103.578C111.277 102.527 111.742 101.494 113.017 101.259C114.169 101.051 115.077 101.512 115.771 102.411C116.03 102.746 116.34 103.094 116.44 103.483C117.078 105.938 117.668 108.407 118.088 110.128L118.092 110.124C118.046 111.122 118.056 111.338 118.023 111.546V111.548ZM30.6847 100.902C31.5962 99.7222 33.6805 100.091 34.1009 98.2915C33.9613 97.8923 33.8342 97.4966 33.677 97.1116C31.1758 91.0141 32.8662 88.1366 39.2534 87.8311C40.7266 87.7586 42.2191 88.0766 43.6993 88.2674C44.5136 88.3716 45.3014 88.958 46.2659 88.2356C46.2553 86.2908 44.549 85.0314 43.9731 83.2686C42.9681 80.1951 44.5896 77.595 47.8256 77.4219C50.2049 77.2965 52.5206 77.6709 54.6915 78.7184C58.5368 80.5731 62.3734 82.4472 66.2259 84.2913C66.9783 84.6517 67.7838 85.0544 68.5486 84.2401C68.9619 82.8394 68.0452 81.8131 67.4659 80.7303C66.2559 78.4658 64.9276 76.2702 63.6788 74.0269C62.7391 72.3418 61.893 70.6072 61.7269 68.6413C61.4249 65.0414 64.1892 62.4678 67.7679 63.0613C69.9246 63.4216 71.7669 64.5309 73.5845 65.6596C77.785 68.2738 81.4184 71.5928 85.0041 74.9684C86.502 76.3762 88.06 77.7187 90.0012 79.4568C90.199 76.5546 88.982 74.7847 88.1395 72.9265C86.7246 69.8123 85.1843 66.7565 83.7765 63.6389C82.7114 61.2702 82.1709 58.769 82.397 56.1442C82.7785 51.7566 85.8167 49.7358 90.0401 51.1012C92.5412 51.9119 94.6114 53.4805 96.4149 55.3017C99.5714 58.4953 102.542 61.8673 105.637 65.1191C106.916 66.4616 107.67 68.3587 109.608 69.0423C109.756 68.7897 109.982 68.5883 109.954 68.4311C109.548 66.1136 109.014 63.8156 108.698 61.491C108.356 58.9527 107.917 56.3756 108.032 53.8409C108.251 48.978 111.931 47.1304 116.078 49.561C117.77 50.5537 119.224 51.8396 120.337 53.4063C121.821 55.4907 123.264 57.6368 124.408 59.9154C126.035 63.162 127.328 66.571 128.858 69.8653C129.351 70.9234 129.351 72.4178 130.884 72.7481C131.896 72.3948 132.025 71.4957 132.147 70.6779C132.366 69.1976 132.428 67.6962 132.636 66.2142C133.173 62.406 133.622 58.5712 134.364 54.7982C134.874 52.207 136.066 49.8524 139.055 49.3189C142.014 48.789 143.893 50.4953 145.409 52.7421C146.982 55.0755 148.069 57.6244 148.634 60.3782C149.279 63.5205 149.869 66.67 150.492 69.8176C150.694 70.8368 150.637 71.9991 151.859 72.5219C153.069 72.3665 153.594 71.4127 154.016 70.48C154.898 68.5352 155.705 66.5569 156.471 64.5645C157.173 62.7504 157.998 61.0229 159.43 59.6681C161.32 57.8858 163.825 57.8788 165.798 59.6028C167.462 61.053 168.288 63.0224 169.265 64.9336C170.011 66.3909 169.643 68.4187 171.572 69.4255C173.045 67.9612 172.664 65.9122 173.261 64.2094C173.739 62.8528 174.953 62.0244 176.188 62.2805C177.574 62.5649 178.487 63.4251 178.768 64.8011C179.639 69.0881 176.58 76.0406 172.89 78.2645C170.705 79.5822 168.041 79.1176 166.762 76.8249C165.74 74.9896 165.208 72.8717 164.484 70.8704C164.084 69.7611 164.137 68.3692 162.424 67.9877C161.751 69.5315 161.135 71.123 160.379 72.6421C159.231 74.9525 157.812 77.0951 155.774 78.7431C151.713 82.0303 147.36 81.0695 145.387 76.295C144.58 74.3431 144.236 72.1916 143.775 70.1073C143.13 67.1875 142.627 64.2359 141.943 61.3267C141.807 60.7403 141.943 59.4438 140.092 59.9949C139.728 63.1991 139.325 66.5534 138.983 69.9165C138.656 73.1561 137.831 76.2455 135.99 78.9569C133.47 82.668 128.989 82.9171 126.339 79.3455C124.959 77.4837 124.029 75.2704 123.031 73.1508C121.213 69.2807 119.545 65.3435 117.714 61.4839C117.246 60.5018 116.907 59.1877 115.107 59.011C115.319 60.2069 115.513 61.2243 115.679 62.2505C116.126 64.9937 116.737 67.7227 116.942 70.4835C117.133 73.0218 117.129 75.6237 115.693 77.9571C114.123 80.5024 111.586 81.0712 109.138 79.3508C107.176 77.9712 105.844 76.0105 104.39 74.1664C100.541 69.2966 96.6251 64.4832 92.0131 60.2952C91.469 59.8024 90.872 58.8697 89.7203 59.9561C90.1301 62.3795 91.5414 64.5132 92.5642 66.7989C93.9578 69.9201 95.3692 73.0377 96.6321 76.2084C97.7661 79.0558 97.9357 82.0586 97.3016 85.0455C96.5809 88.4475 93.518 90.0602 90.4516 88.444C88.5934 87.4655 86.9878 85.957 85.4016 84.5421C81.4096 80.9847 77.5112 77.3283 73.5263 73.7637C72.9822 73.278 72.3781 72.3312 71.1434 73.3539C72.1803 75.3199 73.2719 77.3353 74.3105 79.3737C75.2856 81.2814 76.2005 83.2262 76.4602 85.3812C77.1155 90.8392 73.339 94.1106 68.1406 92.3212C65.1272 91.2844 62.3275 89.6363 59.443 88.2426C57.8021 87.4513 56.3077 86.2343 53.9884 86.1866C54.6367 88.1491 55.3344 89.6858 55.64 91.2985C56.23 94.4161 54.2075 96.8784 51.0686 96.8926C49.8163 96.8996 48.5516 96.5181 47.3169 96.209C45.2908 95.702 43.2842 95.1103 40.7725 94.4197C41.1646 96.5075 41.5832 98.0955 41.7404 99.7082C41.9418 101.764 41.2406 103.527 39.3682 104.608C37.2768 105.814 34.9329 106.192 32.5854 106.138C31.2641 106.109 30.2343 105.184 29.8069 103.824L29.7998 103.817C29.4324 102.651 30.0082 101.771 30.6812 100.9L30.6847 100.902Z" fill="#FF7F4D"/>
          </svg>
        </span>
        <span class="_hand-right _skin">
          <svg xmlns="http://www.w3.org/2000/svg" width="86" height="60" viewBox="0 0 86 60" fill="none">
            <path d="M52.3596 46.1918L55.1169 44.572L44.9762 38.8772C44.9762 38.8772 43.0579 40.0324 38.2199 40.4669C32.9419 41.5268 23.1527 43.7065 16.8203 45.381L0.258789 48.0235L2.36079 59.8246L19.5617 54.9953C25.7351 52.4924 34.7313 49.6592 40.4738 49.2229C43.7928 48.9703 46.8274 48.352 49.6129 47.3328L52.3596 46.1918Z" fill="#FF7F4D"/>
            <path d="M61.9352 38.6335C66.3334 33.3874 69.7461 27.3676 74.3104 22.7963C76.0926 21.014 78.4101 21.9819 80.2965 21.7911C82.5858 21.5597 83.8346 20.6819 84.3362 19.1205C85.2283 16.3296 82.856 15.7326 82.7695 14.134C82.69 12.6432 87.0282 9.32765 85.7706 6.34248C85.3166 5.26323 84.1331 4.60084 83.0768 4.39594C81.2257 4.03913 80.1818 5.34625 79.3375 4.74921C78.5267 4.18044 79.3304 2.8769 78.366 1.51679C77.4156 0.177885 75.6652 0.0666068 75.591 0.063074C71.8498 -0.138292 71.6608 5.84438 68.8823 6.49264C67.6441 6.78056 65.6127 4.68566 63.9435 5.53175C61.967 6.53328 61.0166 8.45864 61.6879 11.0252C62.004 12.2281 63.7015 15.0489 64.7914 16.893C65.3354 17.8151 65.3743 18.9702 64.8214 19.8852C62.7918 23.2343 59.9127 26.1683 57.4716 28.968C52.5416 34.6309 50.7505 36.7029 47.133 38.0594C47.133 38.0594 45.0363 38.8366 44.7131 38.9655C39.2868 41.1364 51.3723 46.6334 51.3723 46.6334C51.3723 46.6334 57.959 43.8284 61.9404 38.6318L61.9352 38.6335Z" fill="#FF7F4D"/>
          </svg>
        </span>
      </figure>  
      <div class="_content d-none d-lg-block">
        <div class="cards-1">
          {% for block in section.blocks %}
            <div class="card-1" style="background-color: {{ block.settings.background_color }};">
              {% if block.settings.image != blank %}
                <figure class="_pic">
                  <img src="{{ block.settings.image | image_url: width: 400 }}" alt="{{ block.settings.title }}" >
                </figure>
              {% endif %}
              <h4 class="title-4"  style="color: {{ block.settings.text_color }}">{{ block.settings.title }}</h3>
              <p class="text-m" style="color: {{ block.settings.text_color }}">{{ block.settings.description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="_content d-lg-none">
        <div class="splide cards-splide-mobile" aria-label="Ingredient Cards Carousel">
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev" type="button" aria-controls="splide01-track" disabled="" aria-label="Previous slide">
              <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 39 21" fill="none">
                <path d="M15.6039 10.1946L21.8826 10.8053C23.2421 10.9084 24.5859 11.0245 25.9138 11.1537C27.2445 11.254 28.5766 11.3399 29.9101 11.4113C30.8395 11.4434 31.7833 11.477 32.7415 11.5119C33.7314 11.5208 34.7083 11.5138 35.6722 11.491C36.2551 11.4894 36.7599 11.3928 37.1865 11.2012C38.0024 10.9017 38.4022 10.3869 38.3858 9.65683C38.3962 9.24988 38.2986 8.90527 38.093 8.623C37.8873 8.34073 37.6024 8.12361 37.2384 7.97163C36.8772 7.79079 36.4931 7.69515 36.0861 7.68471C35.682 7.6454 35.2764 7.62052 34.8695 7.61007C34.1422 7.59761 33.4177 7.55628 32.696 7.48608C32.0032 7.41869 31.309 7.36573 30.6133 7.3272C29.4847 7.24656 28.3649 7.22505 27.2539 7.26269C26.1457 7.27145 25.0375 7.28022 23.9293 7.28898C23.378 7.2645 22.8268 7.24001 22.2755 7.21553C21.727 7.16218 21.1901 7.1391 20.6649 7.14629C19.8165 7.18033 18.9565 7.18409 18.0849 7.15759C17.216 7.10222 16.3574 7.09155 15.5091 7.12559C15.0127 7.13559 14.5177 7.13115 14.0242 7.11228C13.5306 7.09341 13.0212 7.08758 12.496 7.09477C11.535 7.08871 10.5595 7.08124 9.56958 7.07237C8.61134 7.03744 7.63587 7.02998 6.64315 7.04997C6.44107 7.03032 6.23619 7.03953 6.02851 7.07761C5.84969 7.11849 5.65503 7.17241 5.44453 7.23936C4.96019 7.42537 4.74026 7.73909 4.78475 8.18052C4.74543 8.58466 4.9497 8.88137 5.39753 9.07063C5.76158 9.22261 6.1154 9.32988 6.459 9.39244C6.80541 9.42613 7.16625 9.46123 7.54152 9.49774C8.72508 9.61286 9.95194 9.7322 11.2221 9.85576C12.5211 9.98211 13.9817 10.0951 15.6039 10.1946Z" fill="#1E429B"/>
                <path d="M5.6719 8.64517C6.03416 8.4168 6.35301 8.19141 6.62846 7.969C6.93483 7.77354 7.22575 7.5646 7.5012 7.34219C8.08501 6.95325 8.65236 6.53638 9.20326 6.09155C9.75416 5.64673 10.2732 5.16049 10.7602 4.63284C11.2453 4.07625 11.7613 3.54661 12.3082 3.04391C12.8861 2.56817 13.5258 2.14632 14.2273 1.77838C14.4818 1.67369 14.629 1.48916 14.669 1.22477C14.711 0.989309 14.6228 0.762792 14.4043 0.545212C14.0832 0.102108 13.6238 -0.0262537 13.0261 0.160135C12.7407 0.237868 12.4553 0.315606 12.1699 0.393339C11.9154 0.498022 11.662 0.617171 11.4095 0.750789C10.7619 1.05689 10.0978 1.33505 9.41723 1.58527C8.73866 1.86443 8.07656 2.17152 7.4309 2.50656C6.92595 2.7738 6.45193 3.06798 6.00882 3.38912C5.59664 3.7372 5.168 4.05734 4.72291 4.34954C4.22194 4.67465 3.72195 5.01422 3.22296 5.36827C2.72397 5.72231 2.22399 6.06188 1.72302 6.38699C0.915667 6.90756 0.509872 7.56046 0.50563 8.34569C0.53231 9.15787 0.927205 9.82849 1.69032 10.3575C2.9442 11.2599 4.16916 12.1643 5.36517 13.0706C6.59211 14.0039 7.78061 15.0125 8.93067 16.0964C9.36358 16.4737 9.79648 16.851 10.2294 17.2283C10.6912 17.6036 11.1396 17.9944 11.5745 18.4006C11.758 18.5334 11.957 18.6796 12.1715 18.8393C12.386 18.999 12.5984 19.1298 12.8089 19.2316C13.0793 19.3584 13.3736 19.4109 13.6919 19.389C14.0391 19.3652 14.3071 19.2451 14.4957 19.0286C15.0446 18.5549 15.167 18.0086 14.8629 17.3899C14.6286 16.9409 14.3528 16.5237 14.0357 16.1385C13.7494 15.7802 13.4477 15.4084 13.1306 15.0232C12.0304 13.8196 10.8494 12.7087 9.5876 11.6906C8.32577 10.6725 7.02054 9.65732 5.6719 8.64517Z" fill="#1E429B"/>
              </svg>
            </button>
            <button class="splide__arrow splide__arrow--next" type="button" aria-controls="splide01-track" aria-label="Next slide">
              <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 39 21" fill="none">
                <path d="M22.8585 9.47939L16.5502 9.47939C15.187 9.45039 13.8384 9.43589 12.5042 9.43589C11.17 9.40689 9.83589 9.36338 8.50172 9.30537C7.57361 9.24737 6.63099 9.18936 5.67387 9.13135C4.68775 9.04434 3.71614 8.94283 2.75902 8.82682C2.17895 8.76881 1.68589 8.62379 1.27984 8.39176C0.496741 8.01472 0.148698 7.46365 0.235707 6.73856C0.264712 6.33251 0.395228 5.99897 0.627256 5.73794C0.859285 5.4769 1.16382 5.28838 1.54087 5.17237C1.91792 5.02735 2.30946 4.96934 2.71551 4.99834C3.12156 4.99834 3.52761 5.01285 3.93366 5.04185C4.65875 5.09986 5.38384 5.12886 6.10893 5.12886C6.80502 5.12886 7.5011 5.14336 8.19719 5.17237C9.32832 5.20137 10.445 5.28838 11.5471 5.4334C12.6492 5.54941 13.7514 5.66543 14.8535 5.78144C15.4046 5.81045 15.9556 5.83945 16.5067 5.86845C17.0578 5.86845 17.5943 5.89746 18.1164 5.95546C18.9575 6.07148 19.8131 6.15849 20.6832 6.21649C21.5533 6.2455 22.4089 6.31801 23.25 6.43402C23.7431 6.49203 24.2362 6.53553 24.7292 6.56454C25.2223 6.59354 25.7298 6.63705 26.2519 6.69505C27.209 6.78206 28.1806 6.86907 29.1668 6.95609C30.1239 7.01409 31.0955 7.1011 32.0816 7.21712C32.2846 7.21712 32.4877 7.24612 32.6907 7.30413C32.8647 7.36213 33.0532 7.43464 33.2563 7.52165C33.7203 7.75368 33.9088 8.08722 33.8218 8.52228C33.8218 8.92833 33.5898 9.20386 33.1258 9.34888C32.7487 9.46489 32.3862 9.5374 32.0381 9.5664C31.6901 9.5664 31.3275 9.5664 30.9505 9.5664C29.7613 9.5664 28.5287 9.56641 27.2525 9.56641C25.9474 9.56641 24.4827 9.5374 22.8585 9.47939Z" fill="#1E429B"/>
                <path d="M33.3281 8.64517C32.9658 8.4168 32.647 8.19141 32.3715 7.969C32.0652 7.77354 31.7743 7.5646 31.4988 7.34219C30.915 6.95325 30.3476 6.53638 29.7967 6.09155C29.2458 5.64673 28.7268 5.16049 28.2398 4.63284C27.7547 4.07625 27.2387 3.54661 26.6918 3.04391C26.1139 2.56817 25.4742 2.14632 24.7727 1.77838C24.5182 1.67369 24.371 1.48916 24.331 1.22477C24.289 0.989309 24.3772 0.762792 24.5957 0.545212C24.9168 0.102108 25.3762 -0.0262537 25.9739 0.160135C26.2593 0.237868 26.5447 0.315606 26.8301 0.393339C27.0846 0.498022 27.338 0.617171 27.5905 0.750789C28.2381 1.05689 28.9022 1.33505 29.5828 1.58527C30.2613 1.86443 30.9234 2.17152 31.5691 2.50656C32.074 2.7738 32.5481 3.06798 32.9912 3.38912C33.4034 3.7372 33.832 4.05734 34.2771 4.34954C34.7781 4.67465 35.278 5.01422 35.777 5.36827C36.276 5.72231 36.776 6.06188 37.277 6.38699C38.0843 6.90756 38.4901 7.56046 38.4944 8.34569C38.4677 9.15787 38.0728 9.82849 37.3097 10.3575C36.0558 11.2599 34.8308 12.1643 33.6348 13.0706C32.4079 14.0039 31.2194 15.0125 30.0693 16.0964C29.6364 16.4737 29.2035 16.851 28.7706 17.2283C28.3088 17.6036 27.8604 17.9944 27.4255 18.4006C27.242 18.5334 27.043 18.6796 26.8285 18.8393C26.614 18.999 26.4016 19.1298 26.1911 19.2316C25.9207 19.3584 25.6264 19.4109 25.3081 19.389C24.9609 19.3652 24.6929 19.2451 24.5043 19.0286C23.9554 18.5549 23.833 18.0086 24.1371 17.3899C24.3714 16.9409 24.6472 16.5237 24.9643 16.1385C25.2506 15.7802 25.5523 15.4084 25.8694 15.0232C26.9696 13.8196 28.1506 12.7087 29.4124 11.6906C30.6742 10.6725 31.9795 9.65732 33.3281 8.64517Z" fill="#1E429B"/>
              </svg>
            </button>
          </div>
          <div class="splide__track">
            <ul class="splide__list">
              {% for block in section.blocks %}
                <li class="splide__slide">
                  <div class="card-1" style="background-color: {{ block.settings.background_color }};">
                    {% if block.settings.image != blank %}
                      <figure class="_pic">
                        <img src="{{ block.settings.image | image_url: width: 400 }}" alt="{{ block.settings.title }}">
                      </figure>
                    {% endif %}
                    <h4 class="title-4" style="color: {{ block.settings.text_color }}">{{ block.settings.title }}</h4>
                    <p class="text-m" style="color: {{ block.settings.text_color }}">{{ block.settings.description }}</p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            new Splide('.cards-splide-mobile', {
              type: 'slide',
              arrows: true,
              pagination: false,
              gap: '1rem',
              perPage: 1,
              breakpoints: {
                991: {
                  perPage: 2,
                  padding: { left: '2rem', right: '10%' }
                },
                767: {
                  perPage: 1,
                  padding: { left: '2rem', right: '10%' }
                }
              }
            }).mount();
          });
        </script>
      </div>
    </div>
  </aside>





<style>
  section._about._i aside._ii .cardy-i,
  section._about._i aside._iii .cardy-i,
  section._about._i aside._iv .cardy-i,
  section._about._i aside._v .cardy-i,
  section._about._i aside._vi .cardy-i,
  section._about aside._vii .cards-1,
  section._faq._1 ._heading,
  section._faq._1 ._boding{
    opacity:0;
    transform:translatey(1vw);
    transition:all 0.2s ease-in-out;
  }
</style>
<script>
  //  Script optimizado
  document.addEventListener('DOMContentLoaded', function() {
    // Crear controlador global
    var controller = new ScrollMagic.Controller();
  
    // Seleccionar todos los elementos target
    var fadeElements = document.querySelectorAll('section._about._i aside._ii .cardy-i, section._about._i aside._iii .cardy-i, section._about._i aside._iv .cardy-i, section._about._i aside._v .cardy-i, section._about._i aside._vi .cardy-i, section._about aside._vii .cards-1, section._faq._1 ._heading, section._faq._1 ._boding');
  
    // Iterar y crear escena para cada uno
    fadeElements.forEach(function(el) {
      new ScrollMagic.Scene({
        triggerElement: el,
        triggerHook: 0.9, // Ajusta el punto de activacin
        reverse: false // True para que se oculte al hacer scroll back up
      })
      .on("enter", function() {
        // Usa GSAP para mayor suavidad
        gsap.to(el, { duration: 0.5, opacity: 1, y: '0', ease: "power2.in" });
      })
      .on("leave", function() {
        // Opcional: vuelve a opacity 0
        gsap.to(el, { duration: 0.5, opacity: 0, y: '1vw', ease: "power2.out" });
      })
      // .addIndicators() // Descomenta para debug
      .addTo(controller);
    });
  });
</script>

{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff7eb"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Welcome to"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card1_title",
      "label": "Card Title 1",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card1_text",
      "label": "Card Text 1",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card1_description",
      "label": "Card Description 1",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card2_title",
      "label": "Card Title 2",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card2_text",
      "label": "Card Text 2",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card2_description",
      "label": "Card Description 2",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card3_text",
      "label": "Card Text 3",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card3_description",
      "label": "Card Description 3",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card4_text",
      "label": "Card Text 4",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "card4_description",
      "label": "Card Description 4",
      "default": "Snacking Paradise!"
    },
    {
      "type": "text",
      "id": "marquee",
      "label": "Marquee",
      "default": "Say hello to our amazing key ingredients -"
    },
    {
      "type": "color",
      "id": "background_cinta",
      "label": "Background cinta",
      "default": "#fff7eb"
    },
    {
      "type": "color",
      "id": "background_butter",
      "label": "Background butter",
      "default": "#FBEAA8"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Card image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Card title",
          "default": "Card Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Card description",
          "default": "This is the card description. It supports multiple lines of text."
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#D9F0FF"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        }

      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "About Section with Cards",
      "category": "Custom"
    }
  ]
}
{% endschema %}

   
  {% comment %}
    <div class="About-container">
      <div class="about-column about-column-item-1">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Organic-img.png?v=1747647229" alt="Lion's Mane Mushroom Flour">
          <h2 class="text-dusk">Organic Lion's Mane Mushroom Flour</h2>
          <p class="text-dusk">Lion's mane is an adaptogen and functional superfood known for its brain benefits, including enhancing mental clarity and cognitive function and decreasing stress and anxiety. This incredible mushroom also may boost immunity and reduce inflammation in the body.</p>
      </div>
      <div class="about-column about-column-item-2">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Olive_Oil_img.png?v=1747647229" alt="Olive Oil">
          <h2 class="text-evergreen">Olive Oil</h2>
          <p class="text-evergreen">We are proud to use olive oil instead of sunflower oil or other seed oils that most other cracker brands use. Olive oil is known for its anti-inflammatory and antioxidant properties, making it a perfect addition to our snacks!</p>
      </div>
      <div class="about-column about-column-item-3">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Organic_Shiitake_Mushroom_Flour.png?v=1747647229" alt="Shiitake Mushroom Flour">
          <h2 class="text-butter">Organic Shiitake Mushroom Flour</h2>
          <p class="text-butter">Shiitake is another adaptogen and functional superfood known for aiding immune function and also may support heart health and contain anti-cancer properties.</p>
      </div>
      <div class="about-column about-column-item-4">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Organic_cassava_flour.png?v=1747647228" alt="Cassava Flour">
          <h2 class="text-dusk">Organic Cassava Flour</h2>
          <p class="text-dusk">Our organic cassava flour is the whole package! Rich in minerals, fiber, and antioxidants, cassava flour is good for the gut and may improve digestive health.</p>
      </div>
      <div class="about-column about-column-item-5">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Sunflower_seed_protein.png?v=1747647229" alt="Sunflower Seed Protein">
          <h2 class="text-evergreen">Sunflower Seed Protein</h2>
          <p class="text-evergreen">Sunflower seed protein is anti-inflammatory, rich in healthy fats, and has some protein to keep you full. Say goodbye to filler snacks!</p>
      </div>
      <div class="about-column about-column-item-6">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Organic_Garlic_Powder.png?v=1747647229" alt="Garlic Powder">
          <h2 class="text-butter">Organic Garlic Powder</h2>
          <p class="text-butter">Our organic garlic powder is known to boost immunity and fight harmful bacteria.</p>
      </div>
      <div class="about-column about-column-item-7">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Organic_Rosemary.png?v=1747647229" alt="Rosemary">
          <h2 class="text-dusk">Organic Rosemary</h2>
          <p class="text-dusk">Our organic rosemary pieces are rich in minerals and known for their anti-inflammatory properties.</p>
      </div>
      <div class="about-column about-column-item-8">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Potato_starch.png?v=1747647229" alt="Potato Starch">
          <h2 class="text-evergreen">Potato Starch</h2>
          <p class="text-evergreen">Potato starch is known to improve digestive and gut health.</p>
      </div>
      <div class="about-column about-column-item-9">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Tapioca_Starch.png?v=1747647229" alt="Tapioca Starch">
          <h2 class="text-butter">Tapioca Starch</h2>
          <p class="text-butter">Tapioca starch is easy digestible and known to enhance gut health.</p>
      </div>
    </div>
    <div class="custom-arrows">
      <div class="custom-arrow custom-arrow-left">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/back-icon-about.png?v=1748324185" alt="Previous product">
      </div>
      <div class="custom-arrow custom-arrow-right">
          <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/next-icon-about.png?v=1748324186" alt="Next product">
      </div>
    </div>
    <style>
        .About-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 80px 0;
        }
    
        .about-column {
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            color: #fff;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }
    
        .about-column-item-1 { background-color: #FF7F4D; }
        .about-column-item-2 { background-color: #92C7EC; }
        .about-column-item-3 { background-color: #208961; }
        .about-column-item-4 { background-color: #FFA9E7; }
        .about-column-item-5 { background-color: #FFD664; }
        .about-column-item-6 { background-color: #ED5C2F; }
        .about-column-item-7 { background-color: #82D1A6; }
        .about-column-item-8 { background-color: #FF7F4D; }
        .about-column-item-9 { background-color: #3973C6; }
    
        .about-column img {
            width: 60%;
            margin: 0 auto;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
            order: 1;
        }
    
        .about-column h2 {
            margin: 16px 0;
            text-transform: uppercase;
            order: 2;
        }
    
        .about-column p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin: 0;
            order: 3;
            font-family: Dazzed, sans-serif;
        }
    
        .custom-arrows {
            display: none;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            position: relative;
            z-index: 10;
        }
    
        .custom-arrow {
            cursor: pointer;
        }
    
        .custom-arrow img {
            width: 40px;
            height: 40px;
        }
    
        @media (max-width: 768px) {
          .About-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 20px;
            padding: 50px 20px;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            position: relative;
          }
          
          .About-container::-webkit-scrollbar {
            display: none;
          }
          
          .about-column {
            flex: 0 0 80%;
            scroll-snap-align: center;
            min-width: 0;
            width: 80vw;
          }
          
          .about-column img {
            width: 100%;
            height: auto;
            max-height: 150px;
          }
    
          .custom-arrows {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            margin-top: -24px;
            padding-bottom: 70px;
          }
          figure.fun.fun-peppercorn._greeting._2.about-column-icon {
            width: 29%;
            position: relative;
            left: 60px;
            top: 97px;
            z-index: 2;
          }
        }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          const sliderWrapper = document.querySelector('.About-container');
          const leftArrow = document.querySelector('.custom-arrow-left');
          const rightArrow = document.querySelector('.custom-arrow-right');
          const items = document.querySelectorAll('.about-column');
          const totalItems = items.length;
          let itemWidth = items[0].offsetWidth + 20; // Width + gap
          let currentIndex = 0;
          let isScrolling = false;
      
          // Update slider position
          function updateSlider() {
              if (window.innerWidth <= 768) {
                  const scrollPosition = currentIndex * itemWidth;
                  sliderWrapper.scrollTo({
                      left: scrollPosition,
                      behavior: 'smooth'
                  });
              } else {
                  sliderWrapper.scrollTo({ left: 0 });
                  sliderWrapper.style.scrollSnapType = 'none';
              }
          }
      
          // Update item width on resize
          function updateItemWidth() {
              itemWidth = items[0].offsetWidth + 20;
              updateSlider();
          }
      
          // Left arrow click
          leftArrow.addEventListener('click', () => {
              if (window.innerWidth <= 768 && currentIndex > 0 && !isScrolling) {
                  isScrolling = true;
                  currentIndex--;
                  updateSlider();
              }
          });
      
          // Right arrow click
          rightArrow.addEventListener('click', () => {
              if (window.innerWidth <= 768 && currentIndex < totalItems - 1 && !isScrolling) {
                  isScrolling = true;
                  currentIndex++;
                  updateSlider();
              }
          });
      
          // Sync manual scroll with currentIndex
          sliderWrapper.addEventListener('scroll', () => {
              if (window.innerWidth <= 768 && !isScrolling) {
                  const scrollLeft = sliderWrapper.scrollLeft;
                  const newIndex = Math.round(scrollLeft / itemWidth);
                  if (newIndex !== currentIndex) {
                      currentIndex = Math.max(0, Math.min(newIndex, totalItems - 1));
                  }
              }
          });
      
          // Reset isScrolling flag after scroll animation
          sliderWrapper.addEventListener('scrollend', () => {
              isScrolling = false;
          });
      
          // Handle window resize
          window.addEventListener('resize', () => {
              updateItemWidth();
              currentIndex = 0;
              updateSlider();
          });
      
          // Initial setup
          updateItemWidth();
          updateSlider();
      });
    </script>
  {% endcomment %}
