<section class="_about _i" style="background-color: {{ section.settings.background_color }};">
  <aside class="_i">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="_card">
            <div class="_info">
              <div class="_heading">
                <div class="title-3"><h3 data-splitting>{{ section.settings.subtitle | escape }}</h3></div>
                <div class="title-1"><h1 data-splitting>{{ section.settings.heading | escape }}</h1></div>
              </div>
            </div>
            <figure class="_bg">
              <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/bg-about.png?v=1745127467">
            </figure>
          </div>
          <div class="_items">
            <div class="_item ">
              <span>women owned</span>
            </div>
            <div class="_item ">
              <span>glutten free</span>
            </div>
            <div class="_item ">
                <span>non gmo</span>
            </div>
            <div class="_item ">
                <span>dairy free</span>
            </div>
            <div class="_item ">
                <span>nut free</span>
            </div>
            <div class="_item ">
                <span>seed oil free</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_ii">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _1">
            <div class="_front">
              <div class="_info">
                <div class="title-2"><h2 data-splitting>{{ section.settings.card1_title | escape }}</h2></div>
                <div class="title-5"><h5 data-splitting>{{ section.settings.card1_text | escape }}</h5></div>
                <div class="text-l"><p data-splitting>{{ section.settings.card1_description | escape }}</p></div>
              </div>
            </div>
            <figure class="_shadow"></figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_iii">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _2">
            <div class="_front">
              <div class="in-front">
                <div class="_info">
                  <div class="title-2"><h2 data-splitting>{{ section.settings.card2_title | escape }}</h2></div>
                  <div class="title-5"><h5 data-splitting>{{ section.settings.card2_text | escape }}</h5></div>
                  <div class="text-l"><p data-splitting>{{ section.settings.card2_description | escape }}</p></div>
                </div>
                <div class="_media">
                  <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_about_1.png?v=1745201522">
                  </figure>
                  <div class="_message _1">
                    <div class="_data">
                      <span>This led me to multiple health conditions and hospital visits, until I began prioritizing a healthier lifestyle.</span>
                    </div>
                    <figure class="_bg">
                      <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/message_about_1.svg?v=1745201521">
                    </figure>
                  </div>
                </div>
              </div>
                
            </div>
            <figure class="_shadow"></figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_iv">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _3">
            <div class="_front">
              <div class="in-front">
                <div class="_media">
                  <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_about_2.png?v=1745201522">
                  </figure>
                  <div class="_message _1">
                    <div class="_data">
                      <span>Our first taste test many months ago!</span>
                    </div>
                    <figure class="_bg">
                      <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/message_about_2.svg?v=1745201521">
                    </figure>
                  </div>
                  <div class="_character">
                    <figure class="fun-i">
                      <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/hongo_green_1.svg?v=1745201521">
                    </figure>
                  </div>
                </div>
                <div class="_info">
                  <div class="title-5"><h3 data-splitting>{{ section.settings.card3_text | escape }}</h3></div>
                  <div class="text-l"><p data-splitting>{{ section.settings.card3_description | escape }}</p></div>
                </div>
              </div>
                
            </div>
            <figure class="_shadow"></figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <aside class="_v">
    <div class="_content">
      <div class="_container full-1">
        <div class="inside">
          <div class="cardy-i _4">
            <div class="_front">
              <div class="in-front">
                <div class="_media">
                  <figure>
                    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/pic_about_3.png?v=1745201522">
                  </figure>
                  <div class="_message _1">
                    <div class="_data">
                      <span>Many trials later, we're producing delicious crackers everyone can enjoy! <3</span>
                    </div>
                    <figure class="_bg">
                      <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/message_about_3.svg?v=1745201521">
                    </figure>
                  </div>
                  <div class="_character">
                    <figure class="fun-i">
                      <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/hongo_blue_1.svg?v=1745201521">
                    </figure>
                  </div>
                </div>
                <div class="_info">
                  <div class="title-3"><h3 data-splitting>{{ section.settings.card4_text | escape }}</h3></div>
                  <div class="text-l"><p data-splitting>{{ section.settings.card4_description | escape }}</p></div>
                  <div class="_firma">
                    <div class="fir-1">
                      {{ section.settings.card4_firma_1 | escape }}
                    </div>
                  </div>
                </div>
              </div>
                
            </div>
            <figure class="_shadow"></figure>
          </div>
        </div>
      </div>
    </div>
  </aside>
                        
  <aside class="_cinta" style="background-color: {{ section.settings.background_cinta }};">
    <div class="marquee">
      <div class="track">
        <div class="content">
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
        </div>
      </div>
    </div>
    
  </aside>
</section>

{% schema %}
  {
    "name": "About",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff7eb"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Welcome to"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card1_title",
        "label": "Card Title 1",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card1_text",
        "label": "Card Text 1",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card1_description",
        "label": "Card Description 1",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card2_title",
        "label": "Card Title 2",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card2_text",
        "label": "Card Text 2",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card2_description",
        "label": "Card Description 2",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card3_text",
        "label": "Card Text 3",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "card3_description",
        "label": "Card Description 3",
        "default": "Snacking Paradise!"
      },
      {
        "type": "text",
        "id": "marquee",
        "label": "Marquee",
        "default": "Say hello to our amazing key ingredients -"
      },
      {
        "type": "color",
        "id": "background_cinta",
        "label": "Background cinta",
        "default": "#fff7eb"
      }
    ]
  }
{% endschema %}