<section class="_faq _1">
  <div class="_content">
    <div class="_container full-3">
      <div class="_heading">
        <div class="title-2 text-dusk">
          <h2>{{ section.settings.heading | escape }}</h2>
        </div>
        <div class="title-3 text-dusk">
          <h3>{{ section.settings.subtitle | escape }}</h3>
        </div>
      </div>
      <div class="_boding">
        <div class="card-i _1">
          <aside class="_front">
            <div class="in-front">
              <div class="accordion" id="accordion_faq">
                {% for block in section.blocks %}
                  <div class="accordion-item">
                    <h2 class="accordion-header text-cornflower" id="heading-{{ block.id }}">
                      <button
                        class="accordion-button {% unless forloop.first %}collapsed{% endunless %}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ block.id }}"
                        aria-expanded="{{ forloop.first }}"
                        aria-controls="collapse-{{ block.id }}"
                      >
                        <span class="_data title-5">{{ block.settings.question }}</span>
                        <span class="_icon"><i class="bi bi-caret-down-fill"></i></span>
                      </button>
                    </h2>
                    <div
                      id="collapse-{{ block.id }}"
                      class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                      aria-labelledby="heading-{{ block.id }}"
                      data-bs-parent="#accordion_faq"
                    >
                      <div class="accordion-body">
                        <div class="text-m text-cornflower">{{ block.settings.answer }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="_note">
                <div class="title-4 text-dusk">
                  <h5>{{ section.settings.cta_heading }}</h5>
                </div>
                <div class="_actions">
                  <a href="{{ section.settings.cta_link }}" class="_btn btn-i _blue_1">
                    <span>{{ section.settings.cta_label }}</span>
                  </a>
                </div>
              </div>
            </div>
          </aside>
          <figure class="_bg">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1131 1312" fill="none">
              <path d="M1122.95 1281.85C1122.59 1296.23 1115.68 1307.64 1107.28 1307.56L931.841 1305.41C696.851 1302.69 461.915 1299.84 226.913 1308.71C158.655 1311.27 90.2266 1314.93 22.288 1305.51C12.3597 1304.24 4.66239 1290.38 4.32411 1273.37C1.85926 1145.94 0.444706 1018.51 0.0804482 891.069C-0.558174 647.651 2.60267 404.297 9.66018 161.16C10.6249 127.633 4.07289 32.2008 21.9784 15.6928C32.9144 5.64311 61.2196 13.799 73.8335 13.155C91.3995 12.4393 109.018 11.589 126.584 10.8734L322.178 2.03263C381.286 -0.564554 478.01 -1.0222 537.051 2.73472C595.244 6.38283 657.677 -0.31224 715.213 0.9893C775.65 2.2389 829.896 13.8642 890.268 7.75303C964.222 -0.00897258 1038.32 0.589969 1112.08 9.34481C1119.41 10.2857 1125.17 20.4984 1125.39 33.1104C1133.62 449.01 1132.78 865.726 1122.95 1281.85Z" fill="#FCF9EF"/>
            </svg>
          </figure>
          <figure class="_shadow">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1131 1312" fill="none">
              <path d="M1122.95 1282.25C1122.59 1296.62 1115.68 1308.04 1107.28 1307.95L931.841 1305.8C696.851 1303.09 461.915 1300.23 226.913 1309.11C158.655 1311.66 90.2266 1315.33 22.288 1305.9C12.3597 1304.63 4.66239 1290.78 4.32411 1273.77C1.85926 1146.34 0.444706 1018.9 0.0804482 891.463C-0.558174 648.046 2.60267 404.692 9.66018 161.555C10.6249 128.027 4.07289 32.5954 21.9784 16.0874C32.9144 6.03764 61.2196 14.1935 73.8335 13.5495C91.3995 12.8339 109.018 11.9836 126.584 11.2679L322.178 2.42716C381.286 -0.170023 478.01 -0.627673 537.051 3.12925C595.244 6.77736 657.677 0.0822915 715.213 1.38383C775.65 2.63343 829.896 14.2587 890.268 8.14756C964.222 0.385559 1038.32 0.9845 1112.08 9.73934C1119.41 10.6802 1125.17 20.8929 1125.39 33.5049C1133.62 449.405 1132.78 866.12 1122.95 1282.25Z" fill="#1E429B"/>
            </svg>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <figure class="sec_bg">
    <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/clouds_1.svg?v=1745210578">
  </figure>
</section>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "ARE WE HAVEN’ FUN YET?"
    },
    {
      "type": "text",
      "id": "cta_heading",
      "label": "Note Heading",
      "default": "Still have questions?"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Button Text",
      "default": "GET IN TOUCH WITH US"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Button Link"
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "What is your return policy?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>We offer a 30-day return policy on all unopened packages.</p>"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "FAQ",
      "category": "Custom"
    }
  ]
}
{% endschema %}
