<section class="_home _v" style="background-color: {{ section.settings.background_color }};">
  <span id="trigger_home_v_1" class="_trigger"></span>
  <span id="trigger_home_iv2" class="_trigger"></span>
  <span id="trigger_home_v_3" class="_trigger"></span>
  <span id="trigger_home_v_4" class="_trigger"></span>
  <span id="trigger_home_v_5" class="_trigger"></span>

  <div class="_content">
    <div class="_inside _1">
      <div class="_container full-1">
        <div class="card-1 _1">
          <div class="_in-card">
            <div class="_heading">
              <div class="title-2">
                <h2><span data-splitting>{{ section.settings.heading }}</span></h2>
              </div>
              <div class="title-5">
                <h2><span data-splitting>{{ section.settings.heading }}</span></h2>
              </div>
            </div>
            <div class="_boding">
              
              <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="_form-beans">
                <input type="hidden" name="form_type" value="contact">
                <input type="hidden" name="utf8" value="✓">
                <div class="form-floating">
                  <input type="text" name="contact[name]" id="floatingName" class="form-control text-3" placeholder="Name" required>
                  <label for="floatingName" class="text-3">Full name</label>
                </div>
  
                <div class="form-floating">
                  <input type="email" name="contact[email]" id="floatingEmail" class="form-control text-3" placeholder="Email" required>
                  <label for="floatingEmail" class="text-3">E-mail</label>
                </div>
                  <button type="submit" class="_btn btn-i _5">
                    <span class="_info text-btn">Subscribe</span>
                  </button>
              </form>
            </div>
            <figure class="_character _1">
              <img src="">
            </figure>
          </div>
        </div>

        <div class="_boding">
          <div class="_flex _items">
            {% for block in section.blocks %}
              {% if block.type == 'item' %}
                <div class="_item _{{ forloop.index }}">
                  <div class="_in-item">
                    {% if block.settings.image %}
                      <figure>
                        <img src="{{ block.settings.image | image_url }}" alt="Item image {{ forloop.index }}">
                      </figure>
                    {% endif %}
                    <div class="_description">
                      <div class="title-4">
                        <h4>{{ block.settings.text | strip_html }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home V",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff7eb"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "What Makes Us Different Than Other Crackers?"
    },
    {
      "type": "richtext",
      "id": "body_text",
      "label": "Body Text",
      "default": "<p>Treat yourself to a nourishing, stress-free snack that tastes amazing and makes you feel even better!</p>"
    },
    {
      "type": "richtext",
      "id": "default_text",
      "label": "Default Text",
      "default": "<p>We hope you love them as much as we do! <span>xoxo</span></p>"

    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "button_target_blank",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "message_image",
      "label": "Image - Message Bubble"
    },
    {
      "type": "image_picker",
      "id": "detail_image",
      "label": "Image - Background Lines"
    },
    {
      "type": "image_picker",
      "id": "xoxo_image",
      "label": "Image - xoxo Photo"
    },
    {
      "type": "image_picker",
      "id": "sticker_1",
      "label": "Sticker 1"
    },
    {
      "type": "image_picker",
      "id": "sticker_2",
      "label": "Sticker 2"
    },
    {
      "type": "image_picker",
      "id": "sticker_3",
      "label": "Sticker 3"
    },
    {
      "type": "image_picker",
      "id": "sticker_4",
      "label": "Sticker 4"
    },
    {
      "type": "image_picker",
      "id": "sticker_5",
      "label": "Sticker 5"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Item description</p>"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Home V",
      "category": "Custom",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "text": "<p>Functional Mushroom Flour</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>We Use Olive Oil</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>OG of Added Sugar and No Artificial Ingredients</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>Made Without All 9 Major Allergens</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
