<section class="_home _v" style="background-color: {{ section.settings.background_color }};">
  <span id="trigger_home_v_1" class="_trigger"></span>
  <span id="trigger_home_iv2" class="_trigger"></span>
  <span id="trigger_home_v_3" class="_trigger"></span>
  <span id="trigger_home_v_4" class="_trigger"></span>
  <span id="trigger_home_v_5" class="_trigger"></span>
  <div class="_content">
    <div class="_inside _1" style="" id="home-sec5-Stay-Updated">
      <div class="_container full-1">
        <div class="card-i _canary">
          <div class="_card-content">
            <div class="_container full-2">
              <!-- Flex wrapper -->
              <div class="_flex ">
                <!-- Left Section -->
                <div class="in-card _1 flex-fill" id="form-left-side-home">
                  <div class="_inside" id="inside-1">
                    <div class="_heading">
                      <div class="title-2 text-persimmon">
                        <h2>
                          <span data-splitting>{{ section.settings.heading }}</span>
                        </h2>
                      </div>
                      <div class="title-5 text-persimmon">
                        <h2>
                          <span data-splitting>{{ section.settings.body_text }}</span>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Right Section -->
                <div class="in-card _2 d-lg-flex flex-fill" id="form-right-side-home">
                  <div class="_inside" id="home-form-right">
                    <div class="_boding">
                      {% form 'contact', id: 'contact_form', class: '_form-beans' %}
                        <input type="hidden" name="contact[tags]" value="homepage-subscription">
                      
                        {% if form.posted_successfully? %}
                          <p class="form-success">Thank you! Your message has been sent.</p>
                        {% elsif form.errors %}
                          <ul class="form-errors">
                            {% for field in form.errors %}
                              <li>{{ field | capitalize }}: {{ form.errors[field] | join: ', ' }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      
                        <div class="form-floating mb-3">
                          <input
                            type="text"
                            name="contact[name]"
                            id="floatingName"
                            class="form-control text-3"
                            placeholder="Full-Name"
                            required
                          >
                          <label for="floatingName" class="text-3">Full name</label>
                        </div>
                      
                        <div class="form-floating mb-3">
                          <input
                            type="email"
                            name="contact[email]"
                            id="floatingEmail"
                            class="form-control text-3"
                            placeholder="E-mail"
                            required
                          >
                          <label for="floatingEmail" class="text-3">E-mail</label>
                        </div>
                      
                        <button type="submit" class="_btn btn-i bg-persimoon">
                          <span class="_info text-btn">Subscribe</span>
                        </button>
                      {% endform %}

                    </div>
                    <figure class="fun fun-dust _handsup _1">
                      <span class="_body _skin">
                        <svg
                          class="body_left_fun"
                          xmlns="http://www.w3.org/2000/svg"
                          width="233"
                          height="306"
                          viewBox="0 0 233 306"
                          fill="none"
                        >
                          <path d="M165.217 149.174C165.221 149.061 165.226 148.948 165.231 148.835C165.533 141.459 166.629 134.302 168.34 127.127C169.117 123.864 171.571 121.635 174.957 121.451C183.15 121.006 191.391 121.379 199.434 120.19C209.357 118.727 225.028 116.281 229.609 107.513C234.037 99.0236 233.722 88.7998 230.58 79.5847C220.377 49.6783 189.323 21.789 159.272 9.322C128.74 -3.3464 92.6337 -2.19811 63.5257 12.6571C36.4613 26.4701 16.4678 50.9536 3.9831 78.2228C-0.0601146 87.0617 -0.877953 98.8558 3.55387 107.795C5.98086 112.685 10.2996 116.502 15.5034 118.636C21.6221 121.139 28.2195 122.138 34.7144 123.112C42.6578 124.304 51.9277 125.586 60.3374 126.803C63.1741 127.213 65.4192 129.426 65.7159 132.258C66.1681 136.557 65.6312 141.21 65.5676 145.536C65.4157 155.763 64.6261 166.086 65.5799 176.248C65.8802 179.16 66.3148 182.258 68.316 184.477C68.9148 185.143 72.6596 185.899 78.342 186.591C86.7146 188.372 87.2339 194.651 87.3875 201.531C88.0093 229.634 87.029 278.423 86.2111 291.989C86.114 293.621 85.0577 294.873 83.7488 295.002C82.8639 295.091 82.0743 295.463 81.5868 295.825C80.1154 296.926 78.8542 299.068 79.778 301.294C79.9546 301.723 80.2249 302.078 80.4934 302.414C83.5916 306.263 92.2451 305.336 94.5007 304.797C96.3766 304.352 98.3302 303.797 99.6126 301.879C100.236 300.946 100.57 299.729 100.397 298.532C100.112 296.571 98.7523 295.642 97.2898 295.439C96.3907 295.319 95.7142 294.366 95.6912 293.241C95.4775 281.841 95.7001 230.519 97.0884 201.531C97.417 194.657 99.6444 189.179 112.807 188.746C114.966 188.783 117.138 188.803 119.301 188.803H120.111C129.772 189.827 132.363 194.65 132.518 201.531C133.14 229.634 132.16 278.423 131.342 291.989C131.241 293.621 130.185 294.873 128.88 295.002C127.995 295.091 127.205 295.463 126.718 295.825C125.246 296.926 123.985 299.068 124.905 301.294C125.085 301.723 125.356 302.078 125.624 302.414C128.722 306.263 137.376 305.336 139.631 304.797C141.504 304.352 143.461 303.797 144.743 301.879C145.367 300.946 145.699 299.729 145.528 298.532C145.243 296.571 143.883 295.642 142.421 295.439C141.521 295.319 140.845 294.366 140.822 293.241C140.608 281.841 140.831 230.519 142.219 201.531C142.548 194.657 146.481 188.188 154.711 185.857C157.223 185.412 159.786 185.06 161.686 183.451C165.117 180.554 165.283 175.499 165.246 171.056C165.182 163.761 164.938 156.462 165.219 149.169L165.217 149.174ZM138.105 149.946C138.07 150.573 137.78 151.313 137.406 151.831C137.06 152.31 136.51 152.833 135.964 153.036C135.539 153.26 135.094 153.364 134.627 153.341C134.309 153.398 134 153.373 133.698 153.26C133.237 153.156 132.831 152.946 132.412 152.712C132.151 152.568 131.395 152.082 130.577 151.471C126.092 154.553 120.295 156.625 115.056 156.87C114.305 156.908 113.569 156.923 112.843 156.923C106.671 156.923 101.368 155.646 97.0602 153.119C95.5605 152.235 95.0554 150.303 95.9385 148.803C96.8182 147.304 98.7506 146.799 100.25 147.682C103.995 149.879 108.872 150.849 114.759 150.575C118.684 150.39 123.132 148.832 126.592 146.56C126.117 145.479 125.797 144.257 125.99 143.073C126.018 142.755 126.122 142.466 126.302 142.206C126.41 141.916 126.58 141.671 126.816 141.471C127.323 140.91 127.977 140.51 128.721 140.371C129.033 140.355 129.344 140.342 129.653 140.327C129.955 140.395 130.261 140.466 130.565 140.535C131.444 140.922 133.566 141.563 135.486 143.907C138.199 147.219 138.134 149.464 138.105 149.946ZM103.149 126.125C103.193 124.77 103.417 121.031 105.145 119.323C105.337 119.098 105.563 118.953 105.823 118.888C106.053 118.743 106.297 118.68 106.558 118.699C107.194 118.646 107.835 118.823 108.393 119.27C108.602 119.487 108.81 119.708 109.017 119.925C109.174 120.206 109.331 120.483 109.49 120.764C109.84 121.716 110.857 123.785 110.799 127.017C110.718 131.585 109.437 133.268 109.155 133.618C108.782 134.075 108.19 134.43 107.664 134.551C107.174 134.664 106.531 134.658 106.069 134.411C105.671 134.27 105.33 134.017 105.041 133.655C104.804 133.463 104.618 133.21 104.486 132.899C104.246 132.477 104.101 132.014 103.96 131.521C103.787 130.919 103.099 127.872 103.152 126.125H103.149ZM116.328 126.037C116.397 124.682 116.693 120.946 118.449 119.27C118.647 119.049 118.875 118.908 119.136 118.844C119.366 118.704 119.615 118.646 119.875 118.671C120.51 118.627 121.152 118.812 121.699 119.27C121.901 119.494 122.106 119.715 122.31 119.937C122.462 120.218 122.612 120.501 122.764 120.782C123.098 121.739 124.073 123.827 123.957 127.061C123.787 131.629 122.475 133.289 122.185 133.634C121.807 134.088 121.205 134.43 120.678 134.542C120.187 134.646 119.546 134.63 119.087 134.374C118.693 134.225 118.356 133.968 118.071 133.598C117.838 133.402 117.658 133.148 117.532 132.835C117.303 132.41 117.167 131.943 117.034 131.449C116.874 130.843 116.243 127.784 116.328 126.037ZM158.782 93.274C158.593 93.3747 158.366 93.5142 158.127 93.6591C156.525 94.6323 152.775 96.9128 148.774 93.2811C146.829 91.513 147.308 88.7539 148.324 84.0306C148.396 83.6933 148.453 83.4319 148.477 83.2906C148.481 83.2588 148.49 83.2181 148.497 83.1899L150.991 70.707C150.336 71.3817 149.544 72.2508 148.596 73.3707C146.254 76.1421 143.887 79.3375 142.159 81.6709C141.371 82.7325 140.753 83.568 140.29 84.1579C138.821 86.0267 136.51 88.8141 134.431 91.0397C131.326 94.3552 128.512 96.9746 125.516 95.3954C121.12 93.0762 122.386 86.0126 123.142 81.7909C123.183 81.5648 123.222 81.3599 123.25 81.1832C123.572 79.3268 123.902 77.4738 124.238 75.6192C124.884 72.014 125.552 68.287 126.101 64.6289C126.474 62.1224 126.438 60.6387 126.331 59.812C125.274 60.5027 123.642 62.0535 122.413 64.2031C121.849 65.1923 120.903 66.8986 119.809 68.8681C117.391 73.2275 114.083 79.1944 111.421 83.6951C110.387 85.4421 109.409 87.0935 108.476 88.3229C107.84 89.1584 105.91 91.6984 102.97 91.1844C99.5278 90.5786 98.5174 86.6925 97.8391 83.0962C97.6466 82.0841 97.5459 80.4396 97.3817 77.6187C97.2297 75.031 96.903 69.4069 96.2724 65.7011C96.0798 66.0879 95.8714 66.5278 95.6489 67.0241C94.4071 69.7814 93.2289 74.7785 92.0879 79.6095C89.463 90.7518 88.0146 96.1391 83.8742 96.8156C83.4715 96.8809 83.0776 96.9129 82.6978 96.9129C77.7714 96.9164 74.9788 91.6367 73.5851 89.0013L73.4456 88.7363C70.955 84.0466 69.0932 79.0459 67.9045 73.874C67.8674 73.7062 67.8285 73.5455 67.7914 73.3953C67.7473 73.5914 67.7031 73.7963 67.6589 74.0135C66.7192 78.6379 66.4896 82.2625 66.8623 86.5177C67.0425 88.5578 67.6024 98.8294 61.0845 100.815C56.0981 102.334 50.7389 96.6566 49.3523 94.4168C48.5415 93.1062 47.8615 91.861 47.2627 90.7606C46.2823 88.9607 45.4822 87.4892 44.5672 86.553C44.5478 86.7986 44.5301 87.0988 44.516 87.4609C44.4595 89.365 44.2104 93.0373 44.1344 94.1148C43.9101 97.3261 43.3184 101.258 40.6671 103.171C39.7221 103.851 38.6145 104.203 37.4523 104.203C36.9506 104.203 36.4366 104.137 35.9208 104.006C31.6586 102.913 28.3307 96.2999 26.7269 92.4545C25.9868 90.6899 26.8223 88.6567 28.5904 87.9184C30.355 87.18 32.3881 88.0156 33.1264 89.782C34.2763 92.5376 35.7813 95.0828 36.8641 96.4235C36.9965 95.8053 37.129 94.9133 37.2209 93.638C37.3693 91.4795 37.5459 88.6639 37.59 87.2525C37.6307 85.8871 37.7543 84.2956 38.3567 82.8295C39.3458 80.4114 41.4513 79.0036 43.9931 79.0655C45.6253 79.1026 47.2026 79.7047 48.5504 80.8087C50.6912 82.5574 51.986 84.9315 53.3549 87.4433C53.9378 88.5155 54.5401 89.6212 55.252 90.7658C56.0345 92.0323 58.0446 93.6433 59.0815 94.0443C59.6555 93.1328 60.2314 90.2748 59.9576 87.1254C59.5284 82.2237 59.8004 77.889 60.8655 72.6358C61.2947 70.5268 62.5965 64.1008 67.3392 63.7069C72.5907 63.2759 74.1539 70.0904 74.6679 72.3302C75.7171 76.9103 77.3669 81.3352 79.5731 85.4862L79.718 85.7599C80.7301 87.6693 81.5426 88.9412 82.1485 89.5559C83.18 87.1889 84.4518 81.7928 85.3421 78.0198C86.5556 72.8691 87.8132 67.5452 89.3288 64.1767C90.6059 61.3435 93.2625 55.449 97.802 56.2845C102.785 57.2048 103.587 64.8073 104.308 77.2179C104.408 78.9648 104.516 80.7663 104.62 81.5736C104.91 81.0914 105.198 80.6091 105.456 80.1676C108.068 75.7516 111.35 69.8325 113.749 65.5067C114.899 63.433 115.807 61.7938 116.397 60.7658C118.758 56.6272 124.066 51.0896 129.005 52.8013C134.59 54.7372 133.364 62.9544 132.962 65.6552C132.403 69.4158 131.723 73.1922 131.068 76.8485C130.74 78.6838 130.409 80.5209 130.095 82.3579C130.06 82.554 130.022 82.7747 129.978 83.0167C129.752 84.2779 129.593 85.3202 129.487 86.1822C131.019 84.5377 132.917 82.3332 134.846 79.8779C135.247 79.3675 135.874 78.523 136.595 77.548C145.711 65.2417 150.533 60.0629 155.029 61.9017C159.039 63.5444 158.247 69.1791 157.947 71.3005C157.938 71.3659 157.928 71.4294 157.912 71.4965L155.315 84.5076C155.271 84.7443 155.207 85.0464 155.114 85.4915C154.934 86.3235 154.789 87.0458 154.676 87.6534C154.941 87.4927 155.214 87.3285 155.511 87.1713C158.348 85.6487 161.856 82.8719 165.251 80.187C167.34 78.532 169.506 76.8168 171.495 75.4178C173.178 74.2361 177.647 71.0938 180.901 73.7222C184.027 76.2499 182.455 81.095 181.002 84.5217L180.986 84.5571C180.756 85.1153 180.408 85.7547 179.97 86.5655C179.869 86.7509 179.744 86.991 179.601 87.256C180.412 86.8462 181.196 86.4118 181.698 86.131C183.081 85.3626 184.178 84.7531 185.174 84.4634C185.675 84.3186 186.403 83.9971 187.11 83.6844C189.621 82.5751 193.061 81.0526 195.966 83.2094C199.478 85.813 198.236 89.4463 197.637 91.1932C197.425 91.815 197.224 92.398 197.164 92.889C197.091 93.4755 197.067 93.9171 197.068 94.2421C197.616 94.1379 198.291 93.9611 198.768 93.8357C199.105 93.7474 199.442 93.6592 199.773 93.5797C201.633 93.1258 203.509 94.2668 203.963 96.1268C204.417 97.9868 203.275 99.8626 201.416 100.317C201.122 100.389 200.824 100.468 200.524 100.546C198.104 101.18 194.786 102.046 192.268 99.8362C189.599 97.494 190.111 93.3782 190.282 92.0252C190.395 91.1296 190.623 90.3208 190.849 89.6195C190.512 89.7608 190.181 89.9056 189.913 90.0258C188.996 90.432 188.048 90.8523 187.096 91.1261C186.79 91.2303 185.794 91.785 185.066 92.1913C181.876 93.9665 178.264 95.973 175.052 95.0192C173.671 94.6059 172.534 93.6697 171.857 92.3784C170.426 89.6547 172.175 86.4118 173.869 83.2747C174.143 82.7643 174.484 82.1336 174.581 81.9005L174.618 81.8121C174.637 81.7645 174.659 81.7168 174.678 81.6726C173.074 82.8384 171.355 84.1967 169.552 85.6257C165.92 88.4978 162.167 91.4688 158.791 93.2828L158.782 93.274Z" fill="#FF7F4D"/>
                        </svg>
                      </span>
                      <span class="_hand-left _skin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="36" viewBox="0 0 86 36" fill="none">
                          <path d="M84.6823 8.82645C84.8201 5.39263 83.5236 4.24455 83.5148 0.80896C75.6685 6.29177 63.5283 16.6675 54.4845 19.8028C46.7337 22.4912 37.3189 21.3624 28.8898 20.5852C26.9415 20.4051 23.5006 20.6982 22.8188 18.7499C21.8455 15.9696 21.4092 14.5301 20.5172 10.614C20.1516 9.01547 18.0902 6.84462 16.6241 7.27915C12.5668 8.47322 14.9355 13.1824 12.6533 14.4683C10.9929 15.4045 8.58007 13.0586 6.94442 11.9564C5.25223 10.8153 2.8429 10.939 2.56912 12.9208C2.26 15.1624 5.14448 18.1405 4.52272 20.2866C3.95925 22.2473 0.693233 22.3039 0.682635 24.5225C0.679102 25.3774 1.20902 26.1669 1.95973 26.5838C3.59539 27.4882 5.20985 26.9582 6.82607 26.801C8.07666 26.6773 9.52155 26.8611 10.3941 27.882C12.0086 29.7756 10.6556 33.2412 12.6039 34.7567C13.9216 35.7812 15.7498 34.9829 16.7495 33.7835C17.7493 32.5841 18.3605 31.0121 19.5828 30.0582C21.5629 28.5144 24.4438 29.0426 26.9962 29.5513C34.5581 31.0545 42.2082 31.7822 49.7912 31.7204C53.7567 31.6886 57.0669 30.703 60.5202 28.9313C64.2295 27.0342 68.6154 24.7008 71.9062 22.1413C74.4957 20.1277 83.808 16.42 85.4913 14.9151C85.5496 14.1114 84.647 9.63195 84.6788 8.82472L84.6823 8.82645Z" fill="#FF7F4D"/>
                        </svg>
                      </span>
                      <span class="_hand-right _skin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="91" height="34" viewBox="0 0 91 34" fill="none">
                          <path d="M86.666 17.972C85.9418 15.8595 88.6779 12.7437 88.2575 10.5181C87.8884 8.55389 85.4773 8.54851 83.8416 9.77084C82.2625 10.9525 79.9679 13.4079 78.2616 12.5565C75.9194 11.3836 78.0567 6.56496 73.9464 5.56519C72.4627 5.20662 70.5037 7.47273 70.2176 9.08896C69.5181 13.0421 69.156 14.5012 68.317 17.3291C67.7305 19.3057 64.2826 19.182 62.3431 19.4576C53.9617 20.6463 44.6123 22.229 36.7414 19.9204C26.8585 17.0253 12.8406 5.30366 3.97522 0.108765C3.95579 4.01067 0.380641 7.9727 0.691522 11.8675C3.18034 13.7876 15.3577 20.2365 19.4486 23.1087C22.863 25.5039 27.3531 27.6201 31.1526 29.337C34.6888 30.9356 38.0432 31.7604 42.0051 31.5996C49.5829 31.2905 57.1889 30.1902 64.6659 28.3213C67.1936 27.6872 70.0463 27.0194 72.0988 28.4661C73.3653 29.3581 74.0524 30.9001 75.1087 32.05C76.165 33.1999 78.0338 33.9101 79.2985 32.8185C81.1673 31.2111 79.6482 27.816 81.1708 25.8465C81.9904 24.7814 83.4247 24.5289 84.6789 24.5925C86.3057 24.672 87.9414 25.1223 89.5328 24.1385C90.2571 23.688 90.7499 22.8685 90.7057 22.0171C90.5891 19.7985 87.3231 19.9027 86.6643 17.972H86.666Z" fill="#FF7F4D"/>
                        </svg>
                      </span>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <aside class="_bg">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1312 388" fill="none">
              <path d="M1302.03 380.594C1301.62 384.723 1293.57 387.953 1283.84 387.831L1080.36 385.255C807.809 381.821 535.296 378.346 262.743 378.264C183.569 378.264 104.231 378.509 25.424 375.034C13.9381 374.503 4.98654 370.455 4.65954 365.508C1.83918 328.632 0.32681 291.755 0.0406864 254.919C-0.490686 184.56 3.4333 114.24 11.8535 44.0032C12.998 34.3548 5.47704 6.6769 26.2414 2.09799C38.9535 -0.682068 71.7351 1.97534 86.3683 1.93445C106.765 1.93445 127.161 1.89357 147.558 1.85269L374.454 1.48474C443.001 1.36209 555.203 2.34329 623.709 4.10126C691.234 5.81835 763.623 4.59186 830.372 5.57306C900.472 6.63602 963.378 10.5608 1033.44 9.49784C1119.11 8.18958 1205.07 9.21166 1290.58 12.5641C1299.08 12.8911 1305.75 15.9574 1305.99 19.596C1315.11 139.915 1313.76 260.316 1301.99 380.513L1302.03 380.594Z" fill="#FFD664"/>
            </svg>
          </aside>
          <aside class="_shadow">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1312 388" fill="none">
              <path d="M1302.03 380.596C1301.62 384.725 1293.57 387.955 1283.84 387.833L1080.37 385.257C807.816 381.823 535.303 378.348 262.75 378.266C183.575 378.266 104.237 378.511 25.4308 375.036C13.945 374.505 4.99338 370.457 4.66638 365.51C1.84601 328.634 0.333646 291.757 0.0475224 254.921C-0.48385 184.561 3.44013 114.242 11.8603 44.0052C13.0048 34.3568 5.48387 6.67885 26.2483 2.09994C38.9604 -0.680114 71.742 1.97729 86.3751 1.93641C106.772 1.93641 127.168 1.89552 147.565 1.85464L374.461 1.48669C443.008 1.36404 555.209 2.34524 623.716 4.10322C691.241 5.82031 763.63 4.59381 830.379 5.57501C900.479 6.63797 963.385 10.5628 1033.44 9.49979C1119.12 8.19153 1205.08 9.21361 1290.59 12.566C1299.09 12.8931 1305.75 15.9593 1306 19.5979C1315.11 139.917 1313.76 260.318 1301.99 380.514L1302.03 380.596Z" fill="#FF7F4D"/>
            </svg>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home V",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff7eb"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "What Makes Us Different Than Other Crackers?"
    },
    {
      "type": "richtext",
      "id": "body_text",
      "label": "Body Text",
      "default": "<p>Treat yourself to a nourishing, stress-free snack that tastes amazing and makes you feel even better!</p>"
    },
    {
      "type": "richtext",
      "id": "default_text",
      "label": "Default Text",
      "default": "<p>We hope you love them as much as we do! <span>xoxo</span></p>"

    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "button_target_blank",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "message_image",
      "label": "Image - Message Bubble"
    },
    {
      "type": "image_picker",
      "id": "detail_image",
      "label": "Image - Background Lines"
    },
    {
      "type": "image_picker",
      "id": "xoxo_image",
      "label": "Image - xoxo Photo"
    },
    {
      "type": "image_picker",
      "id": "sticker_1",
      "label": "Sticker 1"
    },
    {
      "type": "image_picker",
      "id": "sticker_2",
      "label": "Sticker 2"
    },
    {
      "type": "image_picker",
      "id": "sticker_3",
      "label": "Sticker 3"
    },
    {
      "type": "image_picker",
      "id": "sticker_4",
      "label": "Sticker 4"
    },
    {
      "type": "image_picker",
      "id": "sticker_5",
      "label": "Sticker 5"
    },
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Item description</p>"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Home V",
      "category": "Custom",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "text": "<p>Functional Mushroom Flour</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>We Use Olive Oil</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>OG of Added Sugar and No Artificial Ingredients</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p>Made Without All 9 Major Allergens</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
