<section class="_home _i" style="background-color: {{ section.settings.background_color }};">
  <span id="trigger_home_i_1" class="_trigger"></span>
  <div class="_container full-1">
    <div class="_inside">
      <div class="_head">
        <div class="_flex">
          <div class="_stickers">
            <figure class="_sticker sticker-i">
              <div class="in-sticker">
                {%- if section.settings.lines_i != blank -%}
                  {{
                    section.settings.lines_i
                    | image_url: width: 2048
                    | image_tag: loading: 'lazy', class: '_lines', alt: section.settings.heading
                  }}
                {%- endif -%}
                {%- if section.settings.sticker_i != blank -%}
                  {{
                    section.settings.sticker_i
                    | image_url: width: 2048
                    | image_tag: loading: 'lazy', class: '_sello', alt: section.settings.heading
                  }}
                {%- endif -%}
              </div>
            </figure>
          </div>
          
          <div class="_pics">
            <figure class="_pic _i">
              
              <span class="funny _1 d-lg-none">
                <figure class="fun fun-persimmon _greeting _1">
                  <span class="_body _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="212" height="248" viewBox="0 0 212 248" fill="none">
                      <path d="M211.704 94.8488C211.658 87.7463 213.292 21.4103 138.945 3.10192L138.953 3.09484C72.8974 -13.1734 29.7379 47.5296 27.4416 50.9705C23.4355 56.9709 18.0392 72.6138 27.8408 81.1242C32.8626 85.4836 58.9554 96.2337 66.436 100.657C67.6601 101.381 68.1741 102.863 67.6919 104.202C66.9641 106.207 66.1657 108.367 65.3161 110.677C64.7756 112.15 61.1086 124.296 60.7341 125.767C57.7861 137.364 57.3251 143.028 57.2562 146.798C57.2279 148.278 56.1363 149.52 54.6755 149.753C51.8069 150.214 49.0602 150.654 46.3135 151.12C38.1052 152.514 32.2779 156.981 28.7752 164.573C26.5284 169.439 24.5624 174.415 23.0328 179.534C19.6661 190.802 16.4742 202.117 13.2188 213.416C12.6359 215.446 12.348 217.585 11.0621 219.245C9.01662 220.325 7.20609 218.936 5.31961 219.023C2.99683 219.131 1.00967 220.618 0.592812 222.633C0.14592 224.783 1.20397 226.708 3.4402 227.814C3.82173 228.005 4.19974 228.257 4.60953 228.337C7.96387 228.982 11.3094 229.759 14.6973 230.165C17.5341 230.508 19.0885 229.211 19.8268 226.511C24.0131 211.182 28.2365 195.864 32.2532 180.49C32.8467 178.214 34.1574 176.876 35.0282 174.694C36.6197 170.706 39.7038 164.053 44.5683 161.457C49.9893 158.565 57.7084 157.375 62.2444 157.929C65.6676 158.346 71.3553 161.079 75.2502 162.351C76.2764 162.686 76.4495 164.046 75.5593 164.661C67.9427 169.95 66.1233 173.484 62.6825 182.081C60.7536 186.905 58.1323 195.006 56.804 200.027C53.9018 211 51.2558 222.042 48.502 233.053C48.1965 234.281 48.1594 235.634 46.4319 236.614C44.5454 236.672 42.1979 235.952 39.891 236.568C38.296 236.992 37.3139 238.029 36.9606 239.628C36.6073 241.216 37.003 242.669 38.243 243.689C39.0414 244.344 40.0641 244.83 41.0692 245.121C43.5315 245.835 46.0115 246.532 48.5285 246.983C52.9992 247.781 54.8892 246.612 56.1416 242.295C57.0371 239.221 57.7296 236.084 58.4926 232.97C61.6067 220.309 64.3022 207.54 68.296 195.103C69.9988 189.804 71.9312 184.602 74.2963 179.555C78.0622 171.513 86.2546 168.305 91.3895 167.056C93.8483 166.459 96.376 166.359 98.8807 166.689C106.656 167.712 126.982 170.317 129.962 169.976C137.591 169.109 139.876 167.1 141.939 159.666C142.102 159.086 146.839 142.739 148.692 136.996C149.077 135.797 150.363 135.044 151.557 135.442C153.03 135.924 154.401 136.774 155.392 137.602C159.137 140.737 160.969 144.507 159.589 149.518C158.969 151.772 158.826 154.155 157.544 156.278C155.79 157.408 153.951 158.491 152.227 159.738C150.708 160.837 150.197 162.435 150.563 164.281C150.944 166.2 152.301 167.125 154.044 167.648C155.532 168.095 157.01 167.863 158.494 167.63C159.951 167.401 161.306 166.507 162.867 166.964C164.605 167.782 166.335 168.625 168.083 169.413C169.106 169.874 170.143 169.812 171.187 169.381C174.19 168.136 174.805 164.327 172.425 161.962C170.934 160.478 168.44 160.183 167.58 157.739C167.972 155.783 168.398 153.692 168.815 151.601C170.646 142.41 167.504 135.221 159.988 129.835C158.98 129.115 156.434 127.521 154.329 126.354C153.087 125.667 152.494 124.194 152.956 122.855C153.449 121.433 154.104 119.931 154.889 118.545C155.533 117.407 156.825 116.796 158.104 117.072C168.327 119.285 179.966 122.922 192.807 121.647C208.146 120.12 211.771 106.055 211.7 94.8488H211.704ZM108.214 129.998C107.409 129.804 106.66 129.367 105.81 129.012C104.438 129.581 103.081 130.164 101.707 130.708C94.6838 133.483 87.9557 132.296 81.3777 129.175C80.9962 128.995 80.6323 128.765 80.2914 128.519C79.251 127.77 78.8518 126.1 79.5248 125.121C80.1766 124.174 81.1481 123.644 82.2609 123.983C84.2869 124.6 86.2529 125.423 88.2683 126.078C92.7072 127.521 97.0595 127.264 101.278 125.229C102.523 124.628 102.963 123.922 102.703 122.27C102.286 119.61 104.385 118.386 106.639 119.672C109.618 121.374 111.282 123.945 111.491 127.387C111.609 129.364 110.224 130.484 108.214 130.001V129.998ZM85.6806 100.333V100.33C86.1522 99.3284 87.2067 98.9628 88.3619 99.2542C89.2875 99.4874 89.6726 100.229 89.9534 101.029C90.0894 101.418 90.1124 101.851 90.1919 102.282C90.07 105.007 89.6125 107.696 88.6481 110.269C88.256 111.317 87.4063 112 86.2246 111.9C84.7674 111.774 83.9283 110.748 83.8135 109.427C83.5327 106.237 84.3311 103.195 85.6824 100.333H85.6806ZM93.684 110.126L93.6875 110.13C94.1079 108.409 94.6997 105.94 95.3355 103.485C95.4362 103.096 95.7454 102.746 96.005 102.412C96.6992 101.512 97.6071 101.052 98.7588 101.261C100.032 101.494 100.497 102.527 100.523 103.58C100.599 106.834 99.3964 109.801 98.1193 112.709C97.6548 113.77 96.6621 114.217 95.491 113.926C94.281 113.627 93.9207 112.64 93.7529 111.55C93.7211 111.341 93.7317 111.126 93.684 110.128V110.126ZM181.972 103.819L181.965 103.826C181.536 105.186 180.508 106.111 179.187 106.14C176.839 106.194 174.495 105.816 172.404 104.61C170.532 103.531 169.83 101.766 170.032 99.7099C170.191 98.0972 170.608 96.5092 171 94.4214C168.486 95.112 166.481 95.7038 164.455 96.2108C163.221 96.5199 161.958 96.9014 160.704 96.8943C157.565 96.8802 155.54 94.4179 156.132 91.3002C156.438 89.6875 157.137 88.1508 157.784 86.1884C155.465 86.2343 153.972 87.4514 152.329 88.2445C149.447 89.6381 146.645 91.2861 143.632 92.323C138.433 94.1123 134.657 90.8392 135.312 85.3829C135.572 83.2262 136.485 81.2832 137.462 79.3755C138.502 77.3371 139.594 75.3217 140.629 73.3557C139.394 72.333 138.79 73.2797 138.246 73.7655C134.261 77.33 130.363 80.9864 126.371 84.5439C124.783 85.9587 123.177 87.4672 121.321 88.4458C118.254 90.062 115.19 88.4493 114.471 85.0473C113.837 82.0586 114.006 79.0576 115.14 76.2102C116.403 73.0378 117.814 69.9219 119.208 66.8008C120.231 64.5151 121.642 62.3795 122.052 59.9578C120.9 58.8715 120.303 59.8023 119.759 60.2969C115.147 64.4832 111.231 69.2966 107.382 74.1683C105.928 76.0106 104.597 77.973 102.634 79.3525C100.186 81.0729 97.6477 80.5042 96.0792 77.9589C94.6431 75.6255 94.6396 73.0236 94.8304 70.4854C95.0353 67.7245 95.6482 64.9955 96.0933 62.2523C96.2594 61.2261 96.4537 60.2068 96.6656 59.0128C94.8657 59.1894 94.5266 60.5036 94.0585 61.4857C92.2267 65.3452 90.5593 69.2825 88.7417 73.1526C87.7437 75.2723 86.8128 77.4873 85.4333 79.3472C82.7837 82.9188 78.3025 82.6697 75.7819 78.9586C73.9431 76.2472 73.1182 73.1597 72.7896 69.9184C72.4469 66.5552 72.0442 63.2009 71.6804 59.9967C69.8292 59.4456 69.967 60.7421 69.8292 61.3285C69.1456 64.2378 68.6404 67.1893 67.9975 70.1092C67.5364 72.1935 67.1902 74.3466 66.3848 76.2967C64.4117 81.0694 60.0594 82.0321 55.9985 78.7449C53.9601 77.0969 52.5417 74.9542 51.3936 72.6438C50.6376 71.1247 50.0211 69.5333 49.3481 67.9895C47.6348 68.371 47.6877 69.7647 47.2886 70.8722C46.5643 72.8735 46.0327 74.9914 45.0099 76.8266C43.7311 79.1194 41.0674 79.5839 38.8824 78.2662C35.1924 76.0406 32.1331 69.09 33.0039 64.803C33.2848 63.427 34.1998 62.5667 35.5846 62.2824C36.8193 62.0262 38.0328 62.8547 38.5115 64.2112C39.1085 65.914 38.727 67.963 40.2001 69.4273C42.129 68.4187 41.7633 66.3927 42.507 64.9355C43.482 63.0242 44.3105 61.0547 45.9744 59.6045C47.9474 57.8805 50.4521 57.8876 52.3421 59.6699C53.7747 61.0229 54.5996 62.7522 55.3008 64.5662C56.0674 66.5569 56.8746 68.5371 57.756 70.4818C58.1764 71.4145 58.7028 72.3683 59.9128 72.5238C61.1369 72.0009 61.0786 70.8386 61.28 69.8195C61.9035 66.6735 62.4935 63.5224 63.1382 60.38C63.7034 57.6262 64.7897 55.0773 66.3636 52.744C67.8791 50.4972 69.7585 48.7908 72.7172 49.3207C75.7059 49.8541 76.8964 52.2069 77.4087 54.8C78.1506 58.5729 78.601 62.406 79.1362 66.2161C79.3446 67.6998 79.4064 69.2012 79.6255 70.6797C79.7474 71.4975 79.8781 72.3966 80.8884 72.7498C82.4216 72.4195 82.4216 70.9252 82.9145 69.8671C84.4441 66.5729 85.7371 63.1638 87.3639 59.9172C88.5085 57.6386 89.9517 55.4924 91.4354 53.4081C92.5482 51.8413 94.0019 50.5572 95.6941 49.5627C99.8416 47.1322 103.521 48.9798 103.74 53.8426C103.855 56.3773 103.417 58.9545 103.074 61.4928C102.758 63.8191 102.224 66.1154 101.818 68.4328C101.79 68.5918 102.016 68.7932 102.164 69.044C104.1 68.3604 104.856 66.4633 106.135 65.1209C109.232 61.8708 112.201 58.497 115.357 55.3034C117.161 53.4823 119.231 51.912 121.732 51.103C125.956 49.7394 128.994 51.7583 129.375 56.146C129.601 58.7708 129.063 61.272 127.996 63.6407C126.588 66.7583 125.048 69.8142 123.633 72.9283C122.79 74.7865 121.573 76.5564 121.771 79.4585C123.712 77.7204 125.27 76.3762 126.768 74.9702C130.354 71.5929 133.985 68.2739 138.188 65.6614C140.005 64.5309 141.849 63.4217 144.004 63.0631C147.583 62.4696 150.347 65.0432 150.045 68.643C149.879 70.609 149.033 72.3436 148.093 74.0287C146.845 76.272 145.516 78.4676 144.306 80.732C143.727 81.8148 142.808 82.8411 143.224 84.2418C143.987 85.0561 144.794 84.6516 145.546 84.2931C149.399 82.4507 153.235 80.5749 157.081 78.7202C159.252 77.6728 161.566 77.2982 163.947 77.4236C167.183 77.5967 168.802 80.1951 167.799 83.2703C167.223 85.0349 165.517 86.2944 165.506 88.2374C166.471 88.9616 167.26 88.3733 168.073 88.2691C169.553 88.0784 171.046 87.7622 172.519 87.8329C178.904 88.1385 180.596 91.0159 178.095 97.1134C177.936 97.4985 177.811 97.8941 177.671 98.2933C178.092 100.093 180.176 99.7223 181.087 100.904C181.76 101.775 182.336 102.653 181.969 103.82L181.972 103.819Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="60" viewBox="0 0 87 60" fill="none">
                    <path d="M83.9764 59.992L86.0784 48.1908L69.5169 45.5484C63.1844 43.8738 53.6743 41.5511 48.3964 40.4913C36.9203 38.1791 36.9168 38.1349 29.1783 29.2465C26.7372 26.4451 23.858 23.5111 21.8284 20.1639C21.2738 19.2489 21.3144 18.0937 21.8585 17.1717C22.9501 15.3293 24.6458 12.5066 24.962 11.3037C25.6314 8.7372 24.6811 6.81184 22.7063 5.81031C21.0353 4.96422 19.0058 7.05921 17.7675 6.77129C14.989 6.12303 14.7983 0.140272 11.0589 0.341638C10.9829 0.345171 9.23421 0.456449 8.28391 1.79536C7.31947 3.15546 8.1214 4.45909 7.3124 5.02786C6.46631 5.6249 5.42238 4.31778 3.57299 4.67459C2.51847 4.87949 1.33324 5.54188 0.879279 6.62113C-0.37661 9.60453 3.95984 12.9217 3.88035 14.4126C3.7938 16.0111 1.42156 16.6082 2.31358 19.399C2.81346 20.9623 4.06229 21.8402 6.35327 22.0698C8.23975 22.2606 10.5572 21.2926 12.3395 23.0748C16.9038 27.648 20.3164 33.666 24.7147 38.9121C30.1886 45.4389 37.021 48.7155 45.8705 49.3902C51.6129 49.8265 60.6091 52.6616 66.7825 55.1627L83.9834 59.992H83.9764Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                </figure> 
              </span>
              {%- if section.settings.pic_i != blank -%}
                {{
                  section.settings.pic_i
                  | image_url: width: 2048
                  | image_tag: loading: 'lazy', class: '_img', alt: section.settings.heading
                }}
              {%- endif -%}
            </figure>
            <figure class="_pic _ii">
              {%- if section.settings.pic_ii != blank -%}
                {{
                  section.settings.pic_ii
                  | image_url: width: 2048
                  | image_tag: loading: 'lazy', class: '_img', alt: section.settings.heading
                }}
              {%- endif -%}
            </figure>
            <figure class="_pic _iii">
              
              <span class="funny _1 d-none d-lg-block">
                <figure class="fun fun-persimmon _greeting _1">
                  <span class="_body _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="212" height="248" viewBox="0 0 212 248" fill="none">
                      <path d="M211.704 94.8488C211.658 87.7463 213.292 21.4103 138.945 3.10192L138.953 3.09484C72.8974 -13.1734 29.7379 47.5296 27.4416 50.9705C23.4355 56.9709 18.0392 72.6138 27.8408 81.1242C32.8626 85.4836 58.9554 96.2337 66.436 100.657C67.6601 101.381 68.1741 102.863 67.6919 104.202C66.9641 106.207 66.1657 108.367 65.3161 110.677C64.7756 112.15 61.1086 124.296 60.7341 125.767C57.7861 137.364 57.3251 143.028 57.2562 146.798C57.2279 148.278 56.1363 149.52 54.6755 149.753C51.8069 150.214 49.0602 150.654 46.3135 151.12C38.1052 152.514 32.2779 156.981 28.7752 164.573C26.5284 169.439 24.5624 174.415 23.0328 179.534C19.6661 190.802 16.4742 202.117 13.2188 213.416C12.6359 215.446 12.348 217.585 11.0621 219.245C9.01662 220.325 7.20609 218.936 5.31961 219.023C2.99683 219.131 1.00967 220.618 0.592812 222.633C0.14592 224.783 1.20397 226.708 3.4402 227.814C3.82173 228.005 4.19974 228.257 4.60953 228.337C7.96387 228.982 11.3094 229.759 14.6973 230.165C17.5341 230.508 19.0885 229.211 19.8268 226.511C24.0131 211.182 28.2365 195.864 32.2532 180.49C32.8467 178.214 34.1574 176.876 35.0282 174.694C36.6197 170.706 39.7038 164.053 44.5683 161.457C49.9893 158.565 57.7084 157.375 62.2444 157.929C65.6676 158.346 71.3553 161.079 75.2502 162.351C76.2764 162.686 76.4495 164.046 75.5593 164.661C67.9427 169.95 66.1233 173.484 62.6825 182.081C60.7536 186.905 58.1323 195.006 56.804 200.027C53.9018 211 51.2558 222.042 48.502 233.053C48.1965 234.281 48.1594 235.634 46.4319 236.614C44.5454 236.672 42.1979 235.952 39.891 236.568C38.296 236.992 37.3139 238.029 36.9606 239.628C36.6073 241.216 37.003 242.669 38.243 243.689C39.0414 244.344 40.0641 244.83 41.0692 245.121C43.5315 245.835 46.0115 246.532 48.5285 246.983C52.9992 247.781 54.8892 246.612 56.1416 242.295C57.0371 239.221 57.7296 236.084 58.4926 232.97C61.6067 220.309 64.3022 207.54 68.296 195.103C69.9988 189.804 71.9312 184.602 74.2963 179.555C78.0622 171.513 86.2546 168.305 91.3895 167.056C93.8483 166.459 96.376 166.359 98.8807 166.689C106.656 167.712 126.982 170.317 129.962 169.976C137.591 169.109 139.876 167.1 141.939 159.666C142.102 159.086 146.839 142.739 148.692 136.996C149.077 135.797 150.363 135.044 151.557 135.442C153.03 135.924 154.401 136.774 155.392 137.602C159.137 140.737 160.969 144.507 159.589 149.518C158.969 151.772 158.826 154.155 157.544 156.278C155.79 157.408 153.951 158.491 152.227 159.738C150.708 160.837 150.197 162.435 150.563 164.281C150.944 166.2 152.301 167.125 154.044 167.648C155.532 168.095 157.01 167.863 158.494 167.63C159.951 167.401 161.306 166.507 162.867 166.964C164.605 167.782 166.335 168.625 168.083 169.413C169.106 169.874 170.143 169.812 171.187 169.381C174.19 168.136 174.805 164.327 172.425 161.962C170.934 160.478 168.44 160.183 167.58 157.739C167.972 155.783 168.398 153.692 168.815 151.601C170.646 142.41 167.504 135.221 159.988 129.835C158.98 129.115 156.434 127.521 154.329 126.354C153.087 125.667 152.494 124.194 152.956 122.855C153.449 121.433 154.104 119.931 154.889 118.545C155.533 117.407 156.825 116.796 158.104 117.072C168.327 119.285 179.966 122.922 192.807 121.647C208.146 120.12 211.771 106.055 211.7 94.8488H211.704ZM108.214 129.998C107.409 129.804 106.66 129.367 105.81 129.012C104.438 129.581 103.081 130.164 101.707 130.708C94.6838 133.483 87.9557 132.296 81.3777 129.175C80.9962 128.995 80.6323 128.765 80.2914 128.519C79.251 127.77 78.8518 126.1 79.5248 125.121C80.1766 124.174 81.1481 123.644 82.2609 123.983C84.2869 124.6 86.2529 125.423 88.2683 126.078C92.7072 127.521 97.0595 127.264 101.278 125.229C102.523 124.628 102.963 123.922 102.703 122.27C102.286 119.61 104.385 118.386 106.639 119.672C109.618 121.374 111.282 123.945 111.491 127.387C111.609 129.364 110.224 130.484 108.214 130.001V129.998ZM85.6806 100.333V100.33C86.1522 99.3284 87.2067 98.9628 88.3619 99.2542C89.2875 99.4874 89.6726 100.229 89.9534 101.029C90.0894 101.418 90.1124 101.851 90.1919 102.282C90.07 105.007 89.6125 107.696 88.6481 110.269C88.256 111.317 87.4063 112 86.2246 111.9C84.7674 111.774 83.9283 110.748 83.8135 109.427C83.5327 106.237 84.3311 103.195 85.6824 100.333H85.6806ZM93.684 110.126L93.6875 110.13C94.1079 108.409 94.6997 105.94 95.3355 103.485C95.4362 103.096 95.7454 102.746 96.005 102.412C96.6992 101.512 97.6071 101.052 98.7588 101.261C100.032 101.494 100.497 102.527 100.523 103.58C100.599 106.834 99.3964 109.801 98.1193 112.709C97.6548 113.77 96.6621 114.217 95.491 113.926C94.281 113.627 93.9207 112.64 93.7529 111.55C93.7211 111.341 93.7317 111.126 93.684 110.128V110.126ZM181.972 103.819L181.965 103.826C181.536 105.186 180.508 106.111 179.187 106.14C176.839 106.194 174.495 105.816 172.404 104.61C170.532 103.531 169.83 101.766 170.032 99.7099C170.191 98.0972 170.608 96.5092 171 94.4214C168.486 95.112 166.481 95.7038 164.455 96.2108C163.221 96.5199 161.958 96.9014 160.704 96.8943C157.565 96.8802 155.54 94.4179 156.132 91.3002C156.438 89.6875 157.137 88.1508 157.784 86.1884C155.465 86.2343 153.972 87.4514 152.329 88.2445C149.447 89.6381 146.645 91.2861 143.632 92.323C138.433 94.1123 134.657 90.8392 135.312 85.3829C135.572 83.2262 136.485 81.2832 137.462 79.3755C138.502 77.3371 139.594 75.3217 140.629 73.3557C139.394 72.333 138.79 73.2797 138.246 73.7655C134.261 77.33 130.363 80.9864 126.371 84.5439C124.783 85.9587 123.177 87.4672 121.321 88.4458C118.254 90.062 115.19 88.4493 114.471 85.0473C113.837 82.0586 114.006 79.0576 115.14 76.2102C116.403 73.0378 117.814 69.9219 119.208 66.8008C120.231 64.5151 121.642 62.3795 122.052 59.9578C120.9 58.8715 120.303 59.8023 119.759 60.2969C115.147 64.4832 111.231 69.2966 107.382 74.1683C105.928 76.0106 104.597 77.973 102.634 79.3525C100.186 81.0729 97.6477 80.5042 96.0792 77.9589C94.6431 75.6255 94.6396 73.0236 94.8304 70.4854C95.0353 67.7245 95.6482 64.9955 96.0933 62.2523C96.2594 61.2261 96.4537 60.2068 96.6656 59.0128C94.8657 59.1894 94.5266 60.5036 94.0585 61.4857C92.2267 65.3452 90.5593 69.2825 88.7417 73.1526C87.7437 75.2723 86.8128 77.4873 85.4333 79.3472C82.7837 82.9188 78.3025 82.6697 75.7819 78.9586C73.9431 76.2472 73.1182 73.1597 72.7896 69.9184C72.4469 66.5552 72.0442 63.2009 71.6804 59.9967C69.8292 59.4456 69.967 60.7421 69.8292 61.3285C69.1456 64.2378 68.6404 67.1893 67.9975 70.1092C67.5364 72.1935 67.1902 74.3466 66.3848 76.2967C64.4117 81.0694 60.0594 82.0321 55.9985 78.7449C53.9601 77.0969 52.5417 74.9542 51.3936 72.6438C50.6376 71.1247 50.0211 69.5333 49.3481 67.9895C47.6348 68.371 47.6877 69.7647 47.2886 70.8722C46.5643 72.8735 46.0327 74.9914 45.0099 76.8266C43.7311 79.1194 41.0674 79.5839 38.8824 78.2662C35.1924 76.0406 32.1331 69.09 33.0039 64.803C33.2848 63.427 34.1998 62.5667 35.5846 62.2824C36.8193 62.0262 38.0328 62.8547 38.5115 64.2112C39.1085 65.914 38.727 67.963 40.2001 69.4273C42.129 68.4187 41.7633 66.3927 42.507 64.9355C43.482 63.0242 44.3105 61.0547 45.9744 59.6045C47.9474 57.8805 50.4521 57.8876 52.3421 59.6699C53.7747 61.0229 54.5996 62.7522 55.3008 64.5662C56.0674 66.5569 56.8746 68.5371 57.756 70.4818C58.1764 71.4145 58.7028 72.3683 59.9128 72.5238C61.1369 72.0009 61.0786 70.8386 61.28 69.8195C61.9035 66.6735 62.4935 63.5224 63.1382 60.38C63.7034 57.6262 64.7897 55.0773 66.3636 52.744C67.8791 50.4972 69.7585 48.7908 72.7172 49.3207C75.7059 49.8541 76.8964 52.2069 77.4087 54.8C78.1506 58.5729 78.601 62.406 79.1362 66.2161C79.3446 67.6998 79.4064 69.2012 79.6255 70.6797C79.7474 71.4975 79.8781 72.3966 80.8884 72.7498C82.4216 72.4195 82.4216 70.9252 82.9145 69.8671C84.4441 66.5729 85.7371 63.1638 87.3639 59.9172C88.5085 57.6386 89.9517 55.4924 91.4354 53.4081C92.5482 51.8413 94.0019 50.5572 95.6941 49.5627C99.8416 47.1322 103.521 48.9798 103.74 53.8426C103.855 56.3773 103.417 58.9545 103.074 61.4928C102.758 63.8191 102.224 66.1154 101.818 68.4328C101.79 68.5918 102.016 68.7932 102.164 69.044C104.1 68.3604 104.856 66.4633 106.135 65.1209C109.232 61.8708 112.201 58.497 115.357 55.3034C117.161 53.4823 119.231 51.912 121.732 51.103C125.956 49.7394 128.994 51.7583 129.375 56.146C129.601 58.7708 129.063 61.272 127.996 63.6407C126.588 66.7583 125.048 69.8142 123.633 72.9283C122.79 74.7865 121.573 76.5564 121.771 79.4585C123.712 77.7204 125.27 76.3762 126.768 74.9702C130.354 71.5929 133.985 68.2739 138.188 65.6614C140.005 64.5309 141.849 63.4217 144.004 63.0631C147.583 62.4696 150.347 65.0432 150.045 68.643C149.879 70.609 149.033 72.3436 148.093 74.0287C146.845 76.272 145.516 78.4676 144.306 80.732C143.727 81.8148 142.808 82.8411 143.224 84.2418C143.987 85.0561 144.794 84.6516 145.546 84.2931C149.399 82.4507 153.235 80.5749 157.081 78.7202C159.252 77.6728 161.566 77.2982 163.947 77.4236C167.183 77.5967 168.802 80.1951 167.799 83.2703C167.223 85.0349 165.517 86.2944 165.506 88.2374C166.471 88.9616 167.26 88.3733 168.073 88.2691C169.553 88.0784 171.046 87.7622 172.519 87.8329C178.904 88.1385 180.596 91.0159 178.095 97.1134C177.936 97.4985 177.811 97.8941 177.671 98.2933C178.092 100.093 180.176 99.7223 181.087 100.904C181.76 101.775 182.336 102.653 181.969 103.82L181.972 103.819Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="60" viewBox="0 0 87 60" fill="none">
                    <path d="M83.9764 59.992L86.0784 48.1908L69.5169 45.5484C63.1844 43.8738 53.6743 41.5511 48.3964 40.4913C36.9203 38.1791 36.9168 38.1349 29.1783 29.2465C26.7372 26.4451 23.858 23.5111 21.8284 20.1639C21.2738 19.2489 21.3144 18.0937 21.8585 17.1717C22.9501 15.3293 24.6458 12.5066 24.962 11.3037C25.6314 8.7372 24.6811 6.81184 22.7063 5.81031C21.0353 4.96422 19.0058 7.05921 17.7675 6.77129C14.989 6.12303 14.7983 0.140272 11.0589 0.341638C10.9829 0.345171 9.23421 0.456449 8.28391 1.79536C7.31947 3.15546 8.1214 4.45909 7.3124 5.02786C6.46631 5.6249 5.42238 4.31778 3.57299 4.67459C2.51847 4.87949 1.33324 5.54188 0.879279 6.62113C-0.37661 9.60453 3.95984 12.9217 3.88035 14.4126C3.7938 16.0111 1.42156 16.6082 2.31358 19.399C2.81346 20.9623 4.06229 21.8402 6.35327 22.0698C8.23975 22.2606 10.5572 21.2926 12.3395 23.0748C16.9038 27.648 20.3164 33.666 24.7147 38.9121C30.1886 45.4389 37.021 48.7155 45.8705 49.3902C51.6129 49.8265 60.6091 52.6616 66.7825 55.1627L83.9834 59.992H83.9764Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                </figure> 
              </span>
              {%- if section.settings.pic_iii != blank -%}
                {{
                  section.settings.pic_iii
                  | image_url: width: 2048
                  | image_tag: loading: 'lazy', class: '_img', alt: section.settings.heading
                }}
              {%- endif -%}
            </figure>
          </div>

          <div class="_cookies">
            <span class="funny _1 d-none d-lg-block">
                <figure class="fun fun-peppercorn _jumping _1">
                  <span class="_body _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="181" height="210" viewBox="0 0 181 210" fill="none">
                      <path d="M180.267 92.4017L180.288 92.3982C178.336 81.6834 171.758 70.5394 165.572 60.2538C164.576 58.6146 166.742 56.9171 168.266 58.1271L173.282 62.0873C174.611 63.1435 176.582 61.9689 176.151 60.3703C174.881 55.6276 172.519 48.7 169.396 42.6678C165.687 35.4663 161.435 28.3019 155.267 22.7396C154.156 21.7239 153.005 20.7878 151.832 19.9081C146.737 12.8797 116.232 1.97061 93.5132 0.622866C70.0135 -0.783164 41.1262 5.73473 25.5734 22.736C19.4246 28.2983 15.15 35.4628 11.4442 42.6643C8.32123 48.6947 5.97726 55.6241 4.68958 60.3668C4.26212 61.9689 6.23162 63.1382 7.55816 62.0837L12.5747 58.1235C14.0955 56.9136 16.2628 58.6111 15.2684 60.2502C9.08254 70.5376 2.50457 81.6834 0.552735 92.3982C0.261284 93.9773 2.20959 95.0159 3.49904 93.9773C6.62198 91.4408 9.10196 89.2346 11.3647 87.2051C12.7495 85.9757 14.9557 87.3817 14.2545 89.0579C10.4091 98.289 7.1307 107.17 4.55533 119.623C4.22326 121.225 6.23514 122.317 7.50163 121.202C10.8613 118.275 13.6875 116.324 16.5772 114.956C17.7289 114.411 19.0767 115.23 19.135 116.44C19.9545 133.673 10.213 145.854 14.6643 161.954C15.1147 163.593 17.418 163.712 18.0592 162.131C20.518 156.118 23.6621 150.36 27.4263 144.976C28.3448 143.688 30.4892 144.193 30.6676 145.758C30.7082 146.186 30.8036 146.656 30.8813 147.124H30.8036C30.763 147.124 31.6479 153.412 31.7115 153.822C31.9553 155.42 32.2997 157.033 32.4516 158.641C32.6123 160.345 33.1034 161.857 33.4814 163.521C33.6969 164.468 33.7958 165.438 33.9195 166.402C34.7338 172.784 37.0035 178.708 38.7752 184.846C39.2769 186.59 39.8933 188.312 40.4992 190.022C41.5502 192.986 42.6895 195.932 44.092 198.749C44.6572 199.919 46.413 199.705 46.7097 198.417L50.3608 182.395C50.6523 181.107 51.221 179.546 52.4681 179.39C53.9889 179.194 54.8121 181.148 55.1618 182.709L56.1951 202.909C56.7604 205.504 60.1182 205.914 61.2523 203.533C62.2079 201.463 63.1635 199.513 64.142 197.619C64.6013 196.715 66.539 197.199 66.7457 197.195C69.6019 197.165 72.3927 196.439 75.249 196.407L76.1056 196.462C78.0292 195.969 79.4794 205.621 79.4794 205.621C79.8309 207.378 80.3767 209.425 82.5423 209.485C84.0844 209.526 85.4109 208.316 85.8613 206.755L89.9222 192.527C90.3903 190.907 90.9555 189.172 92.3033 188.252C95.6576 186.009 95.8166 191.161 96.5002 195.28C96.9506 198.149 97.8073 203.4 99.563 206.756C100.482 208.473 102.923 208.24 103.523 206.366L107.369 198.697C107.835 197.789 108.911 197.72 109.547 198.246C109.644 198.182 109.76 198.144 109.893 198.144C113.164 198.144 116.428 198.108 119.655 197.513C119.742 197.497 119.82 197.497 119.89 197.509C120.27 196.773 121.508 196.754 121.768 197.736C122.354 199.903 123.015 201.913 123.699 203.024C124.149 203.748 124.732 204.45 125.515 204.644C127.426 205.094 128.597 202.537 129.028 200.548L131.799 187.16C132.168 185.325 134.493 184.762 135.526 186.3C137.047 188.543 136.523 190.396 136.6 193.072C136.678 195.649 140.347 196.098 141.052 193.638C141.557 191.877 141.968 190.087 142.337 188.293C142.67 186.68 143.274 185.104 143.237 183.453C143.198 181.748 143.554 179.957 143.823 178.279C144.593 173.464 145.55 168.772 145.483 163.867C145.478 163.496 146.773 159.752 146.951 158.766C147.282 156.95 147.626 155.136 147.974 153.324C148.099 152.668 148.225 152.013 148.355 151.36C148.532 150.462 148.765 149.584 149.057 148.724C149.603 147.027 149.995 145.446 150.15 144.04C150.346 142.478 152.471 141.97 153.391 143.28C157.159 148.646 160.301 154.405 162.778 160.418C163.424 161.997 165.705 161.884 166.155 160.241C170.606 144.14 160.867 133.676 161.684 116.444C161.743 115.234 163.091 114.414 164.262 114.96C167.13 116.325 169.96 118.279 173.32 121.206C174.59 122.317 176.619 121.224 176.287 119.627C173.692 107.174 170.41 98.2925 166.568 89.0615C165.867 87.3817 168.07 85.9791 169.458 87.2085C171.721 89.2381 174.201 91.4426 177.342 93.9808C178.612 95.0142 180.56 93.9809 180.268 92.4017H180.267ZM90.9962 102.855V102.859C91.1922 103.268 91.4466 103.678 91.4642 104.106C91.5826 106.759 91.6409 109.394 91.6974 111.247C91.443 112.263 91.406 112.494 91.3282 112.69C90.9184 113.764 90.332 114.702 89.0249 114.739C87.7778 114.798 86.8575 114.116 86.6032 112.923C85.9196 109.682 85.3332 106.386 86.1351 103.069C86.3895 101.995 87.073 101.039 88.4385 101.08C89.6678 101.12 90.4874 101.781 90.9962 102.855ZM82.8391 55.7848C84.0861 54.4371 86.1934 54.3788 87.5235 55.6488C88.8712 56.8959 88.9295 59.0084 87.6595 60.3332C83.1535 65.136 80.9279 72.2775 81.864 78.9914C82.1184 80.8073 80.8678 82.4871 79.0555 82.7379C78.8789 82.7556 78.7411 82.7785 78.5874 82.7785C76.9482 82.7785 75.5245 81.5685 75.2878 79.9099C74.0779 71.2618 76.9676 62.013 82.8391 55.7848ZM64.0961 91.7569L64.0996 91.7535C63.9442 94.1151 62.7148 96.4007 60.5863 97.4517C58.147 98.644 55.3561 98.2113 53.4449 96.3778C52.6447 95.6182 51.3182 93.0411 50.2813 90.7378C49.7938 89.6638 48.1917 89.8405 47.9974 91.0116C46.2805 100.811 47.1602 111.153 50.6152 120.425C51.2016 122.004 50.6735 123.861 49.2091 124.68C48.681 124.972 48.1158 125.108 47.57 125.108C46.2417 125.108 44.9752 124.288 44.4664 122.96C39.3722 109.437 39.1956 93.8201 43.9789 80.159C44.6024 78.4015 46.1268 76.1387 48.409 75.5346C49.8521 75.1442 51.3553 75.4763 52.4875 76.4726C53.7346 77.5465 54.0896 79.0091 54.2451 79.6362C54.5188 80.8461 54.6142 82.0755 54.9286 83.2678C59.3993 100.168 56.3718 81.6109 66.4807 60.3544C67.182 58.8707 69.0172 58.1465 70.5593 58.7153C72.5305 59.4395 73.3307 61.7004 72.3344 63.4579C67.5918 72.0071 64.7426 81.784 64.0996 91.7569H64.0961ZM101.423 132.97L101.42 132.973C101.01 133.15 100.582 133.305 100.149 133.401C92.7519 135.158 85.6105 134.922 79.0325 130.552C77.7449 129.692 76.496 128.814 75.2083 127.934C74.2527 128.111 73.3925 128.402 72.5358 128.422C70.3879 128.48 69.1992 127.037 69.7644 125.027C70.72 121.554 72.9827 119.288 76.4006 118.194C78.9778 117.375 80.8519 119.072 79.8556 121.707C79.2321 123.347 79.5236 124.166 80.6752 125.044C84.5401 128.029 88.9313 129.241 93.7888 128.732C95.9967 128.499 98.1817 128.086 100.384 127.895C101.594 127.8 102.474 128.542 102.942 129.653C103.41 130.804 102.651 132.424 101.421 132.972L101.423 132.97ZM96.9682 103.993C97.1449 103.565 97.2597 103.132 97.4964 102.763C97.9468 102.004 98.512 101.338 99.5083 101.297C100.755 101.239 101.752 101.843 102.008 102.977C102.767 106.199 102.926 109.477 101.949 112.676C101.54 114.004 100.466 114.884 98.9448 114.688C97.7154 114.533 96.993 113.655 96.8375 112.503C96.4101 109.654 96.5055 106.805 96.9735 103.994L96.97 103.991L96.9682 103.993ZM103.723 76.9777C103.605 78.7353 102.144 80.0601 100.423 80.0601C100.346 80.0601 100.247 80.06 100.169 80.0424C98.3531 79.924 96.9682 78.3255 97.106 76.5096C97.6112 69.3682 96.4419 61.794 94.0237 56.7775C93.2412 55.1207 93.9283 53.1459 95.5852 52.3475C97.2244 51.5685 99.2168 52.2521 100.015 53.909C102.884 59.8988 104.308 68.7429 103.725 76.9777H103.723ZM137.408 122.967V122.96C136.902 124.288 135.65 125.108 134.304 125.108C133.758 125.108 133.193 124.972 132.665 124.68C131.199 123.861 130.694 122.008 131.28 120.425C134.694 111.231 135.572 101.007 133.933 91.2659C133.719 90.0365 131.999 89.8405 131.494 90.9745C130.478 93.2178 129.21 95.6589 128.431 96.3813C126.52 98.2166 123.729 98.644 121.307 97.4553C119.159 96.399 117.93 94.1362 117.774 91.7569C117.151 81.8617 114.319 72.1432 109.617 63.6134C108.953 62.384 108.953 60.8596 109.831 59.7892C111.392 57.8585 114.337 58.2101 115.335 60.2396C123.746 77.2409 123.259 104.291 126.947 83.2714C127.161 82.0614 127.375 80.8496 127.648 79.6608C127.784 79.0373 128.136 77.5536 129.386 76.4796C130.538 75.4834 132.022 75.1513 133.465 75.5417C135.749 76.1475 137.289 78.4103 137.895 80.1661C142.678 93.8272 142.502 109.424 137.408 122.967Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="46" viewBox="0 0 39 46" fill="none">
                      <path d="M36.4194 0.406738C36.0185 0.918985 24.8886 4.97637 24.2403 5.2113C23.4401 5.50275 22.7742 5.77657 22.3468 5.95321C13.4849 9.83569 8.70508 16.4913 8.58673 26.2911C8.56907 28.5344 8.54611 30.7619 8.52844 32.8497C7.12241 35.1531 4.50819 34.9199 2.65174 36.1086C-0.315762 38.0393 -0.48887 42.0984 2.36028 44.0149C3.37595 44.6985 4.64419 44.8751 5.83296 44.6013C7.66822 44.1915 9.50172 43.7411 11.337 43.3136C13.0345 43.1776 14.2267 44.3876 15.6699 44.9334C17.136 45.4986 18.5967 46.0674 20.2165 45.9296C22.1101 45.7742 23.6892 45.1101 24.5088 43.2359C25.2683 41.4201 25.0952 39.6855 23.7846 38.2389C22.2832 36.582 20.644 35.0753 19.1002 33.5368C18.2399 31.0974 18.6126 28.6174 18.4766 26.1763C18.1446 20.75 20.8383 17.295 25.3461 14.9157C25.4414 14.8751 25.5421 14.8203 25.6375 14.7797C26.3493 14.4194 37.6912 10.0918 38.403 10.2631C37.2761 6.8717 36.4989 3.95189 36.4159 0.408549L36.4194 0.406738Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-right _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="43" viewBox="0 0 36 43" fill="none">
                      <path d="M33.3217 33.1122C31.4687 31.9199 28.851 32.1565 27.4449 29.8532C27.4273 27.7636 27.4043 25.538 27.3866 23.2947C27.2683 13.4948 22.4885 6.84099 13.6266 2.95674C12.9254 2.64233 11.5193 2.1194 9.97552 1.59126C9.38732 1.38459 1.41923 0.559698 1.05535 0.0898438C1.0059 2.87011 0.612037 2.79597 0.0821263 5.53031C-0.112174 6.53361 0.204006 8.37943 0.0379671 9.37743C0.93175 8.86871 9.22836 11.2216 10.2599 11.7232C10.3959 11.7815 10.5143 11.8592 10.6291 11.9193C15.1387 14.3003 17.8306 17.7553 17.4985 23.1799C17.3625 25.6192 17.7317 28.0992 16.875 30.5403C15.3329 32.0824 13.6937 33.5856 12.1906 35.2424C10.8834 36.6855 10.7068 38.4236 11.4664 40.2395C12.286 42.1154 13.8651 42.776 15.7587 42.9332C17.3784 43.0692 18.841 42.5057 20.3053 41.9369C21.7484 41.3911 22.9407 40.1794 24.6382 40.3172C26.4911 40.7446 28.3263 41.1951 30.1598 41.6049C31.3521 41.8787 32.6186 41.7003 33.6325 41.0185C36.4817 39.1073 36.2856 35.0463 33.3181 33.1122H33.3217Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_foot-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="47" viewBox="0 0 22 47" fill="none">
                      <path d="M21.9171 0.599854C21.7087 0.647545 21.5957 0.658161 21.2353 0.661694C18.3791 0.691722 15.5882 1.41769 12.732 1.44949C12.6384 1.44949 12.5554 1.43536 12.4812 1.40886C12.195 10.0429 11.8895 25.0358 11.5839 29.2256C11.4284 31.4336 11.5839 33.677 10.6283 35.6482C8.77535 37.2097 6.62745 36.1763 4.71447 36.6815C2.3705 37.2873 0.653585 39.2392 0.673015 41.3836C0.673015 43.6869 2.17443 45.4249 4.69327 46.0679C5.1437 46.1863 5.57116 46.3595 6.00039 46.3418C9.57376 46.2835 13.1648 46.3418 16.7152 46.0274C19.7003 45.773 21.0852 44.0968 21.1664 41.1893C21.6681 25.3662 21.5444 3.63978 22.0019 0.60339L21.9189 0.599854H21.9171Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_foot-right _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="51" viewBox="0 0 21 51" fill="none">
                      <path d="M18.3637 41.7852C16.1381 40.6741 13.5803 40.8878 11.6674 40.4197C10.1059 39.0543 10.3797 37.6483 10.3196 36.3412C10.1324 31.0686 9.96459 10.5982 9.79326 0.648193C9.7438 0.66939 9.69257 0.685291 9.63782 0.695889C6.46365 1.28056 3.25239 1.32473 0.0340655 1.32473C0.0146355 10.2113 -0.0207049 29.4701 0.131203 34.0768C0.226587 37.4312 0.267229 40.7907 0.50039 44.1274C0.851897 48.8118 2.52994 50.4139 7.27264 50.5675C9.94516 50.6453 12.6389 50.4898 15.3149 50.2938C16.3889 50.1984 17.5406 49.9246 18.4962 49.4335C19.9976 48.651 20.7218 47.2663 20.7041 45.5511C20.6865 43.8537 19.904 42.566 18.3601 41.7835L18.3637 41.7852Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                </figure>  
            </span>
            <span class="funny _2 d-lg-none">
                <figure class="fun fun-peppercorn _jumping _1">
                  <span class="_body _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="181" height="210" viewBox="0 0 181 210" fill="none">
                      <path d="M180.267 92.4017L180.288 92.3982C178.336 81.6834 171.758 70.5394 165.572 60.2538C164.576 58.6146 166.742 56.9171 168.266 58.1271L173.282 62.0873C174.611 63.1435 176.582 61.9689 176.151 60.3703C174.881 55.6276 172.519 48.7 169.396 42.6678C165.687 35.4663 161.435 28.3019 155.267 22.7396C154.156 21.7239 153.005 20.7878 151.832 19.9081C146.737 12.8797 116.232 1.97061 93.5132 0.622866C70.0135 -0.783164 41.1262 5.73473 25.5734 22.736C19.4246 28.2983 15.15 35.4628 11.4442 42.6643C8.32123 48.6947 5.97726 55.6241 4.68958 60.3668C4.26212 61.9689 6.23162 63.1382 7.55816 62.0837L12.5747 58.1235C14.0955 56.9136 16.2628 58.6111 15.2684 60.2502C9.08254 70.5376 2.50457 81.6834 0.552735 92.3982C0.261284 93.9773 2.20959 95.0159 3.49904 93.9773C6.62198 91.4408 9.10196 89.2346 11.3647 87.2051C12.7495 85.9757 14.9557 87.3817 14.2545 89.0579C10.4091 98.289 7.1307 107.17 4.55533 119.623C4.22326 121.225 6.23514 122.317 7.50163 121.202C10.8613 118.275 13.6875 116.324 16.5772 114.956C17.7289 114.411 19.0767 115.23 19.135 116.44C19.9545 133.673 10.213 145.854 14.6643 161.954C15.1147 163.593 17.418 163.712 18.0592 162.131C20.518 156.118 23.6621 150.36 27.4263 144.976C28.3448 143.688 30.4892 144.193 30.6676 145.758C30.7082 146.186 30.8036 146.656 30.8813 147.124H30.8036C30.763 147.124 31.6479 153.412 31.7115 153.822C31.9553 155.42 32.2997 157.033 32.4516 158.641C32.6123 160.345 33.1034 161.857 33.4814 163.521C33.6969 164.468 33.7958 165.438 33.9195 166.402C34.7338 172.784 37.0035 178.708 38.7752 184.846C39.2769 186.59 39.8933 188.312 40.4992 190.022C41.5502 192.986 42.6895 195.932 44.092 198.749C44.6572 199.919 46.413 199.705 46.7097 198.417L50.3608 182.395C50.6523 181.107 51.221 179.546 52.4681 179.39C53.9889 179.194 54.8121 181.148 55.1618 182.709L56.1951 202.909C56.7604 205.504 60.1182 205.914 61.2523 203.533C62.2079 201.463 63.1635 199.513 64.142 197.619C64.6013 196.715 66.539 197.199 66.7457 197.195C69.6019 197.165 72.3927 196.439 75.249 196.407L76.1056 196.462C78.0292 195.969 79.4794 205.621 79.4794 205.621C79.8309 207.378 80.3767 209.425 82.5423 209.485C84.0844 209.526 85.4109 208.316 85.8613 206.755L89.9222 192.527C90.3903 190.907 90.9555 189.172 92.3033 188.252C95.6576 186.009 95.8166 191.161 96.5002 195.28C96.9506 198.149 97.8073 203.4 99.563 206.756C100.482 208.473 102.923 208.24 103.523 206.366L107.369 198.697C107.835 197.789 108.911 197.72 109.547 198.246C109.644 198.182 109.76 198.144 109.893 198.144C113.164 198.144 116.428 198.108 119.655 197.513C119.742 197.497 119.82 197.497 119.89 197.509C120.27 196.773 121.508 196.754 121.768 197.736C122.354 199.903 123.015 201.913 123.699 203.024C124.149 203.748 124.732 204.45 125.515 204.644C127.426 205.094 128.597 202.537 129.028 200.548L131.799 187.16C132.168 185.325 134.493 184.762 135.526 186.3C137.047 188.543 136.523 190.396 136.6 193.072C136.678 195.649 140.347 196.098 141.052 193.638C141.557 191.877 141.968 190.087 142.337 188.293C142.67 186.68 143.274 185.104 143.237 183.453C143.198 181.748 143.554 179.957 143.823 178.279C144.593 173.464 145.55 168.772 145.483 163.867C145.478 163.496 146.773 159.752 146.951 158.766C147.282 156.95 147.626 155.136 147.974 153.324C148.099 152.668 148.225 152.013 148.355 151.36C148.532 150.462 148.765 149.584 149.057 148.724C149.603 147.027 149.995 145.446 150.15 144.04C150.346 142.478 152.471 141.97 153.391 143.28C157.159 148.646 160.301 154.405 162.778 160.418C163.424 161.997 165.705 161.884 166.155 160.241C170.606 144.14 160.867 133.676 161.684 116.444C161.743 115.234 163.091 114.414 164.262 114.96C167.13 116.325 169.96 118.279 173.32 121.206C174.59 122.317 176.619 121.224 176.287 119.627C173.692 107.174 170.41 98.2925 166.568 89.0615C165.867 87.3817 168.07 85.9791 169.458 87.2085C171.721 89.2381 174.201 91.4426 177.342 93.9808C178.612 95.0142 180.56 93.9809 180.268 92.4017H180.267ZM90.9962 102.855V102.859C91.1922 103.268 91.4466 103.678 91.4642 104.106C91.5826 106.759 91.6409 109.394 91.6974 111.247C91.443 112.263 91.406 112.494 91.3282 112.69C90.9184 113.764 90.332 114.702 89.0249 114.739C87.7778 114.798 86.8575 114.116 86.6032 112.923C85.9196 109.682 85.3332 106.386 86.1351 103.069C86.3895 101.995 87.073 101.039 88.4385 101.08C89.6678 101.12 90.4874 101.781 90.9962 102.855ZM82.8391 55.7848C84.0861 54.4371 86.1934 54.3788 87.5235 55.6488C88.8712 56.8959 88.9295 59.0084 87.6595 60.3332C83.1535 65.136 80.9279 72.2775 81.864 78.9914C82.1184 80.8073 80.8678 82.4871 79.0555 82.7379C78.8789 82.7556 78.7411 82.7785 78.5874 82.7785C76.9482 82.7785 75.5245 81.5685 75.2878 79.9099C74.0779 71.2618 76.9676 62.013 82.8391 55.7848ZM64.0961 91.7569L64.0996 91.7535C63.9442 94.1151 62.7148 96.4007 60.5863 97.4517C58.147 98.644 55.3561 98.2113 53.4449 96.3778C52.6447 95.6182 51.3182 93.0411 50.2813 90.7378C49.7938 89.6638 48.1917 89.8405 47.9974 91.0116C46.2805 100.811 47.1602 111.153 50.6152 120.425C51.2016 122.004 50.6735 123.861 49.2091 124.68C48.681 124.972 48.1158 125.108 47.57 125.108C46.2417 125.108 44.9752 124.288 44.4664 122.96C39.3722 109.437 39.1956 93.8201 43.9789 80.159C44.6024 78.4015 46.1268 76.1387 48.409 75.5346C49.8521 75.1442 51.3553 75.4763 52.4875 76.4726C53.7346 77.5465 54.0896 79.0091 54.2451 79.6362C54.5188 80.8461 54.6142 82.0755 54.9286 83.2678C59.3993 100.168 56.3718 81.6109 66.4807 60.3544C67.182 58.8707 69.0172 58.1465 70.5593 58.7153C72.5305 59.4395 73.3307 61.7004 72.3344 63.4579C67.5918 72.0071 64.7426 81.784 64.0996 91.7569H64.0961ZM101.423 132.97L101.42 132.973C101.01 133.15 100.582 133.305 100.149 133.401C92.7519 135.158 85.6105 134.922 79.0325 130.552C77.7449 129.692 76.496 128.814 75.2083 127.934C74.2527 128.111 73.3925 128.402 72.5358 128.422C70.3879 128.48 69.1992 127.037 69.7644 125.027C70.72 121.554 72.9827 119.288 76.4006 118.194C78.9778 117.375 80.8519 119.072 79.8556 121.707C79.2321 123.347 79.5236 124.166 80.6752 125.044C84.5401 128.029 88.9313 129.241 93.7888 128.732C95.9967 128.499 98.1817 128.086 100.384 127.895C101.594 127.8 102.474 128.542 102.942 129.653C103.41 130.804 102.651 132.424 101.421 132.972L101.423 132.97ZM96.9682 103.993C97.1449 103.565 97.2597 103.132 97.4964 102.763C97.9468 102.004 98.512 101.338 99.5083 101.297C100.755 101.239 101.752 101.843 102.008 102.977C102.767 106.199 102.926 109.477 101.949 112.676C101.54 114.004 100.466 114.884 98.9448 114.688C97.7154 114.533 96.993 113.655 96.8375 112.503C96.4101 109.654 96.5055 106.805 96.9735 103.994L96.97 103.991L96.9682 103.993ZM103.723 76.9777C103.605 78.7353 102.144 80.0601 100.423 80.0601C100.346 80.0601 100.247 80.06 100.169 80.0424C98.3531 79.924 96.9682 78.3255 97.106 76.5096C97.6112 69.3682 96.4419 61.794 94.0237 56.7775C93.2412 55.1207 93.9283 53.1459 95.5852 52.3475C97.2244 51.5685 99.2168 52.2521 100.015 53.909C102.884 59.8988 104.308 68.7429 103.725 76.9777H103.723ZM137.408 122.967V122.96C136.902 124.288 135.65 125.108 134.304 125.108C133.758 125.108 133.193 124.972 132.665 124.68C131.199 123.861 130.694 122.008 131.28 120.425C134.694 111.231 135.572 101.007 133.933 91.2659C133.719 90.0365 131.999 89.8405 131.494 90.9745C130.478 93.2178 129.21 95.6589 128.431 96.3813C126.52 98.2166 123.729 98.644 121.307 97.4553C119.159 96.399 117.93 94.1362 117.774 91.7569C117.151 81.8617 114.319 72.1432 109.617 63.6134C108.953 62.384 108.953 60.8596 109.831 59.7892C111.392 57.8585 114.337 58.2101 115.335 60.2396C123.746 77.2409 123.259 104.291 126.947 83.2714C127.161 82.0614 127.375 80.8496 127.648 79.6608C127.784 79.0373 128.136 77.5536 129.386 76.4796C130.538 75.4834 132.022 75.1513 133.465 75.5417C135.749 76.1475 137.289 78.4103 137.895 80.1661C142.678 93.8272 142.502 109.424 137.408 122.967Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="46" viewBox="0 0 39 46" fill="none">
                      <path d="M36.4194 0.406738C36.0185 0.918985 24.8886 4.97637 24.2403 5.2113C23.4401 5.50275 22.7742 5.77657 22.3468 5.95321C13.4849 9.83569 8.70508 16.4913 8.58673 26.2911C8.56907 28.5344 8.54611 30.7619 8.52844 32.8497C7.12241 35.1531 4.50819 34.9199 2.65174 36.1086C-0.315762 38.0393 -0.48887 42.0984 2.36028 44.0149C3.37595 44.6985 4.64419 44.8751 5.83296 44.6013C7.66822 44.1915 9.50172 43.7411 11.337 43.3136C13.0345 43.1776 14.2267 44.3876 15.6699 44.9334C17.136 45.4986 18.5967 46.0674 20.2165 45.9296C22.1101 45.7742 23.6892 45.1101 24.5088 43.2359C25.2683 41.4201 25.0952 39.6855 23.7846 38.2389C22.2832 36.582 20.644 35.0753 19.1002 33.5368C18.2399 31.0974 18.6126 28.6174 18.4766 26.1763C18.1446 20.75 20.8383 17.295 25.3461 14.9157C25.4414 14.8751 25.5421 14.8203 25.6375 14.7797C26.3493 14.4194 37.6912 10.0918 38.403 10.2631C37.2761 6.8717 36.4989 3.95189 36.4159 0.408549L36.4194 0.406738Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_hand-right _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="43" viewBox="0 0 36 43" fill="none">
                      <path d="M33.3217 33.1122C31.4687 31.9199 28.851 32.1565 27.4449 29.8532C27.4273 27.7636 27.4043 25.538 27.3866 23.2947C27.2683 13.4948 22.4885 6.84099 13.6266 2.95674C12.9254 2.64233 11.5193 2.1194 9.97552 1.59126C9.38732 1.38459 1.41923 0.559698 1.05535 0.0898438C1.0059 2.87011 0.612037 2.79597 0.0821263 5.53031C-0.112174 6.53361 0.204006 8.37943 0.0379671 9.37743C0.93175 8.86871 9.22836 11.2216 10.2599 11.7232C10.3959 11.7815 10.5143 11.8592 10.6291 11.9193C15.1387 14.3003 17.8306 17.7553 17.4985 23.1799C17.3625 25.6192 17.7317 28.0992 16.875 30.5403C15.3329 32.0824 13.6937 33.5856 12.1906 35.2424C10.8834 36.6855 10.7068 38.4236 11.4664 40.2395C12.286 42.1154 13.8651 42.776 15.7587 42.9332C17.3784 43.0692 18.841 42.5057 20.3053 41.9369C21.7484 41.3911 22.9407 40.1794 24.6382 40.3172C26.4911 40.7446 28.3263 41.1951 30.1598 41.6049C31.3521 41.8787 32.6186 41.7003 33.6325 41.0185C36.4817 39.1073 36.2856 35.0463 33.3181 33.1122H33.3217Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_foot-left _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="47" viewBox="0 0 22 47" fill="none">
                      <path d="M21.9171 0.599854C21.7087 0.647545 21.5957 0.658161 21.2353 0.661694C18.3791 0.691722 15.5882 1.41769 12.732 1.44949C12.6384 1.44949 12.5554 1.43536 12.4812 1.40886C12.195 10.0429 11.8895 25.0358 11.5839 29.2256C11.4284 31.4336 11.5839 33.677 10.6283 35.6482C8.77535 37.2097 6.62745 36.1763 4.71447 36.6815C2.3705 37.2873 0.653585 39.2392 0.673015 41.3836C0.673015 43.6869 2.17443 45.4249 4.69327 46.0679C5.1437 46.1863 5.57116 46.3595 6.00039 46.3418C9.57376 46.2835 13.1648 46.3418 16.7152 46.0274C19.7003 45.773 21.0852 44.0968 21.1664 41.1893C21.6681 25.3662 21.5444 3.63978 22.0019 0.60339L21.9189 0.599854H21.9171Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                  <span class="_foot-right _skin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="51" viewBox="0 0 21 51" fill="none">
                      <path d="M18.3637 41.7852C16.1381 40.6741 13.5803 40.8878 11.6674 40.4197C10.1059 39.0543 10.3797 37.6483 10.3196 36.3412C10.1324 31.0686 9.96459 10.5982 9.79326 0.648193C9.7438 0.66939 9.69257 0.685291 9.63782 0.695889C6.46365 1.28056 3.25239 1.32473 0.0340655 1.32473C0.0146355 10.2113 -0.0207049 29.4701 0.131203 34.0768C0.226587 37.4312 0.267229 40.7907 0.50039 44.1274C0.851897 48.8118 2.52994 50.4139 7.27264 50.5675C9.94516 50.6453 12.6389 50.4898 15.3149 50.2938C16.3889 50.1984 17.5406 49.9246 18.4962 49.4335C19.9976 48.651 20.7218 47.2663 20.7041 45.5511C20.6865 43.8537 19.904 42.566 18.3601 41.7835L18.3637 41.7852Z" fill="#FF7F4D"/>
                    </svg>
                  </span>
                </figure>  
            </span>
            <figure class="_cookie">
              {%- if section.settings.cookies_i != blank -%}
                {{
                  section.settings.cookies_i
                  | image_url: width: 800, crop: 'center'
                  | image_tag: loading: 'lazy', class: '_img', alt: section.settings.heading
                }}
              {%- endif -%}
            </figure>
          </div>
        </div>
      </div>
      <div class="_body">
        <div class="_info">
          <div class="title-1 text-persimmon">
            <h1 data-splitting>{{ section.settings.heading | escape }}</h1>
          </div>
          <div class="title-3 text-persimmon">
            <h3 data-splitting>{{ section.settings.text_1 | escape }}</h3>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <aside class="_cinta" style="background-color: {{ section.settings.background_cinta }};">
    <div class="marquee">
      <div class="track">
        <div class="content">
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
          <span class="text-marquee">{{ section.settings.marquee | escape }}</span>
        </div>
      </div>
    </div>
    
  </aside>
  
</section>

  <style>
    section._home._i ._body ._info .title-1,
    section._home._i ._body ._info .title-3,
    section._home._ii ._heading,
    section._home._ii ._boding,
    section._home._ii ._inside._2,
    section._products._i ._inside._1 ._heading,
    section._products._i ._inside._1 ._boding,
    section._home._iv ._inside._2 ._card-header,
    section._home._iv ._inside._2 ._card-content,
    section._home._v ._inside._1, 
    body.template-index section._followus._i ._heading,
    body.template-index section._followus._i ._boding{
      opacity:0;
      transform:translatey(1vw);
      transition:all 0.2s ease-in-out;
    }
</style>
<script>
  //  Script optimizado
  document.addEventListener('DOMContentLoaded', function() {
    // Crear controlador global
    var controller = new ScrollMagic.Controller();
  
    // Seleccionar todos los elementos target
    var fadeElements = document.querySelectorAll('section._home._i ._body ._info .title-1, section._home._i ._body ._info .title-3, section._home._ii ._heading, section._home._ii ._boding,section._home._ii ._inside._2, section._products._i ._inside._1 ._heading, section._products._i ._inside._1 ._boding, section._home._iv ._inside._2 ._card-header, section._home._iv ._inside._2 ._card-content, section._home._v ._inside._1, body.template-index section._followus._i ._heading, body.template-index section._followus._i ._boding');
  
    // Iterar y crear escena para cada uno
    fadeElements.forEach(function(el) {
      new ScrollMagic.Scene({
        triggerElement: el,
        triggerHook: 0.9, // Ajusta el punto de activacin
        reverse: false // True para que se oculte al hacer scroll back up
      })
      .on("enter", function() {
        // Usa GSAP para mayor suavidad
        gsap.to(el, { duration: 0.5, opacity: 1, y: '0', ease: "power2.in" });
      })
      .on("leave", function() {
        // Opcional: vuelve a opacity 0
        gsap.to(el, { duration: 0.5, opacity: 0, y: '1vw', ease: "power2.out" });
      })
      // .addIndicators() // Descomenta para debug
      .addTo(controller);
    });
  });
</script>
                        
{% schema %}
  {
    "name": "Home I",
    "tag": "section",
    "class": "shopify-section--home-i",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff7eb"
      },
      {
        "type": "color",
        "id": "background_cinta",
        "label": "Background Marquee",
        "default": "#fff7eb"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Welcome to Snack Paradise!"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "Text 1",
        "default": "Delicious, Allergen-Friendly, and Functional Crackers for Joyful, Stress-Free Snacking."
      },
      {
        "type": "text",
        "id": "marquee",
        "label": "Marquee",
        "default": "Take The Stress Out of Snacking! - "
      },
      {
        "type": "image_picker",
        "id": "pic_i",
        "label": "Pic I"
      },
      {
        "type": "image_picker",
        "id": "pic_ii",
        "label": "Pic II"
      },
      {
        "type": "image_picker",
        "id": "pic_iii",
        "label": "Pic III"
      },
      {
        "type": "image_picker",
        "id": "cookies_i",
        "label": "Cookies I"
      },
      {
        "type": "image_picker",
        "id": "sticker_i",
        "label": "Sticker I"
      },
      {
        "type": "image_picker",
        "id": "lines_i",
        "label": "Lines I"
      }
    ],
    "presets": [
      {
        "name": "Home I"
      }
    ]
  }
{% endschema %}
