<section class="_home _iv" style="background-color: {{ section.settings.background_color }};">
  <div class="_inside _2">
    <div class="_container full-1 ">
      <div class="">
        <!-- _card-content -->
        <span class="_card-bg Body0919 d-none" id="home-4-tblsec-bg">
          <div class="table-home-heading">
            <div class="_heading">
              <div class="title-3 text-sand heading-1">
                <h2>
                  <span data-splitting>{{ section.settings.subheading }}</span>
                </h2>
              </div>
              <div class="title-1 text-sand heading-2">
                <h2>
                  <span data-splitting>{{ section.settings.heading }}</span>
                </h2>
              </div>
            </div>
          </div>
        </span>


      <div class="_card-header _flex">
        <figure class="fun fun-butter _hearting _1">
          <span class="_body _skin">
            <svg xmlns="http://www.w3.org/2000/svg" width="239" height="316" viewBox="0 0 239 316" fill="none" >
              <path d="M238.091 121.444C238.041 120.828 237.769 119.878 237.633 119.314C235.431 110.039 231.35 101.55 226.735 93.2903C224.348 89.0209 221.768 84.8523 219.519 80.5141C218.987 79.4931 218.919 77.5854 219.539 76.757C220.588 75.3563 222.275 75.9675 223.599 76.9337C224.915 77.8946 226.191 78.9138 227.512 79.8729C228.169 80.3498 228.842 80.8621 229.582 81.1641C231.567 81.9731 232.841 81.0157 232.564 78.9208C232.442 78.0041 232.12 77.112 231.855 76.2183C228.78 65.8832 224.334 56.1558 218.758 46.946C209.477 31.6157 196.849 20.1926 179.908 13.8142C167.678 9.20927 155.243 5.39569 142.355 3.01463C117.573 -1.56027 93.2078 -0.39624 69.224 7.60012C52.553 13.1589 38.4432 22.4853 27.2621 36.0457C18.4921 46.6828 12.3575 58.8125 7.8921 71.8112C7.09724 74.1216 6.30415 76.4532 5.79367 78.8343C5.31145 81.0811 6.82876 82.1798 8.90424 81.1641C10.0365 80.6077 11.0133 79.7192 12.0395 78.9561C13.0693 78.1966 13.9772 77.128 15.1254 76.7076C16.1887 76.319 17.7485 76.3561 18.5963 76.7376C20.3909 77.5554 18.3455 81.3319 18.0046 81.9431C14.8781 87.5372 11.6368 93.0677 8.65871 98.7395C5.02176 105.664 1.88115 112.816 0.554608 120.598C0.48042 121.033 0.411537 121.829 0.383275 122.672C0.339116 124.007 1.8423 124.815 2.92155 124.029C3.53801 123.583 4.09971 123.14 4.43885 122.884C6.84288 121.056 9.03318 118.945 11.363 117.009C13.0146 115.633 15.1007 113.983 17.0702 115.191C18.4303 116.029 17.722 119.104 16.9271 120.939C12.5907 130.91 9.46418 141.27 6.74044 151.766C6.27235 153.569 5.7495 155.38 5.54637 157.222C5.44745 158.111 5.76893 159.51 6.38363 159.882C7.03365 160.276 8.36903 159.946 9.19922 159.527C10.3191 158.96 11.2111 157.955 12.2639 157.226C14.463 155.701 16.6127 154.073 18.946 152.78C22.6236 150.743 24.5543 151.828 24.6055 155.95C24.6408 158.967 24.6267 162.048 24.0844 164.996C22.8215 171.865 21.4366 178.724 19.7109 185.482C17.8438 192.797 17.812 196.199 18.3102 203.687C18.4497 205.767 18.644 208.118 19.3647 209.876C19.6243 210.507 20.4687 211.591 21.0109 211.718C21.9665 211.946 22.9592 211.353 23.3266 210.662C23.9131 209.549 24.8581 208.385 25.4798 207.271C28.8854 201.178 31.0139 198.73 34.5872 192.735C35.1154 191.852 36.1788 190.349 37.6643 190.506C39.5631 190.707 39.7397 192.777 39.9129 193.807C41.0327 200.463 48.6016 237.149 48.8048 237.901C50.9156 245.634 53.8954 253.133 56.6527 260.678C56.8559 261.235 57.2975 262.053 57.7956 262.858C58.4703 263.952 60.1078 263.789 60.5494 262.583C60.8461 261.774 61.0952 260.975 61.2329 260.435C62.6284 254.901 63.7995 249.31 65.096 243.751C65.4104 242.4 65.6824 240.952 66.3837 239.798C66.9118 238.922 68.0988 237.924 68.982 237.936C69.8793 237.951 71.2535 238.957 71.5556 239.83C72.2657 241.884 72.6949 244.099 72.8274 246.274C73.2301 252.899 73.4332 259.537 73.7229 266.168C73.753 266.864 73.8254 267.631 73.9314 268.224C74.2899 270.197 75.5529 271.107 76.8141 271.245C77.7167 271.342 79.3824 270.333 80.073 269.312C82.258 266.078 83.0564 260.489 86.1352 261.272C88.2955 261.82 87.6419 264.201 87.5748 265.847C87.165 275.853 86.7164 285.86 86.1564 295.859C85.9197 300.113 84.6091 301.203 80.2037 301.434C79.5043 301.473 78.7977 301.455 78.1124 301.563C74.5196 302.144 72.1915 304.643 72.2215 307.846C72.2498 310.951 74.3818 313.38 78.1053 313.578C82.9787 313.843 87.8998 313.823 92.7626 313.429C96.7793 313.104 98.3232 311.006 98.5704 306.867C98.6482 305.59 98.6199 304.304 98.6446 303.022C98.8725 290.678 99.0845 278.332 99.3653 265.986C99.3989 264.572 99.7239 263.165 99.9676 261.756C100.031 261.387 100.332 261.101 100.702 261.051C101.008 261.011 101.31 261.15 101.473 261.417C102.063 262.388 102.764 263.328 103.055 264.383C103.928 267.518 104.505 270.736 105.313 273.891C105.767 275.67 106.689 277.212 108.814 277.229C110.845 277.249 111.935 275.889 112.643 274.168C112.908 273.523 113.088 272.843 113.279 272.172C114.462 268.028 115.586 263.863 116.836 259.741C117.644 257.07 118.345 254.304 119.645 251.875C120.35 250.554 122.134 249.174 123.559 249.022C125.668 248.8 126.147 251.059 126.483 252.755C127.166 256.18 127.504 259.679 128.297 263.075C129.086 266.465 129.987 269.878 131.338 273.066C132.488 275.769 134.829 275.707 136.321 273.145C137.554 271.036 140.334 261.774 143.666 262.505C146.344 263.083 145.582 265.895 145.607 267.871C145.706 276.728 145.628 285.583 145.754 294.439C145.817 299.094 146.093 303.751 146.411 308.399C146.711 312.716 149.002 315.019 153.321 315.176C157.389 315.323 161.474 315.185 165.551 315.072C166.572 315.044 167.613 314.717 168.596 314.376C170.796 313.606 172.002 312.029 172.117 309.663C172.239 307.164 171.175 305.302 168.86 304.423C167.134 303.767 165.283 303.398 163.462 303.036C159.627 302.271 158.864 301.547 158.765 297.813C158.484 287.216 158.253 276.618 158.021 266.022C158 264.976 157.963 263.899 158.184 262.888C158.198 262.819 158.223 262.717 158.247 262.591C158.519 261.38 160.105 261.069 160.814 262.088C160.96 262.297 161.075 262.471 161.133 262.577C161.736 263.687 161.96 264.997 162.453 266.172C163.292 268.184 163.873 270.869 166.657 270.59C169.342 270.323 169.653 267.652 170.128 265.513C171.315 260.172 172.376 254.802 173.578 249.458C173.991 247.616 174.634 245.613 176.98 245.629C179.484 245.648 180.099 247.759 180.544 249.725C180.8 250.849 180.77 252.037 180.841 253.196C180.894 254.009 180.934 254.892 180.995 255.6C181.154 257.425 182.425 258.958 183.399 259.193C184.103 259.361 185.554 258.262 186.02 257.015C186.317 256.208 186.703 254.556 186.877 253.648C187.956 248.049 191.056 234.642 191.1 233.967C191.165 232.952 196.585 198.621 198.224 191.401C198.925 188.317 201.232 187.704 203.39 190.017C203.888 190.55 204.279 191.191 204.678 191.802C208.43 197.534 210.193 198.96 213.628 205.031C214.312 206.234 215.508 207.915 216.55 207.977C218.595 208.095 218.54 205.829 219.014 204.333C219.083 204.112 219.077 203.87 219.123 203.644C220.434 196.886 220.404 195.729 219.503 188.66C218.784 183.001 216.516 177.626 215.486 172.026C214.501 166.663 213.898 161.202 213.588 155.756C213.376 152.036 215.465 150.862 218.752 152.502C220.823 153.534 222.766 154.85 224.686 156.161C226.316 157.275 227.738 158.715 229.416 159.745C231.384 160.953 232.855 159.981 232.792 157.664C232.776 156.975 232.571 156.29 232.421 155.608C229.882 144.206 226.373 133.101 221.935 122.287C221.508 121.248 221.112 120.206 220.752 119.143C220.245 117.643 219.791 115.766 221.575 115.08C222.605 114.685 224.32 115.105 225.313 115.776C227.325 117.136 229.04 118.931 230.909 120.508C232.067 121.485 233.187 122.564 234.501 123.267C235.289 123.688 236.568 123.801 237.331 123.435C237.827 123.19 238.165 122.301 238.094 121.443L238.091 121.444ZM120.689 137.321C120.936 138.485 121.033 139.682 121.118 140.991C121.251 143.036 121.196 145.091 120.91 147.119C120.82 147.746 120.708 148.385 120.56 149.016C120.161 150.69 119.037 151.89 117.114 151.898C115.153 151.907 114.023 150.717 113.811 148.964C113.358 145.204 112.933 141.417 112.905 137.633C112.89 135.643 113.901 133.751 116.361 133.523C118.241 133.346 120.166 134.904 120.689 137.322V137.321ZM107.401 74.8882C108.045 74.081 108.785 73.2896 109.628 72.705C111.465 71.4279 113.403 71.5568 115.114 72.9328C116.84 74.3177 117.317 76.1847 116.441 78.2461C116.082 79.0851 115.533 79.8711 114.961 80.5918C109.805 87.0532 107.434 94.3872 107.943 102.643C107.983 103.337 107.987 104.042 107.923 104.733C107.646 107.766 105.956 109.581 103.462 109.564C101.058 109.548 99.0262 107.646 98.7312 104.862C98.5475 103.141 98.6959 101.386 98.6959 99.6421C98.4927 90.3157 101.633 82.1285 107.401 74.8882ZM84.6886 119.512C84.5808 121.005 84.2487 122.508 83.8301 123.949C82.8639 127.282 80.61 129.321 77.1674 129.821C73.6417 130.335 70.7289 129.112 68.6782 126.164C67.8197 124.931 67.1997 123.529 66.4208 122.232C66.1487 121.78 65.7902 121.024 65.4104 120.196C64.8964 119.067 63.2272 119.295 63.0399 120.522C62.8421 121.814 62.6602 123.071 62.563 123.875C61.1976 135.245 62.2362 146.391 65.8061 157.293C66.2017 158.496 66.5162 159.771 66.5903 161.029C66.7175 163.233 65.7566 164.869 63.5239 165.519C61.3566 166.146 59.1133 165.415 58.1718 163.336C57.0272 160.806 56.1264 158.132 55.4057 155.445C51.0445 139.156 51.4861 122.963 56.7411 106.944C57.3769 105.014 58.4014 103.021 59.7739 101.553C63.5098 97.5649 69.0791 98.8066 70.8402 103.987C71.9212 107.17 72.52 110.518 73.3873 113.777C73.6275 114.679 73.9879 116.025 74.3253 117.369C74.509 118.108 75.5723 118.071 75.7066 117.32C75.9397 115.995 76.1888 114.672 76.3778 113.791C78.7376 102.981 81.2335 92.2075 85.8473 82.072C86.2801 81.1217 86.6669 80.1308 87.2321 79.2617C88.7194 76.9902 91.1252 76.2642 93.2519 77.3435C95.4192 78.4386 96.3272 80.7985 95.4369 83.289C95.0483 84.3789 94.476 85.4052 93.962 86.4491C88.7918 96.8848 85.5152 107.847 84.685 119.508L84.6886 119.512ZM131.769 176.933C130.07 177.308 128.353 177.604 126.633 177.875C118.525 179.169 110.186 177.442 103.371 172.872C103.165 172.734 102.962 172.591 102.757 172.452C100.513 170.88 100.243 169.587 95.3733 170.037C92.2592 170.323 90.9963 168.43 91.5544 165.325C92.3281 161.018 96.5621 156.811 100.953 155.988C103.896 155.435 106.176 157.091 105.526 159.941C104.564 164.175 106.947 165.842 109.972 167.492C115.838 170.7 122.074 170.297 128.364 169.527C129.054 169.444 129.74 169.285 130.43 169.202C133.633 168.818 135.526 169.772 136.03 171.996C136.537 174.245 134.981 176.227 131.768 176.935L131.769 176.933ZM127.747 137.487C127.959 135.489 129.261 133.643 131.67 133.74C134.159 133.839 134.79 135.86 135.134 137.895C135.15 137.985 135.164 138.073 135.178 138.161C135.742 141.68 135.611 145.285 134.677 148.724C134.631 148.901 134.58 149.074 134.528 149.251C133.972 151.134 132.536 152.036 130.492 151.808C128.532 151.591 127.461 150.31 127.426 148.563C127.346 144.875 127.353 141.152 127.747 137.488V137.487ZM136.954 101.822C136.456 104.544 134.544 105.952 132.04 105.786C129.531 105.618 128.09 104.017 127.954 101.069C127.806 97.8245 128.136 94.5037 127.574 91.3349C126.624 85.9863 125.239 80.7031 123.837 75.4446C122.964 72.1733 123.66 69.6121 126.115 68.637C128.662 67.6267 131.178 68.7306 132.566 71.8023C136.023 79.456 137.086 87.6131 137.358 96.7029C137.275 97.8916 137.305 99.8912 136.954 101.82V101.822ZM182.699 160.456C181.265 164.779 179.131 166.409 176.1 165.503C173.223 164.644 172.285 161.696 173.685 157.581C177.515 146.363 178.571 134.879 176.937 123.156C176.808 122.234 176.474 120.932 176.188 119.676C175.996 118.839 174.856 118.707 174.484 119.48C173.528 121.471 172.546 123.718 171.606 125.292C168.971 129.713 164.295 131.163 159.939 128.943C156.809 127.344 155.711 124.506 155.204 121.257C154.347 115.746 153.902 110.108 152.383 104.775C150.574 98.4322 147.824 92.3594 145.462 86.1788C145.132 85.3116 144.598 84.5238 144.279 83.6547C143.253 80.8797 144.062 78.5146 146.353 77.3859C148.871 76.1476 151.512 76.893 152.667 79.7863C154.953 85.5005 157.129 91.2854 158.853 97.1851C160.577 103.095 161.669 109.188 163.087 115.19C163.26 115.925 163.506 117.364 163.808 118.749C164.004 119.644 165.247 119.74 165.583 118.883C166.553 116.384 166.682 113.354 167.102 111.528C167.65 109.149 167.909 106.693 168.602 104.362C170.209 98.9691 175.95 97.5066 179.804 101.567C181.116 102.952 182.155 104.795 182.756 106.614C188.661 124.555 188.646 142.517 182.697 160.458L182.699 160.456Z" fill="#FF7F4D"/>
            </svg>
          </span>
          <span class="_hand-left _skin">
            <svg xmlns="http://www.w3.org/2000/svg" width="97" height="40" viewBox="0 0 97 40" fill="none">
              <path d="M69.3055 6.6325C69.6747 15.5774 64.6971 18.3735 62.3125 18.9406C61.583 19.1137 60.1734 19.9421 59.4351 20.1222L64.5416 31.2221C65.0239 31.0543 66.1879 30.5368 66.6666 30.3636C69.7171 29.2508 72.5927 28.9506 76.0036 28.4772C87.4196 26.8892 93.8422 22.355 95.6456 20.8482C96.4688 20.1594 96.9227 18.99 96.6949 17.8277C96.0996 14.8002 92.0122 15.2612 90.7934 12.6823C89.458 9.85789 92.2683 5.31829 91.2951 2.31193C90.4331 -0.348225 87.3967 -0.116809 85.5862 1.71668C83.8357 3.49012 81.4423 7.0829 79.1283 6.07961C75.9435 4.7036 77.0917 1.95866 73.2816 1.43758C71.3404 1.17263 69.2154 4.37685 69.3073 6.62897L69.3055 6.6325Z" fill="#FF7F4D"/>
              <path d="M2.23496 22.4892C0.131219 25.4178 -0.850883 31.2186 1.67679 34.2002C2.87439 35.6133 4.66726 37.0388 6.42303 37.6253C14.3187 40.2624 21.9635 39.5612 30.1966 38.3353C40.0741 36.8675 55.4098 33.6032 65.0559 31.0172C64.9075 28.645 60.3591 22.2049 60.2107 19.8326C46.3218 23.4554 36.7534 27.345 22.4316 28.3147C21.529 28.3748 17.3463 28.6662 15.9367 28.6856C14.8044 28.6998 13.054 27.7724 13.6598 26.8168C13.8859 26.4618 14.1809 26.1403 14.5042 25.886C15.4492 25.1476 22.7496 21.3411 23.7458 20.6716C25.362 19.5871 26.436 17.7324 26.5738 15.7876C26.7027 13.9577 25.2932 9.8968 23.2265 9.7237C21.4071 9.57179 16.6415 11.1297 14.8468 12.2673C10.869 14.7967 5.37204 18.1192 2.2332 22.4892H2.23496Z" fill="#FF7F4D"/>
            </svg>
          </span>
          <span class="_hand-right _skin">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="39" viewBox="0 0 80 39" fill="none">
              <path d="M25.1861 13.2644C26.7282 22.0821 32.1862 23.7566 34.6362 23.8025C35.3851 23.8166 36.9378 24.3289 37.7009 24.3413L35.0725 36.2749C34.5655 36.2113 33.3167 35.9551 32.8115 35.8862C29.5932 35.4482 26.7229 35.7679 23.2873 36.0293C11.7935 36.9054 4.55316 33.8408 2.47238 32.7527C1.5203 32.2546 0.829662 31.2107 0.804933 30.0272C0.741343 26.9413 4.83225 26.5227 5.47697 23.7442C6.18175 20.699 2.47061 16.8624 2.78149 13.7183C3.05704 10.938 6.074 10.5141 8.23427 11.9237C10.3204 13.2838 13.4239 16.2849 15.4711 14.8135C18.2902 12.7892 16.5839 10.3534 20.1944 9.03569C22.0384 8.36094 24.7975 11.0423 25.1861 13.2608V13.2644Z" fill="#FF7F4D"/>
              <path d="M60.3548 0.074707C64.9138 2.49993 68.5225 5.78893 71.9528 9.45945C75.3848 13.13 78.045 18.1535 79.2885 23.0199C79.8714 25.2985 80.0922 27.7025 79.6223 30.0076C79.1489 32.311 77.9372 34.5083 76.0437 35.9038C73.569 37.7284 70.3065 37.9898 67.2313 38.1029C58.728 38.412 50.1982 38.064 41.7496 37.0625C40.1069 36.8664 34.5199 36.4884 33.6914 35.9532C32.0311 34.8881 35.5091 31.8111 36.1184 29.9352C36.7261 28.0575 36.3851 25.9361 37.6375 24.41C37.6375 24.41 54.0665 29.5113 63.8151 26.6639C65.3889 26.2046 66.5618 25.461 67.2896 23.9914C68.2028 22.142 67.4326 19.9588 66.0478 18.4273C62.7164 14.7444 59.7348 12.699 55.7763 9.87456C56.8556 7.22854 58.7845 2.46284 60.3548 0.074707Z" fill="#FF7F4D"/>
            </svg>
          </span>
          <span class="_heart">
            <svg xmlns="http://www.w3.org/2000/svg" width="77" height="69" viewBox="0 0 77 69" fill="none">
              <path d="M38.7197 12.4542C38.0096 10.4865 26.1785 -6.45302 8.13326 2.85045C-0.403604 7.25224 -1.50226 19.4031 2.02165 28.8708C5.4537 38.0931 12.77 45.5754 20.3707 51.687C27.7612 57.6256 38.2887 62.4689 44.7183 68.6053C49.703 61.8154 58.6938 56.0217 64.2967 49.6734C69.9156 43.3056 74.8861 35.8374 76.0837 27.1098C77.3007 18.2285 74.0118 7.03147 65.6604 2.87697C49.3409 -5.24303 38.718 12.456 38.718 12.456L38.7197 12.4542Z" fill="#FF7DAC"/>
            </svg>
          </span>
        </figure>
        <div class="_heading">
          <div class="title-3 text-sand heading-1">
            <h2>
              <span data-splitting>{{ section.settings.subheading }}</span>
            </h2>
          </div>
          <div class="title-1 text-sand heading-2">
            <h2>
              <span data-splitting>{{ section.settings.heading }}</span>
            </h2>
          </div>
        </div>
      </div>



                  
        <div class="_card-content _card-content-mainp121" id="card1-content-background-home-iv">
          <div class="in-card _1 card-ii _bubblegum">
            <span id="about" class="_indicator"></span>

            <div class="_content">
              <div class="_inside _1" id="home-iv-inside1" style="width: 100%;">
                <div class="_container full-1 container-full-1">
                <div class="zxcvbn-scroll">
                  <div class="_boding" id="boding-home4-main">
                    <table class="comparison-table" style="width: 100%; border-collapse: collapse;">
                      <thead>
                        <tr class="home-table-th-row">
                          <th class="title-4 text-dust">CATEGORY</th>
                          <th class="title-4 text-center img-th">
                            <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/brand_funhaven.svg?v=1744838706"  alt="Table Header Home" >
                          </th>
                          <th class="title-4 text-heading">LEADING CRACKER BRANDS</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% assign categories = 'Functional Flour,
                        Use Olive Oil (instead of seed oils),
                        OG Added Sugar,
                        Cute cartoon mushroom mascots! :),
                        Nut Free,
                        No artificial flavors or corn syrup,
                        Soy and Sesame Free,
                        Gluten Free and Wheat Free,
                        Vegan,
                        Woman-Owned'
                          | split: ','
                        %}

                        {% assign funhaven = '✔️,✔️,✔️,✔️,✔️,✔️,✔️,✔️,✔️,✔️' | split: ',' %}
                        {% assign leading = '❌,❌,❌,❌,❌,❌,❌,❌,very few,very few' | split: ',' %}
                        {% assign total = categories.size | minus: 1 %}
                        {% for i in (0..total) %}
                          <tr class="home-table-row">
                            <td class="title-6 text-dust" style="padding: 10px;">{{ categories[i] | strip }}</td>
                            <td class="title-6 text-dust center-img-td" style="text-align: center;">
                              {% if funhaven[i] == '✔️' %}
                                <img
                                  src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/check-1.svg?v=1744741650"
                                  alt="Check"
                                  width="20"
                                  height="20"
                                >
                              {% else %}
                                {{ funhaven[i] }}
                              {% endif %}
                            </td>
                            <td class="title-6 text-dust" style="text-align: center;">
                              {% if leading[i] == '✔️' %}
                                <img
                                  src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/check-1.svg?v=1745451142"
                                  alt="Check"
                                  width="20"
                                  height="20"
                                >
                              {% elsif leading[i] == '❌' %}
                                <img
                                  src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/deny-1.svg?v=1745451236"
                                  alt="X"
                                  width="20"
                                  height="20"
                                >
                              {% else %}
                                {{ leading[i] }}
                              {% endif %}
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- _container full-2 -->
              </div>
              <!-- _inside _1 -->
            </div>
            <!-- _content -->
              
          </div>

            <aside class="_bg">
              <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1097 758" fill="none">
                <path d="M1089.2 740.657C1088.84 748.954 1082.14 755.542 1073.99 755.491L903.828 754.252C675.903 752.683 448.029 751.037 220.092 756.16C153.886 757.634 87.5142 759.748 21.618 754.31C11.9882 753.575 4.52223 745.579 4.19412 735.761C1.80337 662.216 0.431337 588.666 0.0780298 515.113C-0.541395 374.623 2.52443 234.17 9.36978 93.8425C10.3054 74.4919 3.95045 19.413 21.3177 9.88533C31.925 4.08508 59.3792 8.79228 71.6139 8.42059C88.6519 8.00756 105.741 7.5168 122.779 7.10377L312.493 2.00127C369.824 0.502289 463.64 0.238154 520.906 2.40648C577.35 4.51201 637.906 0.647914 693.712 1.3991C752.332 2.12032 804.947 8.8299 863.505 5.30283C935.236 0.822946 1007.11 1.16863 1078.64 6.22153C1085.76 6.76457 1091.35 12.6589 1091.56 19.9379C1099.54 259.977 1098.73 500.486 1089.2 740.657Z" fill="#FFA9E7"/>
              </svg>
            </aside>
          <!-- in-card _1 -->
        </div>
        <div class="scroll-arrows d-lg-none">
          <button class="scroll-arrow scroll-left">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 39 21" fill="none">
              <path d="M15.6039 10.1946L21.8826 10.8053C23.2421 10.9084 24.5859 11.0245 25.9138 11.1537C27.2445 11.254 28.5766 11.3399 29.9101 11.4113C30.8395 11.4434 31.7833 11.477 32.7415 11.5119C33.7314 11.5208 34.7083 11.5138 35.6722 11.491C36.2551 11.4894 36.7599 11.3928 37.1865 11.2012C38.0024 10.9017 38.4022 10.3869 38.3858 9.65683C38.3962 9.24988 38.2986 8.90527 38.093 8.623C37.8873 8.34073 37.6024 8.12361 37.2384 7.97163C36.8772 7.79079 36.4931 7.69515 36.0861 7.68471C35.682 7.6454 35.2764 7.62052 34.8695 7.61007C34.1422 7.59761 33.4177 7.55628 32.696 7.48608C32.0032 7.41869 31.309 7.36573 30.6133 7.3272C29.4847 7.24656 28.3649 7.22505 27.2539 7.26269C26.1457 7.27145 25.0375 7.28022 23.9293 7.28898C23.378 7.2645 22.8268 7.24001 22.2755 7.21553C21.727 7.16218 21.1901 7.1391 20.6649 7.14629C19.8165 7.18033 18.9565 7.18409 18.0849 7.15759C17.216 7.10222 16.3574 7.09155 15.5091 7.12559C15.0127 7.13559 14.5177 7.13115 14.0242 7.11228C13.5306 7.09341 13.0212 7.08758 12.496 7.09477C11.535 7.08871 10.5595 7.08124 9.56958 7.07237C8.61134 7.03744 7.63587 7.02998 6.64315 7.04997C6.44107 7.03032 6.23619 7.03953 6.02851 7.07761C5.84969 7.11849 5.65503 7.17241 5.44453 7.23936C4.96019 7.42537 4.74026 7.73909 4.78475 8.18052C4.74543 8.58466 4.9497 8.88137 5.39753 9.07063C5.76158 9.22261 6.1154 9.32988 6.459 9.39244C6.80541 9.42613 7.16625 9.46123 7.54152 9.49774C8.72508 9.61286 9.95194 9.7322 11.2221 9.85576C12.5211 9.98211 13.9817 10.0951 15.6039 10.1946Z" fill="#F9EEDA"/>
              <path d="M5.6719 8.64517C6.03416 8.4168 6.35301 8.19141 6.62846 7.969C6.93483 7.77354 7.22575 7.5646 7.5012 7.34219C8.08501 6.95325 8.65236 6.53638 9.20326 6.09155C9.75416 5.64673 10.2732 5.16049 10.7602 4.63284C11.2453 4.07625 11.7613 3.54661 12.3082 3.04391C12.8861 2.56817 13.5258 2.14632 14.2273 1.77838C14.4818 1.67369 14.629 1.48916 14.669 1.22477C14.711 0.989309 14.6228 0.762792 14.4043 0.545212C14.0832 0.102108 13.6238 -0.0262537 13.0261 0.160135C12.7407 0.237868 12.4553 0.315606 12.1699 0.393339C11.9154 0.498022 11.662 0.617171 11.4095 0.750789C10.7619 1.05689 10.0978 1.33505 9.41723 1.58527C8.73866 1.86443 8.07656 2.17152 7.4309 2.50656C6.92595 2.7738 6.45193 3.06798 6.00882 3.38912C5.59664 3.7372 5.168 4.05734 4.72291 4.34954C4.22194 4.67465 3.72195 5.01422 3.22296 5.36827C2.72397 5.72231 2.22399 6.06188 1.72302 6.38699C0.915667 6.90756 0.509872 7.56046 0.50563 8.34569C0.53231 9.15787 0.927205 9.82849 1.69032 10.3575C2.9442 11.2599 4.16916 12.1643 5.36517 13.0706C6.59211 14.0039 7.78061 15.0125 8.93067 16.0964C9.36358 16.4737 9.79648 16.851 10.2294 17.2283C10.6912 17.6036 11.1396 17.9944 11.5745 18.4006C11.758 18.5334 11.957 18.6796 12.1715 18.8393C12.386 18.999 12.5984 19.1298 12.8089 19.2316C13.0793 19.3584 13.3736 19.4109 13.6919 19.389C14.0391 19.3652 14.3071 19.2451 14.4957 19.0286C15.0446 18.5549 15.167 18.0086 14.8629 17.3899C14.6286 16.9409 14.3528 16.5237 14.0357 16.1385C13.7494 15.7802 13.4477 15.4084 13.1306 15.0232C12.0304 13.8196 10.8494 12.7087 9.5876 11.6906C8.32577 10.6725 7.02054 9.65732 5.6719 8.64517Z" fill="#F9EEDA"/>
            </svg>
          </button>
          <button class="scroll-arrow scroll-right">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 39 21" fill="none">
              <path d="M22.8585 9.47939L16.5502 9.47939C15.187 9.45039 13.8384 9.43589 12.5042 9.43589C11.17 9.40689 9.83589 9.36338 8.50172 9.30537C7.57361 9.24737 6.63099 9.18936 5.67387 9.13135C4.68775 9.04434 3.71614 8.94283 2.75902 8.82682C2.17895 8.76881 1.68589 8.62379 1.27984 8.39176C0.496741 8.01472 0.148698 7.46365 0.235707 6.73856C0.264712 6.33251 0.395228 5.99897 0.627256 5.73794C0.859285 5.4769 1.16382 5.28838 1.54087 5.17237C1.91792 5.02735 2.30946 4.96934 2.71551 4.99834C3.12156 4.99834 3.52761 5.01285 3.93366 5.04185C4.65875 5.09986 5.38384 5.12886 6.10893 5.12886C6.80502 5.12886 7.5011 5.14336 8.19719 5.17237C9.32832 5.20137 10.445 5.28838 11.5471 5.4334C12.6492 5.54941 13.7514 5.66543 14.8535 5.78144C15.4046 5.81045 15.9556 5.83945 16.5067 5.86845C17.0578 5.86845 17.5943 5.89746 18.1164 5.95546C18.9575 6.07148 19.8131 6.15849 20.6832 6.21649C21.5533 6.2455 22.4089 6.31801 23.25 6.43402C23.7431 6.49203 24.2362 6.53553 24.7292 6.56454C25.2223 6.59354 25.7298 6.63705 26.2519 6.69505C27.209 6.78206 28.1806 6.86907 29.1668 6.95609C30.1239 7.01409 31.0955 7.1011 32.0816 7.21712C32.2846 7.21712 32.4877 7.24612 32.6907 7.30413C32.8647 7.36213 33.0532 7.43464 33.2563 7.52165C33.7203 7.75368 33.9088 8.08722 33.8218 8.52228C33.8218 8.92833 33.5898 9.20386 33.1258 9.34888C32.7487 9.46489 32.3862 9.5374 32.0381 9.5664C31.6901 9.5664 31.3275 9.5664 30.9505 9.5664C29.7613 9.5664 28.5287 9.56641 27.2525 9.56641C25.9474 9.56641 24.4827 9.5374 22.8585 9.47939Z" fill="#F9EEDA"/>
              <path d="M33.3281 8.64517C32.9658 8.4168 32.647 8.19141 32.3715 7.969C32.0652 7.77354 31.7743 7.5646 31.4988 7.34219C30.915 6.95325 30.3476 6.53638 29.7967 6.09155C29.2458 5.64673 28.7268 5.16049 28.2398 4.63284C27.7547 4.07625 27.2387 3.54661 26.6918 3.04391C26.1139 2.56817 25.4742 2.14632 24.7727 1.77838C24.5182 1.67369 24.371 1.48916 24.331 1.22477C24.289 0.989309 24.3772 0.762792 24.5957 0.545212C24.9168 0.102108 25.3762 -0.0262537 25.9739 0.160135C26.2593 0.237868 26.5447 0.315606 26.8301 0.393339C27.0846 0.498022 27.338 0.617171 27.5905 0.750789C28.2381 1.05689 28.9022 1.33505 29.5828 1.58527C30.2613 1.86443 30.9234 2.17152 31.5691 2.50656C32.074 2.7738 32.5481 3.06798 32.9912 3.38912C33.4034 3.7372 33.832 4.05734 34.2771 4.34954C34.7781 4.67465 35.278 5.01422 35.777 5.36827C36.276 5.72231 36.776 6.06188 37.277 6.38699C38.0843 6.90756 38.4901 7.56046 38.4944 8.34569C38.4677 9.15787 38.0728 9.82849 37.3097 10.3575C36.0558 11.2599 34.8308 12.1643 33.6348 13.0706C32.4079 14.0039 31.2194 15.0125 30.0693 16.0964C29.6364 16.4737 29.2035 16.851 28.7706 17.2283C28.3088 17.6036 27.8604 17.9944 27.4255 18.4006C27.242 18.5334 27.043 18.6796 26.8285 18.8393C26.614 18.999 26.4016 19.1298 26.1911 19.2316C25.9207 19.3584 25.6264 19.4109 25.3081 19.389C24.9609 19.3652 24.6929 19.2451 24.5043 19.0286C23.9554 18.5549 23.833 18.0086 24.1371 17.3899C24.3714 16.9409 24.6472 16.5237 24.9643 16.1385C25.2506 15.7802 25.5523 15.4084 25.8694 15.0232C26.9696 13.8196 28.1506 12.7087 29.4124 11.6906C30.6742 10.6725 31.9795 9.65732 33.3281 8.64517Z" fill="#F9EEDA"/>
            </svg>
          </button>
        </div>
      </div>

      
<style>
  @media (max-width: 767px) {
    .title-2.text-sand.heading-2 h2 span {
      font-size: 16vw !important;
    }
    .table-home-heading ._heading {
      margin-top: 79px !important;
      /* float: left; */
      width: 68% !important;
      text-align: left !important;
      position: relative !important;
      left: 10px !important;
    }
    .card-i ._card-bg  {
      position: absolute  !important;
      z-index: 0;
      top: -1%;
      left: -1%;
      bottom: 0  !important;
      right: 0  !important;
      width: 100%  !important;
      height: 138%  !important;
    }
    div#card-content-bg-blue figure.fun {
      width: 18% !important;
      position: absolute;
      top: 245px !important;
      left: 73% !important;
    }
    div#card1-content-background-home-iv {
      width: 100%;
      margin: 38px auto 0;
    }
    table.comparison-table {
      display: flex;
      flex-direction: column;
    }
    .zxcvbn-scroll {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
      width: 100%;
      padding-bottom: 12px; /* Space for scrollbar */
    }
    .zxcvbn-scroll .comparison-table {
      width: auto; /* Allow table to expand */
    }
    .zxcvbn-scroll .comparison-table thead,
    .zxcvbn-scroll .comparison-table tbody,
    .zxcvbn-scroll .comparison-table tr,
    .zxcvbn-scroll .comparison-table th,
    .zxcvbn-scroll .comparison-table td {
      display: table-cell;
    }
    .zxcvbn-scroll .comparison-table tr {
      display: table-row;
    }
    .zxcvbn-scroll .comparison-table th.title-4.text-center,
    .zxcvbn-scroll .comparison-table td.center-img-td {
      text-align: center;
    }
    .zxcvbn-scroll .comparison-table::-webkit-scrollbar {
      height: 6px;
    }
    .zxcvbn-scroll .comparison-table::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 3px;
    }
    .zxcvbn-scroll .comparison-table::-webkit-scrollbar-track {
      background-color: #f0f0f0;
    }
    .card-i ._card-bg {
      mask-mode: initial;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      width: 100%;
    }
    section._home._iv .card-i._bubblegum ._card-bg {
      background: none;
      z-index: unset !important;
    }
  }

  @media (max-width: 991px) {
    .card-i ._card-content {
      position: relative;
      z-index: 2;
      -webkit-mask-image: none;
      mask-image: none;
      mask-mode: initial;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      width: 100%;
    }

    div#card1-content-background-home-iv {
      width: 107%;
      margin: 10vw auto 0;
    }
  }

</style>


<style>
  @media (max-width: 767px) {
    /* Ensure the scroll container is scrollable */
    .zxcvbn-scroll {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      padding-bottom: 20px; /* Space for arrows and scrollbar */
    }
    .zxcvbn-scroll .comparison-table {
      width: max-content; /* Ensure table can expand beyond viewport */
    }
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const scrollContainer = document.querySelector('.zxcvbn-scroll');
    const leftArrow = document.querySelector('.scroll-left');
    const rightArrow = document.querySelector('.scroll-right');
    const leftIcon = document.querySelector('.left-icon');
    const rightIcon = document.querySelector('.right-icon');
  
    if (scrollContainer && leftArrow && rightArrow && leftIcon && rightIcon) {
      const updateArrowStates = () => {
        const scrollLeft = scrollContainer.scrollLeft;
        const maxScroll = scrollContainer.scrollWidth - scrollContainer.clientWidth;
  
        // Left arrow: active if not at start, inactive at start
        if (scrollLeft <= 0) {
          leftArrow.classList.add('disabled');
          leftIcon.src = leftIcon.dataset.inactive;
        } else {
          leftArrow.classList.remove('disabled');
          leftIcon.src = leftIcon.dataset.active;
        }
  
        // Right arrow: active if not at end, inactive at end
        if (scrollLeft >= maxScroll - 1) { // -1 for rounding errors
          rightArrow.classList.add('disabled');
          rightIcon.src = rightIcon.dataset.inactive;
        } else {
          rightArrow.classList.remove('disabled');
          rightIcon.src = rightIcon.dataset.active;
        }
      };
  
      // Initial state check
      updateArrowStates();
  
      // Update states on scroll
      scrollContainer.addEventListener('scroll', updateArrowStates);
  
      // Scroll left
      leftArrow.addEventListener('click', () => {
        if (!leftArrow.classList.contains('disabled')) {
          scrollContainer.scrollBy({ left: -200, behavior: 'smooth' });
        }
      });
  
      // Scroll right
      rightArrow.addEventListener('click', () => {
        if (!rightArrow.classList.contains('disabled')) {
          scrollContainer.scrollBy({ left: 200, behavior: 'smooth' });
        }
      });
    }
  });
</script>


                  
        <!--
          _card-content
          <span class="_card-bg" id="home-4-tblsec-bg">
            <figure class="fun fun-butter _hearting _1">
              <span class="_body _skin">
                <svg xmlns="http://www.w3.org/2000/svg" width="239" height="316" viewBox="0 0 239 316" fill="none">
                  <path d="M238.091 121.444C238.041 120.828 237.769 119.878 237.633 119.314C235.431 110.039 231.35 101.55 226.735 93.2903C224.348 89.0209 221.768 84.8523 219.519 80.5141C218.987 79.4931 218.919 77.5854 219.539 76.757C220.588 75.3563 222.275 75.9675 223.599 76.9337C224.915 77.8946 226.191 78.9138 227.512 79.8729C228.169 80.3498 228.842 80.8621 229.582 81.1641C231.567 81.9731 232.841 81.0157 232.564 78.9208C232.442 78.0041 232.12 77.112 231.855 76.2183C228.78 65.8832 224.334 56.1558 218.758 46.946C209.477 31.6157 196.849 20.1926 179.908 13.8142C167.678 9.20927 155.243 5.39569 142.355 3.01463C117.573 -1.56027 93.2078 -0.39624 69.224 7.60012C52.553 13.1589 38.4432 22.4853 27.2621 36.0457C18.4921 46.6828 12.3575 58.8125 7.8921 71.8112C7.09724 74.1216 6.30415 76.4532 5.79367 78.8343C5.31145 81.0811 6.82876 82.1798 8.90424 81.1641C10.0365 80.6077 11.0133 79.7192 12.0395 78.9561C13.0693 78.1966 13.9772 77.128 15.1254 76.7076C16.1887 76.319 17.7485 76.3561 18.5963 76.7376C20.3909 77.5554 18.3455 81.3319 18.0046 81.9431C14.8781 87.5372 11.6368 93.0677 8.65871 98.7395C5.02176 105.664 1.88115 112.816 0.554608 120.598C0.48042 121.033 0.411537 121.829 0.383275 122.672C0.339116 124.007 1.8423 124.815 2.92155 124.029C3.53801 123.583 4.09971 123.14 4.43885 122.884C6.84288 121.056 9.03318 118.945 11.363 117.009C13.0146 115.633 15.1007 113.983 17.0702 115.191C18.4303 116.029 17.722 119.104 16.9271 120.939C12.5907 130.91 9.46418 141.27 6.74044 151.766C6.27235 153.569 5.7495 155.38 5.54637 157.222C5.44745 158.111 5.76893 159.51 6.38363 159.882C7.03365 160.276 8.36903 159.946 9.19922 159.527C10.3191 158.96 11.2111 157.955 12.2639 157.226C14.463 155.701 16.6127 154.073 18.946 152.78C22.6236 150.743 24.5543 151.828 24.6055 155.95C24.6408 158.967 24.6267 162.048 24.0844 164.996C22.8215 171.865 21.4366 178.724 19.7109 185.482C17.8438 192.797 17.812 196.199 18.3102 203.687C18.4497 205.767 18.644 208.118 19.3647 209.876C19.6243 210.507 20.4687 211.591 21.0109 211.718C21.9665 211.946 22.9592 211.353 23.3266 210.662C23.9131 209.549 24.8581 208.385 25.4798 207.271C28.8854 201.178 31.0139 198.73 34.5872 192.735C35.1154 191.852 36.1788 190.349 37.6643 190.506C39.5631 190.707 39.7397 192.777 39.9129 193.807C41.0327 200.463 48.6016 237.149 48.8048 237.901C50.9156 245.634 53.8954 253.133 56.6527 260.678C56.8559 261.235 57.2975 262.053 57.7956 262.858C58.4703 263.952 60.1078 263.789 60.5494 262.583C60.8461 261.774 61.0952 260.975 61.2329 260.435C62.6284 254.901 63.7995 249.31 65.096 243.751C65.4104 242.4 65.6824 240.952 66.3837 239.798C66.9118 238.922 68.0988 237.924 68.982 237.936C69.8793 237.951 71.2535 238.957 71.5556 239.83C72.2657 241.884 72.6949 244.099 72.8274 246.274C73.2301 252.899 73.4332 259.537 73.7229 266.168C73.753 266.864 73.8254 267.631 73.9314 268.224C74.2899 270.197 75.5529 271.107 76.8141 271.245C77.7167 271.342 79.3824 270.333 80.073 269.312C82.258 266.078 83.0564 260.489 86.1352 261.272C88.2955 261.82 87.6419 264.201 87.5748 265.847C87.165 275.853 86.7164 285.86 86.1564 295.859C85.9197 300.113 84.6091 301.203 80.2037 301.434C79.5043 301.473 78.7977 301.455 78.1124 301.563C74.5196 302.144 72.1915 304.643 72.2215 307.846C72.2498 310.951 74.3818 313.38 78.1053 313.578C82.9787 313.843 87.8998 313.823 92.7626 313.429C96.7793 313.104 98.3232 311.006 98.5704 306.867C98.6482 305.59 98.6199 304.304 98.6446 303.022C98.8725 290.678 99.0845 278.332 99.3653 265.986C99.3989 264.572 99.7239 263.165 99.9676 261.756C100.031 261.387 100.332 261.101 100.702 261.051C101.008 261.011 101.31 261.15 101.473 261.417C102.063 262.388 102.764 263.328 103.055 264.383C103.928 267.518 104.505 270.736 105.313 273.891C105.767 275.67 106.689 277.212 108.814 277.229C110.845 277.249 111.935 275.889 112.643 274.168C112.908 273.523 113.088 272.843 113.279 272.172C114.462 268.028 115.586 263.863 116.836 259.741C117.644 257.07 118.345 254.304 119.645 251.875C120.35 250.554 122.134 249.174 123.559 249.022C125.668 248.8 126.147 251.059 126.483 252.755C127.166 256.18 127.504 259.679 128.297 263.075C129.086 266.465 129.987 269.878 131.338 273.066C132.488 275.769 134.829 275.707 136.321 273.145C137.554 271.036 140.334 261.774 143.666 262.505C146.344 263.083 145.582 265.895 145.607 267.871C145.706 276.728 145.628 285.583 145.754 294.439C145.817 299.094 146.093 303.751 146.411 308.399C146.711 312.716 149.002 315.019 153.321 315.176C157.389 315.323 161.474 315.185 165.551 315.072C166.572 315.044 167.613 314.717 168.596 314.376C170.796 313.606 172.002 312.029 172.117 309.663C172.239 307.164 171.175 305.302 168.86 304.423C167.134 303.767 165.283 303.398 163.462 303.036C159.627 302.271 158.864 301.547 158.765 297.813C158.484 287.216 158.253 276.618 158.021 266.022C158 264.976 157.963 263.899 158.184 262.888C158.198 262.819 158.223 262.717 158.247 262.591C158.519 261.38 160.105 261.069 160.814 262.088C160.96 262.297 161.075 262.471 161.133 262.577C161.736 263.687 161.96 264.997 162.453 266.172C163.292 268.184 163.873 270.869 166.657 270.59C169.342 270.323 169.653 267.652 170.128 265.513C171.315 260.172 172.376 254.802 173.578 249.458C173.991 247.616 174.634 245.613 176.98 245.629C179.484 245.648 180.099 247.759 180.544 249.725C180.8 250.849 180.77 252.037 180.841 253.196C180.894 254.009 180.934 254.892 180.995 255.6C181.154 257.425 182.425 258.958 183.399 259.193C184.103 259.361 185.554 258.262 186.02 257.015C186.317 256.208 186.703 254.556 186.877 253.648C187.956 248.049 191.056 234.642 191.1 233.967C191.165 232.952 196.585 198.621 198.224 191.401C198.925 188.317 201.232 187.704 203.39 190.017C203.888 190.55 204.279 191.191 204.678 191.802C208.43 197.534 210.193 198.96 213.628 205.031C214.312 206.234 215.508 207.915 216.55 207.977C218.595 208.095 218.54 205.829 219.014 204.333C219.083 204.112 219.077 203.87 219.123 203.644C220.434 196.886 220.404 195.729 219.503 188.66C218.784 183.001 216.516 177.626 215.486 172.026C214.501 166.663 213.898 161.202 213.588 155.756C213.376 152.036 215.465 150.862 218.752 152.502C220.823 153.534 222.766 154.85 224.686 156.161C226.316 157.275 227.738 158.715 229.416 159.745C231.384 160.953 232.855 159.981 232.792 157.664C232.776 156.975 232.571 156.29 232.421 155.608C229.882 144.206 226.373 133.101 221.935 122.287C221.508 121.248 221.112 120.206 220.752 119.143C220.245 117.643 219.791 115.766 221.575 115.08C222.605 114.685 224.32 115.105 225.313 115.776C227.325 117.136 229.04 118.931 230.909 120.508C232.067 121.485 233.187 122.564 234.501 123.267C235.289 123.688 236.568 123.801 237.331 123.435C237.827 123.19 238.165 122.301 238.094 121.443L238.091 121.444ZM120.689 137.321C120.936 138.485 121.033 139.682 121.118 140.991C121.251 143.036 121.196 145.091 120.91 147.119C120.82 147.746 120.708 148.385 120.56 149.016C120.161 150.69 119.037 151.89 117.114 151.898C115.153 151.907 114.023 150.717 113.811 148.964C113.358 145.204 112.933 141.417 112.905 137.633C112.89 135.643 113.901 133.751 116.361 133.523C118.241 133.346 120.166 134.904 120.689 137.322V137.321ZM107.401 74.8882C108.045 74.081 108.785 73.2896 109.628 72.705C111.465 71.4279 113.403 71.5568 115.114 72.9328C116.84 74.3177 117.317 76.1847 116.441 78.2461C116.082 79.0851 115.533 79.8711 114.961 80.5918C109.805 87.0532 107.434 94.3872 107.943 102.643C107.983 103.337 107.987 104.042 107.923 104.733C107.646 107.766 105.956 109.581 103.462 109.564C101.058 109.548 99.0262 107.646 98.7312 104.862C98.5475 103.141 98.6959 101.386 98.6959 99.6421C98.4927 90.3157 101.633 82.1285 107.401 74.8882ZM84.6886 119.512C84.5808 121.005 84.2487 122.508 83.8301 123.949C82.8639 127.282 80.61 129.321 77.1674 129.821C73.6417 130.335 70.7289 129.112 68.6782 126.164C67.8197 124.931 67.1997 123.529 66.4208 122.232C66.1487 121.78 65.7902 121.024 65.4104 120.196C64.8964 119.067 63.2272 119.295 63.0399 120.522C62.8421 121.814 62.6602 123.071 62.563 123.875C61.1976 135.245 62.2362 146.391 65.8061 157.293C66.2017 158.496 66.5162 159.771 66.5903 161.029C66.7175 163.233 65.7566 164.869 63.5239 165.519C61.3566 166.146 59.1133 165.415 58.1718 163.336C57.0272 160.806 56.1264 158.132 55.4057 155.445C51.0445 139.156 51.4861 122.963 56.7411 106.944C57.3769 105.014 58.4014 103.021 59.7739 101.553C63.5098 97.5649 69.0791 98.8066 70.8402 103.987C71.9212 107.17 72.52 110.518 73.3873 113.777C73.6275 114.679 73.9879 116.025 74.3253 117.369C74.509 118.108 75.5723 118.071 75.7066 117.32C75.9397 115.995 76.1888 114.672 76.3778 113.791C78.7376 102.981 81.2335 92.2075 85.8473 82.072C86.2801 81.1217 86.6669 80.1308 87.2321 79.2617C88.7194 76.9902 91.1252 76.2642 93.2519 77.3435C95.4192 78.4386 96.3272 80.7985 95.4369 83.289C95.0483 84.3789 94.476 85.4052 93.962 86.4491C88.7918 96.8848 85.5152 107.847 84.685 119.508L84.6886 119.512ZM131.769 176.933C130.07 177.308 128.353 177.604 126.633 177.875C118.525 179.169 110.186 177.442 103.371 172.872C103.165 172.734 102.962 172.591 102.757 172.452C100.513 170.88 100.243 169.587 95.3733 170.037C92.2592 170.323 90.9963 168.43 91.5544 165.325C92.3281 161.018 96.5621 156.811 100.953 155.988C103.896 155.435 106.176 157.091 105.526 159.941C104.564 164.175 106.947 165.842 109.972 167.492C115.838 170.7 122.074 170.297 128.364 169.527C129.054 169.444 129.74 169.285 130.43 169.202C133.633 168.818 135.526 169.772 136.03 171.996C136.537 174.245 134.981 176.227 131.768 176.935L131.769 176.933ZM127.747 137.487C127.959 135.489 129.261 133.643 131.67 133.74C134.159 133.839 134.79 135.86 135.134 137.895C135.15 137.985 135.164 138.073 135.178 138.161C135.742 141.68 135.611 145.285 134.677 148.724C134.631 148.901 134.58 149.074 134.528 149.251C133.972 151.134 132.536 152.036 130.492 151.808C128.532 151.591 127.461 150.31 127.426 148.563C127.346 144.875 127.353 141.152 127.747 137.488V137.487ZM136.954 101.822C136.456 104.544 134.544 105.952 132.04 105.786C129.531 105.618 128.09 104.017 127.954 101.069C127.806 97.8245 128.136 94.5037 127.574 91.3349C126.624 85.9863 125.239 80.7031 123.837 75.4446C122.964 72.1733 123.66 69.6121 126.115 68.637C128.662 67.6267 131.178 68.7306 132.566 71.8023C136.023 79.456 137.086 87.6131 137.358 96.7029C137.275 97.8916 137.305 99.8912 136.954 101.82V101.822ZM182.699 160.456C181.265 164.779 179.131 166.409 176.1 165.503C173.223 164.644 172.285 161.696 173.685 157.581C177.515 146.363 178.571 134.879 176.937 123.156C176.808 122.234 176.474 120.932 176.188 119.676C175.996 118.839 174.856 118.707 174.484 119.48C173.528 121.471 172.546 123.718 171.606 125.292C168.971 129.713 164.295 131.163 159.939 128.943C156.809 127.344 155.711 124.506 155.204 121.257C154.347 115.746 153.902 110.108 152.383 104.775C150.574 98.4322 147.824 92.3594 145.462 86.1788C145.132 85.3116 144.598 84.5238 144.279 83.6547C143.253 80.8797 144.062 78.5146 146.353 77.3859C148.871 76.1476 151.512 76.893 152.667 79.7863C154.953 85.5005 157.129 91.2854 158.853 97.1851C160.577 103.095 161.669 109.188 163.087 115.19C163.26 115.925 163.506 117.364 163.808 118.749C164.004 119.644 165.247 119.74 165.583 118.883C166.553 116.384 166.682 113.354 167.102 111.528C167.65 109.149 167.909 106.693 168.602 104.362C170.209 98.9691 175.95 97.5066 179.804 101.567C181.116 102.952 182.155 104.795 182.756 106.614C188.661 124.555 188.646 142.517 182.697 160.458L182.699 160.456Z" fill="#FF7F4D"/>
                </svg>
              </span>
              <span class="_hand-left _skin">
                <svg xmlns="http://www.w3.org/2000/svg" width="97" height="40" viewBox="0 0 97 40" fill="none">
                  <path d="M69.3055 6.6325C69.6747 15.5774 64.6971 18.3735 62.3125 18.9406C61.583 19.1137 60.1734 19.9421 59.4351 20.1222L64.5416 31.2221C65.0239 31.0543 66.1879 30.5368 66.6666 30.3636C69.7171 29.2508 72.5927 28.9506 76.0036 28.4772C87.4196 26.8892 93.8422 22.355 95.6456 20.8482C96.4688 20.1594 96.9227 18.99 96.6949 17.8277C96.0996 14.8002 92.0122 15.2612 90.7934 12.6823C89.458 9.85789 92.2683 5.31829 91.2951 2.31193C90.4331 -0.348225 87.3967 -0.116809 85.5862 1.71668C83.8357 3.49012 81.4423 7.0829 79.1283 6.07961C75.9435 4.7036 77.0917 1.95866 73.2816 1.43758C71.3404 1.17263 69.2154 4.37685 69.3073 6.62897L69.3055 6.6325Z" fill="#FF7F4D"/>
                  <path d="M2.23496 22.4892C0.131219 25.4178 -0.850883 31.2186 1.67679 34.2002C2.87439 35.6133 4.66726 37.0388 6.42303 37.6253C14.3187 40.2624 21.9635 39.5612 30.1966 38.3353C40.0741 36.8675 55.4098 33.6032 65.0559 31.0172C64.9075 28.645 60.3591 22.2049 60.2107 19.8326C46.3218 23.4554 36.7534 27.345 22.4316 28.3147C21.529 28.3748 17.3463 28.6662 15.9367 28.6856C14.8044 28.6998 13.054 27.7724 13.6598 26.8168C13.8859 26.4618 14.1809 26.1403 14.5042 25.886C15.4492 25.1476 22.7496 21.3411 23.7458 20.6716C25.362 19.5871 26.436 17.7324 26.5738 15.7876C26.7027 13.9577 25.2932 9.8968 23.2265 9.7237C21.4071 9.57179 16.6415 11.1297 14.8468 12.2673C10.869 14.7967 5.37204 18.1192 2.2332 22.4892H2.23496Z" fill="#FF7F4D"/>
                </svg>
              </span>
              <span class="_hand-right _skin">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="39" viewBox="0 0 80 39" fill="none">
                  <path d="M25.1861 13.2644C26.7282 22.0821 32.1862 23.7566 34.6362 23.8025C35.3851 23.8166 36.9378 24.3289 37.7009 24.3413L35.0725 36.2749C34.5655 36.2113 33.3167 35.9551 32.8115 35.8862C29.5932 35.4482 26.7229 35.7679 23.2873 36.0293C11.7935 36.9054 4.55316 33.8408 2.47238 32.7527C1.5203 32.2546 0.829662 31.2107 0.804933 30.0272C0.741343 26.9413 4.83225 26.5227 5.47697 23.7442C6.18175 20.699 2.47061 16.8624 2.78149 13.7183C3.05704 10.938 6.074 10.5141 8.23427 11.9237C10.3204 13.2838 13.4239 16.2849 15.4711 14.8135C18.2902 12.7892 16.5839 10.3534 20.1944 9.03569C22.0384 8.36094 24.7975 11.0423 25.1861 13.2608V13.2644Z" fill="#FF7F4D"/>
                  <path d="M60.3548 0.074707C64.9138 2.49993 68.5225 5.78893 71.9528 9.45945C75.3848 13.13 78.045 18.1535 79.2885 23.0199C79.8714 25.2985 80.0922 27.7025 79.6223 30.0076C79.1489 32.311 77.9372 34.5083 76.0437 35.9038C73.569 37.7284 70.3065 37.9898 67.2313 38.1029C58.728 38.412 50.1982 38.064 41.7496 37.0625C40.1069 36.8664 34.5199 36.4884 33.6914 35.9532C32.0311 34.8881 35.5091 31.8111 36.1184 29.9352C36.7261 28.0575 36.3851 25.9361 37.6375 24.41C37.6375 24.41 54.0665 29.5113 63.8151 26.6639C65.3889 26.2046 66.5618 25.461 67.2896 23.9914C68.2028 22.142 67.4326 19.9588 66.0478 18.4273C62.7164 14.7444 59.7348 12.699 55.7763 9.87456C56.8556 7.22854 58.7845 2.46284 60.3548 0.074707Z" fill="#FF7F4D"/>
                </svg>
              </span>
              <span class="_heart">
                <svg xmlns="http://www.w3.org/2000/svg" width="77" height="69" viewBox="0 0 77 69" fill="none">
                  <path d="M38.7197 12.4542C38.0096 10.4865 26.1785 -6.45302 8.13326 2.85045C-0.403604 7.25224 -1.50226 19.4031 2.02165 28.8708C5.4537 38.0931 12.77 45.5754 20.3707 51.687C27.7612 57.6256 38.2887 62.4689 44.7183 68.6053C49.703 61.8154 58.6938 56.0217 64.2967 49.6734C69.9156 43.3056 74.8861 35.8374 76.0837 27.1098C77.3007 18.2285 74.0118 7.03147 65.6604 2.87697C49.3409 -5.24303 38.718 12.456 38.718 12.456L38.7197 12.4542Z" fill="#FF7DAC"/>
                </svg>
              </span>
            </figure>
            <div class="table-home-heading">
              <div class="_heading">
                <div class="title-3 text-sand heading-1">
                  <h2>
                    <span data-splitting>{{ section.settings.subheading }}</span>
                  </h2>
                </div>
                <div class="title-2 text-sand heading-2">
                  <h2>
                    <span data-splitting>{{ section.settings.heading }}</span>
                  </h2>
                </div>
              </div>
            </div>
          </span>
        -->
      </div>
      <!-- card-i -->
    </div>
    <!-- _container full-1 -->
  </div>
  <!-- _inside _2 -->

  <div class="_inside">
    <div class="_pictures"></div>
  </div>
</section>
                  

{% schema %}
{
  "name": "Home IV",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff7eb"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Upgrade Your Everyday Snack!"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Us Versus Them"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "image_5",
      "label": "Image 5"
    }
  ],
  "presets": [
    {
      "name": "Home IV",
      "category": "Custom"
    }
  ]
}
{% endschema %}
