{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="_account _1">
  <div class="_content">
    <div class="_container full-3">
      <div class="in-account">
        <div class="card-i _bubblegum">
          <div class="_card-content" id="login-content-bg">
            <div class="customer register section-{{ section.id }}-padding">
              <h1 class="title-3 text-dusk">
                {{ 'customer.register.title' | t }}
              </h1>
              {%- form 'create_customer', novalidate: 'novalidate' -%}
                {%- if form.errors -%}
                  <h2 class="form__message" tabindex="-1" autofocus>
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                  <ul>
                    {%- for field in form.errors -%}
                      <li>
                        {%- if field == 'form' -%}
                          {{ form.errors.messages[field] }}
                        {%- else -%}
                          <a href="#RegisterForm-{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                <div class="field">
                  <input
                    type="text"
                    name="customer[first_name]"
                    id="RegisterForm-FirstName"
                    {% if form.first_name %}
                      value="{{ form.first_name }}"
                    {% endif %}
                    autocomplete="given-name"
                    placeholder="{{ 'customer.register.first_name' | t }}"
                  >
                  <label for="RegisterForm-FirstName">
                    {{ 'customer.register.first_name' | t }}
                  </label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    name="customer[last_name]"
                    id="RegisterForm-LastName"
                    {% if form.last_name %}
                      value="{{ form.last_name }}"
                    {% endif %}
                    autocomplete="family-name"
                    placeholder="{{ 'customer.register.last_name' | t }}"
                  >
                  <label for="RegisterForm-LastName">
                    {{ 'customer.register.last_name' | t }}
                  </label>
                </div>
                <div class="field">
                  <input
                    type="email"
                    name="customer[email]"
                    id="RegisterForm-email"
                    {% if form.email %}
                      value="{{ form.email }}"
                    {% endif %}
                    spellcheck="false"
                    autocapitalize="off"
                    autocomplete="email"
                    aria-required="true"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="RegisterForm-email-error"
                    {% endif %}
                    placeholder="{{ 'customer.register.email' | t }}"
                  >
                  <label for="RegisterForm-email">
                    {{ 'customer.register.email' | t }}
                  </label>
                </div>
                {%- if form.errors contains 'email' -%}
                  <span id="RegisterForm-email-error" class="form__message">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}.
                  </span>
                {%- endif -%}
                <div class="field">
                  <input
                    type="password"
                    name="customer[password]"
                    id="RegisterForm-password"
                    aria-required="true"
                    {% if form.errors contains 'password' %}
                      aria-invalid="true"
                      aria-describedby="RegisterForm-password-error"
                    {% endif %}
                    placeholder="{{ 'customer.register.password' | t }}"
                  >
                  <label for="RegisterForm-password">
                    {{ 'customer.register.password' | t }}
                  </label>
                </div>
                {%- if form.errors contains 'password' -%}
                  <span id="RegisterForm-password-error" class="form__message">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{ form.errors.translated_fields.password | capitalize }}
                    {{ form.errors.messages.password }}.
                  </span>
                {%- endif -%}
                <button id="RegisterForm-btn">
                  {{ 'customer.register.submit' | t }}
                </button>
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% render 'foot' %}
  </div>
  <figure class="_bg">
    <img src="https://cdn.shopify.com/s/files/1/0658/4474/0231/files/Account_1.png?v=1748340497">
  </figure>
</section>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}

<style>
  
  .field__input {
    font-size: 1rem;
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
  }

  .field__label {
    position: absolute;
    left: 12px!important;
    top: 44%!important;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #666;
    transition: all 0.2s ease;
    pointer-events: none;
    background:none;
    padding: 0 4px;
  }

  .field__input:focus ~ .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label,
  .field__input:-webkit-autofill ~ .field__label,
  .customer .field input:focus ~ .field__label,
  .customer .field input:not(:placeholder-shown) ~ .field__label,
  .customer .field input:-webkit-autofill ~ .field__label {
    top: 0;
    left: 0;
    letter-spacing: 0.04rem;
    transform: translateY(-110%) scale(0.9) !important;
    color: #333;
    padding: 0;
  }

  .field__input:focus {
    outline: none;
    border-color: #007bff;
  }

  .field__input[aria-invalid="true"] {
    border-color: #dc3545;
  }
  .field__input, .customer .field input {
    color: #3973c6 !important;
  }
  .form__message {
    color: #dc3545;
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
</style>
